.markdown-body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.sg-sub-section {
	margin-top: 10px;
	margin-bottom: 40px;
}

pre {
	
	
}

.markdown-body code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.expand-bar {
	width: 100%;
	text-align: right;

}

.expand-bar a {

	    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
		font-size: 12px;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
		border-radius: 3px;
		margin-bottom: 10px;*/

}


.expand-bar a:link {
		background-color: #e2e7e8;
        border: 1px solid #e2e7e8;
        color: #848d93;
}

.expand-bar a:hover {
    background-color: #d5dee1;
    border: 1px solid #d5dee1;
        color: #72797e;
}

.expand-bar a:visited {
		background-color: #e2e7e8;
        border: 1px solid #e2e7e8;
        color: #848d93;
}

.expand-bar a:visited:hover {
    background-color: #d5dee1;
    border: 1px solid #d5dee1;
        color: #72797e;
}



/*
.expand-bar a:link {
        background-color: #f7f8f9;
		border: 1px solid #cad5d8;
        color: #fff;
}

.expand-bar a:hover {
    background-color: #f7f8f9;
    border: 1px solid #cad5d8;
    color: #868e93;
}

.expand-bar a:visited {
		background-color: #eff2f2;
        border: 1px solid #cad5d8;
        color: #868e93;
}

.expand-bar a:visited:hover {
    background-color: #f7f8f9;
    border: 1px solid #cad5d8;
    color: #868e93;
}

*/

hr {
	border: 0;
    height: 1px;
    background: #e2e7e8;

}

.table {
	
	width: 100%;

}

.table th {
	font-weight: 500;
	font-size: 14px;
	
}






