
/*#####################navigation panel with lpanel-bg2 theme Color Start################*/

#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel {
    background: #e2e7e8 none repeat scroll 0 0;
    color: #4f5051;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);*/
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .profile-box {
    /*border-bottom: 1px solid #edf1f2;*/
    border-bottom: 1px solid #ff9900;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .profile-box {
    border-bottom: 0px;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .profile-box .media a > img {
    border: 1px solid #edf1f2;
}

/* Parent Styling */
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a {
    background: #e2e7e8;
    /*border-top: 1px solid #edf1f2;*/
    color: #4f5051;
	/*border-right: 1px solid #edf1f2;*/
}


#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li:last-child > a {
    /*border-bottom: 1px solid #edf1f2;*/
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li:first-child > a {
    border-top: 0px solid #edf1f2;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a:focus {
    color: #007b89;
    background: #eff2f2;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li.active > a {
    background: #e2e7e8;
    border-top: 1px solid #edf1f2;
    color: #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #e2e7e8;
    color: #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul {
    background: #fafafa;
    /*box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);*/
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
    background: #e2e7e8;
    /*border-top: 1px solid #dde5e8;*/
    border-top: 1px solid #e2e7e8;
    color: #4f5051;
}

/* My custom color for active state of child item */
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul.hoe-sub-menu li.active > a .menu-text {
    color: #007b89;
}

#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:focus {
    color: #4f5051;
    background: #eff2f2;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.active > a .selected {
    border-right: 7px solid #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li a .label {
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] .sul {
    background-color: #e2e7e8;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel {
    background: #e2e7e8;
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > a,
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > a {
    border-radius: 0px 4px 0px 0px;
    background: #e2e7e8;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #e2e7e8;
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a:hover {
    background: #e2e7e8;
    color: #FFF;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > ul.hoe-sub-menu,
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > ul.hoe-sub-menu {
    border-right: 1px solid #edf1f2;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .nav-level {
    /*border-top: 1px solid #edf1f2;*/
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .nav-level:first-child {
    border-top: 0px solid #edf1f2;
}
/*#####################navigation panel with lpanel-bg2 theme Color close*################*/

