
/*#####################navigation panel with lpanel-bg2 theme Color Start################*/

#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel {
    background: #f2f3f4 none repeat scroll 0 0;
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .profile-box {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .profile-box {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .profile-box .media a > img {
}

/* Parent Styling */
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a {
    background: #f2f3f4;
    color: #4f5051;
}


#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li:last-child > a {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li:first-child > a {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li > a:focus {
    color: #007b89;
    background: #fff;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li.active > a {
    background: #f2f3f4;
    color: #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #f2f3f4;
    color: #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul {
    background: #fafafa;
    /*box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);*/
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
    background: #f2f3f4;
    color: #4f5051;
}

/* My custom color for active state of child item */
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list ul.hoe-sub-menu li.active > a .menu-text {
    color: #007b89;
}

#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:focus {
    color: #4f5051;
    background: #fff; 
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.active > a .selected {
    border-right: 7px solid #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li a .label {
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] .sul {
    background-color: #f2f3f4;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel {
    background: #f2f3f4;
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > a,
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > a {
    border-radius: 0px 4px 0px 0px;
    background: #f2f3f4;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #f2f3f4;
    color: #4f5051;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a:hover {
    background: #f2f3f4;
    color: #007b89;
}
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > ul.hoe-sub-menu,
#hoeapp-container[hoe-color-type="lpanel-bg2"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > ul.hoe-sub-menu {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .nav-level {
}
#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .nav-level:first-child {
}
/*#####################navigation panel with lpanel-bg2 theme Color close*################*/

