@charset "UTF-8";
/* CSS Document */

body {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a:link {
	color: #007b89;
	text-decoration:none;
}

a:hover {
	color: #219ca5;
	text-decoration:none;
}

a:visited {
	color: #007b89;
}

a:visited:hover {
	color: #219ca5;
	text-decoration:none;
}

a:active {
	color: #007b89;
}


#hoeapp-container {
	
	overflow: scroll;
}

.hoe-left-header i.fa {
	
	color: #fff;
	
}

.jumbotron {
	background-color: #f7f8f9;
	background-image:url(../images/OptimizedGradient.png);
	background-position: right top;
	background-repeat:no-repeat;
	border-radius: 0px;
	border-bottom: 1px solid #E4E4E4;
	padding: 0;
	margin-top: -20px;
	
}

.jumbotron h1 {
	margin-top:40px;
	margin-bottom:20px;
	font-size:36px;
	font-weight: 300;
	color: #007b89;
}

.jumbotron p {
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}

.jumbotron ul {
	list-style-type: square;
}


.jumbotron li {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}


#main-content h1 {
	font-weight: 400;
	color: #007b89;
	font-size: 36px;
}

#main-content h2 {
	font-weight: 400;
	color: #868e93;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#main-content h3 {
	font-weight:300;
	/*color: #4f5051;*/
	color: #007b89;
	font-size: 18px;
	line-height: 1.25em;
	margin-bottom: 20px;
}

#main-content h4 {
	font-weight:700;
	color: #4f5051;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 20px;
}



#main-content .title-row {
	padding-top: 36px;
	background: #f7f8f9;	
	height: 68px;
}


#main-content .row {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-content ul.page-nav {
		padding: 0;
		margin: 0 0 20px 0;
		list-style-type: none;
		width: 300px;
}

#main-content .page-nav li {
	padding: 0;
	margin: 0;
	height: 32px;
	background-image: url(../images/line.png);
	background-repeat:no-repeat;
	padding-top: 5px;
}

#main-content .page-nav li a {
	background-repeat:no-repeat;
	background-position:left;
	padding-left: 10px;
	margin: 0;
	color: #007b89;
	font-size: 1.25em;
}

#main-content .page-nav li a:hover {
		color: #219ca5;
}

.expand-bar {
	margin-top: 36px;
}

.page-nav-title {
	font-weight: 700;
	color:#989B9F;
	padding-left: 10px;
}

pre {
}


/* Color Palette Page */

.palette-format table {
	    border-collapse: separate;
    	border-spacing: 10px 10px;
		font-size: 12px;  
}

.palette-format tr {
}

.palette-format td {
	vertical-align:top;
	padding: 10px;
}

.palette-format .colorchip {
	width: 150px;
	height: 150px;
	vertical-align:bottom;
	padding: 10px;
	font-weight: 400;

}

.palette-format .colorchip-small {
	width: 200px;
	height: 50px;
	vertical-align:bottom;
	padding: 10px;
	font-weight: 400;

}

.palette-format .hexstyle {
	display:block;
}

.palette-format .rgbstyle {
	display:block;
}

.palette-format .dark-label {
	color: #333;
}

.palette-format .light-label {
	color: #FFF;
}

.hexstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */ 
}

.rgbstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */ 
}

.lessstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */ 
}


.palette-format h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.article-title {
	
	border-top: 1px solid #cad5d8;
	padding-top: 40px;
	
}

a.back-to-top {
	color: #afb8bc;
	font-size: 11px;
	text-decoration: none;
}

a:hover.back-to-top {
	color: #007b89;
	font-size: 11px;
	text-decoration: none;
}

.example-box {
	background: #fff;
	border: 1px solid #eff2f2;
	padding: 20px;
}

.example-box-clear {
	padding: 20px;
}

.example-box td {
	vertical-align:text-bottom;
	padding: 30px 20px 20px 20px;
	text-align:: left;

}

.font-style-example {
	letter-spacing: -1.0px;
	font-size: 48px;
	line-height: 62px;
}

.font-size-example {
	letter-spacing: 0px;
}

span.font-example-light {
	font-family: 'opensans-light';
	color: #4f5051;
	margin: 0;
}

span.font-example-light-italic {
	font-family: 'opensans-light-italic';
	color: #4f5051;
	margin: 0;
}


span.font-example-regular {
	font-family: 'opensans-regular';
	color: #4f5051;
	margin: 0;
}

span.font-example-italic {
	font-family: 'opensans-italic';
	color: #4f5051;
	margin: 0;
}

span.font-example-semibold {
	font-family: 'opensans-semibold';
	color: #4f5051;
	margin: 0;
}

span.font-example-bold {
	font-family: 'opensans-bold';
	color: #4f5051;
	margin: 0;
}


span.font-example-bold-italic {
	font-family: 'opensans-bold-italic';
	color: #4f5051;
	margin: 0;
}


span.font-size-huge {
	font-family: 'opensans-regular';
	font-size: 22px;
	color: #4f5051;
	margin: 0;
}

span.icon-size-large {
	font-family: 'opensans-regular';
	font-size: 18px;
	color: #4f5051;
	margin: 0;
}

span.icon-size-medium {
	font-family: 'opensans-bold';
	font-size: 14px;
	color: #4f5051;
	margin: 0;
}

span.font-size-base {
	font-family: 'opensans-regular';
	font-size: 13px;
	color: #4f5051;
	margin: 0;
}

span.font-size-tiny {
	font-family: 'opensans-regular';
	font-size: 10px;
	color: #4f5051;
	margin: 0;
}


.characterset {
	padding: 20px;
	color: #4f5051;
	font-size: 22px;
	line-height: 1.875em;
}

.opensanssample {
	background: #007b89;
	color: #f7f8f9;
	height: auto;
	padding: 20px;
	border-radius: 1px;
	font-size: 32px;
	line-height: 36px;
}

pre {
    display: block;
    border: 0px solid #fff;
    border-radius: 0;
	margin:0;
}

.codewindow {
	background-color: #fff;
	background: #fff;
	border: 1px solid #ccc;
}

.iconTable {
	width: 100%;
}


table.iconTable tr:first-child th:last-child {
		border: none;
}


.ipswitchicon {
	font-family:ipswitchiconsregular;
}

.iconstyle {
	font-size:18px;
  	font-style: normal;
    font-weight: normal;
    text-align: center;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
	font-size: 14px;
}

.iconTable span {
	margin-right: 10px;
}

.download-font {
	text-align: center;
}


.download-font div {
	position: relative;
}

.download-font .fa {
	font-size: 56px;
}

.download-font span {
	display: block;
	margin-top: 10px;
}

.download-font a:link {
	color: #007b89;
}

.download-font a:hover {
	color: #219ca5;
	text-decoration:none;
}

.download-font a:visited {
	color: #007b89;
}

.download-font a:visited:hover {
	color: #219ca5;
	text-decoration:none;
}

.download-font a:active {
	color: #8BD0D8;
}

.fa-14pxicon .fa {
	font-size: 14px;
}


.fa-28pxicon .fa {
	font-size: 28px;	
}

.fa-56pxicon .fa {
	font-size: 56px;	
}

table.fa-sampleset {
	margin-bottom: 20px;
}

table.fa-sampleset td {
	padding: 20px;
}

table.fa-sampleset span {
	padding-right: 20px;
}

div.swatchColumn {
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	height: auto;
	margin-bottom: 50px;
	
}


.swatchColumn ul {
	margin: 0;
	padding: 0;
}

.swatchColumn li {
	-webkit-user-select: all;  /* Chrome 49+ */
  		-moz-user-select: all;     /* Firefox 43+ */
  		-ms-user-select: all;      /* No support yet */
  		user-select: all;          /* Likely future */ 
}

.verticalSwatch {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 50px;
	display: block;
	text-align: center;
	padding-top: 12px;

}


.verticalSwatch span {
	color: #fff;
	font-weight: 300;
}

.underconstruction {
	color: #;
	font-size: 18px;
	font-weight: 300;
}




