@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-light-italic';
    src: url('../fonts/OpenSans-LightItalic.eot');
    src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-italic';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic.woff') format('woff'),
         url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url('../fonts/OpenSans-BoldItalic.eot');
    src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
        font-family: "opensansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4f5051;
        font-size: 13px; /* 16px browser default, overriding the Ipswitch bootstrap which is incorrect */
}

p.ipstyleguide {
        font-size: 13px;
        color: #4f5051;
        line-height: 1.5em;
        margin-bottom: 1.5em;
}

li.ipstyleguide {
        font-size: .875em;
        color: #4f5051;
        line-height: 1.5em;
}



a:link {
	color: #007b89;
	text-decoration:none;
}

a:hover {
	color: #219ca5;
	text-decoration:none;
}

a:visited {
	color: #007b89;
}

a:visited:hover {
	color: #219ca5;
	text-decoration:none;
}

a:active {
	color: #007b89;
}


#hoeapp-container {
	
	overflow: scroll;
}

.hoe-left-header i.fa {
	
	color: #fff;
	
}

#main-content .ipswitchjumbotron {
	
	border-radius: 0px;
	padding: 0 15px 0 15px;
	height: 226px;
	margin-top: -20px;
	background: #016a77; /* Old browsers */
	background: -moz-linear-gradient(left, #016a77 0%, #44b8c5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #016a77 0%,#44b8c5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #016a77 0%,#44b8c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016a77', endColorstr='#44b8c5',GradientType=1 ); /* IE6-9 */
	color: #ffffff;
}

#main-content .ipswitchjumbotron .row {
	background-image:url(../images/IpswitchArt.png);
	background-position: right top;
	background-repeat:no-repeat;	
	height: 226px;
}


#main-content .ipswitchjumbotron h1.ipstyleguide {
	color: #ffffff;
	margin-top: 60px;
	font-size: 36px;	
}

#main-content .ipswitchjumbotron h2.ipstyleguide {
	color: #ffffff;
	font-family: "opensans-light";
	font-size: 20px;	
	margin-top: 0;
}

#main-content .ipswitchjumbotron .ipswitchtitle {
	color: #ffffff;
	font-size: 36px;	
}

#main-content .ipswitchjumbotron .ipswitchtitlecontainer {
	margin-top: 60px;
    margin-bottom: 10px;
}

#main-content .ipswitchjumbotron .version {
	font-size: 16px;
    margin-left: 8px;
}


#main-content h1.ipstyleguide {
	font-weight: 400;
	color: #007b89;
	font-size: 36px;
}

#main-content h2.ipstyleguide {
	font-weight: 400;
	color: #868e93;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#main-content h3.ipstyleguide {
	font-weight:300;
	/*color: #868e93;*/
	color: #007b89;
	font-size: 18px;
	line-height: 1.45em;
	margin-bottom: 20px;
}

#main-content h4.ipstyleguide {
	font-weight:700;
	color: #4f5051;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 20px;
}



#main-content .title-row {
	padding-top: 36px;
	height: 68px;
}


#main-content .row {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-content ul.page-nav {
		padding: 0;
		margin: 40px 0 50px 0;
		list-style-type: none;
}

#main-content .page-nav li {
	padding: 0;
	margin: 0;
	height: 28px;
	background-image: url(../images/line.png);
	background-repeat:no-repeat;
}

#main-content .page-nav li a {
	background-repeat:no-repeat;
	background-position:left;
	padding-left: 15px;
	margin: 0;
	color: #007b89;
	font-size: 1.25em;
}

#main-content .page-nav li a:hover {
		color: #219ca5;
}

.expand-bar {
	margin-top: 16px;
}

.page-nav-title {
	font-weight: 400;
	color:#989B9F;
	padding-left: 15px;
}

pre {
}


/* Color Palette Page */

.palette-format table {
	    border-collapse: separate;
    	border-spacing: 10px 10px;
		font-size: 12px;
        border: none;
}

.palette-format tr {
}

.palette-format td {
	vertical-align:top;
	padding: 10px;
    border: none;
}

.palette-format .colorchip {
	width: 150px;
	height: 150px;
	vertical-align:bottom;
	padding: 10px;
	font-weight: 400;

}

.palette-format .colorchip-small {
	width: 200px;
	height: 50px;
	vertical-align:bottom;
	padding: 10px;
	font-weight: 400;

}

.palette-format .hexstyle {
	display:block;
}

.palette-format .rgbstyle {
	display:block;
}

.palette-format .dark-label {
	color: #333;
}

.palette-format .light-label {
	color: #FFF;
}

.hexstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */ 
}

.rgbstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */ 
}

.lessstyle {
	-webkit-user-select: all;  /* Chrome 49+ */
  	-moz-user-select: all;     /* Firefox 43+ */
  	-ms-user-select: all;      /* No support yet */
  	user-select: all;          /* Likely future */
    font-weight: 600;
}


.palette-format h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.article-title {
	
	/*padding-top: 40px;*/
	
}

a.back-to-top {
	color: #afb8bc;
	font-size: 11px;
	text-decoration: none;
}

a:hover.back-to-top {
	color: #007b89;
	font-size: 11px;
	text-decoration: none;
}

.example-box {
	background: #fff;
	border: 1px solid #eff2f2;
	padding: 20px;
}

.example-box-clear {
	padding: 20px;
}

.example-box td {
	vertical-align:text-bottom;
	padding: 30px 20px 20px 20px;
	text-align:: left;

}

.font-style-example {
	letter-spacing: -1.0px;
	font-size: 48px;
	line-height: 62px;
}

.font-size-example {
	letter-spacing: 0px;
}

span.font-example-light {
	font-family: 'opensans-light';
	color: #4f5051;
	margin: 0;
}

span.font-example-light-italic {
	font-family: 'opensans-light-italic';
	color: #4f5051;
	margin: 0;
}


span.font-example-regular {
	font-family: 'opensans-regular';
	color: #4f5051;
	margin: 0;
}

span.font-example-italic {
	font-family: 'opensans-italic';
	color: #4f5051;
	margin: 0;
}

span.font-example-semibold {
	font-family: 'opensans-semibold';
	color: #4f5051;
	margin: 0;
}

span.font-example-bold {
	font-family: 'opensans-bold';
	color: #4f5051;
	margin: 0;
}


span.font-example-bold-italic {
	font-family: 'opensans-bold-italic';
	color: #4f5051;
	margin: 0;
}


span.font-size-huge {
	font-family: 'opensans-regular';
	font-size: 22px;
	color: #4f5051;
	margin: 0;
}

span.icon-size-large {
	font-family: 'opensans-regular';
	font-size: 18px;
	color: #4f5051;
	margin: 0;
}

span.icon-size-medium {
	font-family: 'opensans-bold';
	font-size: 14px;
	color: #4f5051;
	margin: 0;
}

span.font-size-base {
	font-family: 'opensans-regular';
	font-size: 13px;
	color: #4f5051;
	margin: 0;
}

span.font-size-tiny {
	font-family: 'opensans-regular';
	font-size: 10px;
	color: #4f5051;
	margin: 0;
}


.characterset {
	padding: 20px;
	color: #4f5051;
	font-size: 22px;
	line-height: 1.875em;
}

.opensanssample {
	background: #007b89;
	color: #f7f8f9;
	height: auto;
	padding: 20px;
	border-radius: 1px;
	font-size: 32px;
	line-height: 36px;
}

pre {
    display: block;
    border: 0px solid #fff;
    border-radius: 0;
	margin:0;
}

.codewindow {
	background-color: #fff;
	background: #fff;
	border: 1px solid #ccc;
}

.iconTable {
	width: 100%;
}


table.iconTable tr:first-child th:last-child {
		border: none;
}




/*@import url('../markup/ui-css/ipswitchicons.css');*/

/* ipswitchicons.css */
@font-face {
    font-family: 'ipswitchiconsregular';
    src: url(' fonts/ipswitchicons-regular.eot');
    src:url('fonts/ipswitchicons-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ipswitchicons-regular.woff') format('woff'),
        url('fonts/ipswitchicons-regular.ttf') format('truetype'),
        url('fonts/ipswitchicons-regular.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ipswitchicon {
	font-family:ipswitchiconsregular;
}


.iconstyle {
	font-size:18px;
  	font-style: normal;
    font-weight: normal;
    text-align: center;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
	/*font-size: 14px;*/
}

.iconTable span {
	margin-right: 10px;
}

.download-font {
	text-align: center;
}


.download-font div {
	position: relative;
}

.download-font .fa {
	font-size: 56px;
}

.download-font span {
	display: block;
	margin-top: 10px;
}

.download-font a:link {
	color: #007b89;
}

.download-font a:hover {
	color: #219ca5;
	text-decoration:none;
}

.download-font a:visited {
	color: #007b89;
}

.download-font a:visited:hover {
	color: #219ca5;
	text-decoration:none;
}

.download-font a:active {
	color: #8BD0D8;
}

.fa-14pxicon .fa {
	font-size: 14px;
}


.fa-28pxicon .fa {
	font-size: 28px;	
}

.fa-56pxicon .fa {
	font-size: 56px;	
}

table.fa-sampleset {
	margin-bottom: 20px;
}

table.fa-sampleset td {
	padding: 20px;
}

table.fa-sampleset span {
	padding-right: 20px;
}

div.swatchColumn {
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	height: auto;
	margin-bottom: 50px;
	
}


.swatchColumn ul {
	margin: 0;
	padding: 0;
}

.swatchColumn li {
	-webkit-user-select: all;  /* Chrome 49+ */
  		-moz-user-select: all;     /* Firefox 43+ */
  		-ms-user-select: all;      /* No support yet */
  		user-select: all;          /* Likely future */ 
}

.verticalSwatch {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 50px;
	display: block;
	text-align: center;
	padding-top: 12px;

}


.verticalSwatch span {
	color: #fff;
	font-weight: 300;
}

.underconstruction {
	color: #;
	font-size: 18px;
	font-weight: 300;
}

.highlystyleicontable {
	border-collapse: separate;
    border-spacing: 5px 5px;
}

.highlystyleicontable td {
	padding: 26px;
	background-color: #fff;
	text-align:center;
}

stylebootstrapgrids .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-xs-4, .col-xs-6, .col-xs-9, .col-sm-9, .col-xs-8, .col-sm-6, .col-xs-4 {
    border: 1px solid #8BD0D8;
    background-color: #e0f2f5;
	padding-top:10px;
	padding-bottom:10px;
    color: #08a3bc;
	
}

stylebootstrapgrids .row {
	padding-left: 10px;
	padding-right: 10px;
}

.highlight {
    background: orange;
    color: black;
}

mark {
	background: #fcebeb;
	color: #f0554c;
    font-weight: 400;
}

/* orange highlight
mark {
	background: #fff7cd;
	color: #f26d00;
}*/

.storydivider {
	margin-top: 20px;
	margin-bottom: 40px;
}

.storydivider hr {
	margin: 0;
}

.searchicon {
    color: #fff;
    float: right;
    font-size: 22px;
    margin-right: 20px;
}

.searchicon a:link {
    color: #d1d2d4;
}

.searchicon a:hover {
    color: #f7f8f9;
}

.searchicon a:active {
    color: #d1d2d4;
}

.searchicon a:visited {
    color: #d1d2d4;
}


.htmlexample {
    border: 1px solid #e2e7e8;
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
    
}

.htmlexample-noborder {
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
    
}

.ipstyleguideemphasis {
    color: #00bcd4;
}






/* Search  */

.searchcontainer {
    width: 30%;
    float: right;
}

.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#666768;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-family: "opensans-light";
    font-size:18px;
    color:#f7f8f9;
    float:right;
}
.searchbox-input::-webkit-input-placeholder {
    color: #f7f8f9;
}
.searchbox-input:-moz-placeholder {
    color: #f7f8f9;
}
.searchbox-input::-moz-placeholder {
    color: #f7f8f9;
}
.searchbox-input:-ms-input-placeholder {
    color: #f7f8f9;
}

.searchbox-icon,
.searchbox-submit {
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:ipswitchiconsregular;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#eff2f2;
    background:#4f5051;
}

.searchbox-open{
    width:100%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #f7f8f9;
}

.searchbox-icon:hover {
    color: #fff;
    background:#636567;
}


.sticky {
    position: fixed;
    width: 230px;
    top: 50px;
    /*z-index: 100;*/
}

.stickycollapsed {
    position: fixed;
    width: 50px;
    top: 50px;
    /*z-index: 100;*/
}

.stickywide {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 101;
}

#main-content .page-nav li.page-nav-sub {
    height: 28px;
    margin: 0;
}

#main-content .page-nav li.page-nav-sub a {
    margin-left: 12px;
    font-size: 14px;
}

table .ipstyleguidetable {
    border-collapse: collapse;
}

table.ipstyleguidetable, td {
    border: 1px solid #ccc;
    padding: 10px;
}

td.borderequired {
    border: 1px solid #d4d4d4;
    padding: 10px;
}

#main-content .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


#main-content .bs-callout-info {
    border-left-color: #219ca5;
}

#main-content .bs-callout-danger {
    border-left-color: #f0554c;
}

#main-content a.ipstyleguide {
    color: #08a3bc;
    text-decoration: none;
}

#main-content a.ipstyleguide:hover {
    color: #08a3bc;
    text-decoration: underline;    
}

#main-content a.ipstyleguide:active {
    color: #08a3bc;
    
}

#main-content a.ipstyleguide:visited {
     color: #08a3bc;
   
}

#main-content span.ipstyleguidenote {
    color: #868e93;
    font-style: italic;
}









