@charset "UTF-8";
/* CSS Document */	
    
        .highlight { 
            
            background: #e0f2f5;
            color: #0493aa;

        }
		.searchheading { font-size: 130%; font-weight: bold; }
		.summary { font-style: italic; }
		.suggestion { font-size: 100%; }
		.results { font-size: 100%; }
		.category { color: #999999; }
		.sorting { text-align: right; }

		.result_title { font-size: 120%; }		
		.description { font-size: 100%; color: #008000; }
		.context { font-size: 100%; }
		.infoline { font-size: 85%; font-style: normal; color: #808080;}

		.zoom_searchform { font-size: 100%; }
		.zoom_results_per_page { font-weight: normal; margin-left: 10px; }
		.zoom_match { font-size: 100%;}				
		.zoom_categories { font-size: 80%; }
		.zoom_categories ul { display: inline; margin: 0px; padding: 0px;}
		.zoom_categories li { display: inline; margin-left: 15px; list-style-type: none; }
        
        #zoom_match_any {
            margin-right: 5px;
            font-weight: normal;
        }
        
        #zoom_match_any input {
            font-weight: normal;
        }
        
        #zoom_match_all {
            margin-right: 5px;
            font-weight: normal;
        }
		
		.cat_summary ul { margin: 0px; padding: 0px; display: inline; }
		.cat_summary li { display: inline; margin-left: 15px; list-style-type: none; }			
		
		.result_image { float: left; display: block; }
		.result_image img { margin: 10px; width: 80px; border: 0px; }

		.result_block { margin-top: 15px; margin-bottom: 15px; clear: left; }
		.result_altblock { margin-top: 15px; margin-bottom: 15px; clear: left; }
		
		.result_pages { font-size: 100%; }
		.result_pagescount { font-size: 100%; }
		
		.searchtime { font-size: 80%; }
		
		.recommended 
		{ 
			background: #DFFFBF; 
			border-top: 1px dotted #808080; 
			border-bottom: 1px dotted #808080; 
			margin-top: 15px; 
			margin-bottom: 15px; 
		}
		.recommended_heading { float: right; font-weight: bold; }
		.recommend_block { margin-top: 15px; margin-bottom: 15px; clear: left; }		
		.recommend_title { font-size: 100%; }
		.recommend_description { font-size: 100%; color: #008000; }
		.recommend_infoline { font-size: 80%; font-style: normal; color: #808080;}
		.recommend_image { float: left; display: block; }
		.recommend_image img { margin: 10px; width: 80px; border: 0px; }
        
        input.zoom_button {
            
            background: #fff;
            border: 1px solid #afb8bc;
            border-radius: 3px;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
            height: 32px;
            display: inline;
        }
        
        input.zoom_searchbox {
            border-radius: 3px;            
            border: 1px solid #afb8bc;
            height: 32px;
            width: 200px;
            display: inline;
        }