
            
    <!-- 
	The ZOOMSEARCH tag below marks the place where your search form and search results
	will be inserted when you run the search script. By default, you do not need to place a 
	search form here, the search script will generate one and display it before the search 
	results. 
	
	There are other tags you can add to this page to show/remove different elements from
	the search results. See "Advanced template options" in the Users Guide or Help file
	for more information.
	-->
	<h1 class="ipstyleguide">Search</h1>
    <p>&nbsp;</p>
	<p>
        Enter one or more keywords to search. <i>(wildcards, '*' and '?', are supported)</i>
	</p>	
	<!--ZOOMSEARCH-->
