    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="js/1.11.2.jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/Cookies.js"></script>
    <script src="js/hoe.js"></script>
	<script>
		     $(document).ready(function () {
		         $("a.action").each(function () {
		             var thisLink = localStorage.getItem('thisLink');
		             if ($(this).attr('href') == thisLink) {
		                 $(this).parent('li').addClass('active');
		                 $(this).parent('li').parent('ul').parent('li.hoe-has-menu').addClass('opened');
		                 $(this).parent('li').parent('ul').parent('li.hoe-has-menu').parent('ul').parent('li.hoe-has-menu').addClass('opened');
		             }
		         });
		     });
	 </script>
	
    <script src="js/prism.js"></script>