    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php echo 'IP UI Style Guide - '.$_GET['title']; ?></title>
    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/ipswitchbootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/hoe.css" rel="stylesheet">
	<link href="css/github-markdown.css" rel="stylesheet" type="text/css">
    <link href="css/prism.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- testing bitbucket commit -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/1.11.2.jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mark.min.js"></script>
    <script>
        $(document).ready(function () {
            $("a.action").click(function () {
                var hrf = $(this).attr('href');
                localStorage.setItem('thisLink', hrf);
            });
        });
    </script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/search.js"></script>
    <script src="markup/ui-js/form_checkbox.js"></script>

    <!-- Make sticky navigation -->
    <script> 
        // References css classe 'hoe-minimized-lpanel' which is dynamically added in hoe.js
        $(document).ready(function() {
            var stickyNavTop = $('.styleguidenav').offset().top;
            var stickyNavTopHeader = $('.topheader').offset().top;

            var stickyNav = function(){
                var scrollTop = $(window).scrollTop();
                
                if (!$('#hoeapp-container').hasClass('hoe-minimized-lpanel')) {
                    if (scrollTop > stickyNavTop) { 
                        $('.styleguidenav').addClass('sticky');
                        $('.topheader').addClass('stickywide');
                    } else {
                        $('.styleguidenav').removeClass('sticky');
                        $('.topheader').removeClass('stickywide'); 
                    }
                    
                } else {
                    if (scrollTop > stickyNavTop) { 
                        $('.styleguidenav').addClass('stickycollapsed');
                        $('.topheader').addClass('stickywide');
                    } else {
                        $('.styleguidenav').removeClass('stickycollapsed');
                        $('.topheader').removeClass('stickywide'); 
                    }
                    
                }                
                
                
            }; // end function

            stickyNav();

            $(window).scroll(function() {
              stickyNav();
            });
            
        });
    </script>

        
        
        
        
        