<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Color</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                                    
                  				<h3 class="ipstyleguide">This color palette is intended to be used in the user interface for the Ipswitch family of products.</h3>
                                
                                <p class="ipstyleguide">The colors in this palette were chosen to complement the palette defined by the Marketing team for use in corporate marketing and branding materials.</p>
                                    
                                <p class="ipstyleguide">However, these colors were also chosen to meet the unique challenges and complexity of our products to provide the best user experience.</p>

								<p class="ipstyleguide">The current palette was chosen to adhere to accessibility guidelines, ensuring that colors support good visual contrast for low vision users and is usable for users with color blindness, while still being visually appealing.</p>
                  
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
							<li><a href="#ipswitch-brand-colors">Ipswitch Marketing and Brand Colors</a></li>
							<li><a href="#ipswitch-ui-colors">Ipswitch Colors for UI</a></li>
							<li><a href="#ipswitch-teal">Ipswitch Teal</a></li>
							<li><a href="#supportingcode">Supporting Code</a></li>
							<li><a href="#alert-status-colors">Alert and Status Colors</a></li>
							<li><a href="#chartsgraphs">Colors for Charts and Graphs</a></li>
							<li><a href="#strokesfillcolors">Colors for Strokes and Fills</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                
                	<div class="row" id="ipswitch-brand-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                  
			      			<div id="default-button">
                    			<h2 class="article-title ipstyleguide">Ipswitch Marketing and Brand Palette</h2>
                                
                                <p class="ipstyleguide">This palette is intended for use in marketing and branding materials, to ensure synergy and harmony across the entire Ipswitch company and experience.</p>
                                
                                <?php
                                
                                $ui = "ipswitchbrandcolors"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

			    
                  		</div>
			      		<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    
                    <div class="row" id="ipswitch-ui-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
		                  <div id="ipswitch-teal">
                    			<h2 class="article-title ipstyleguide">Ipswitch Colors for UI</h2>
                                
                                <p class="ipstyleguide">This palette includes colors used in the Ipswitch family of products. This palette is influenced and meant to compliment the color palette used for branding and marketing. However some colors have been enhanced and altered to improve usability, accessibility and user experience in the day to day use of our products by our customers.</p>
                            </div>
                        </div>
			      		<div class="col-lg-4"></div>
                            
    
    
                    <div class="row" id="ipswitch-ui-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
		      			  <div id="ipswitch-teal">
                                
                                <?php
                                $ui = "colors-uipalette"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                                            
                          </div>		    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                   
    
                    
                    <div class="row" id="ipswitch-brand-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
		      			  <div id="ipswitch-teal">
                    			<h2 class="article-title ipstyleguide">Ipswitch Teal</h2>
                                
                                <p class="ipstyleguide">The primary color in the Ipswitch brand is teal.</p>
                                
                                <?php
                                $ui = "ipswitchteal"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
                            <br /><br />
                            <h4 class="ipstyleguide">Example of UI Teal use in the Navigation of Ipswitch products.</h4>    
							<img src="markup/ui-spec/ipswitchnav-teal.png" width="1114" height="310" alt=""/>
                            
                          </div>		    
                  		</div>
			      		<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
                    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="supportingcode"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Source Code</h2>
                                
                                <p class="ipstyleguide">Provided in this source code is the list of the LESS names used to defined colors for Boostrap.</p><p class="ipstyleguide">Please use these same variable names when defining colors for other frameworks such as ExtJS and others.</p>
                                
                                <?php
                                
                                $ui = "colors"; // define UI topic 

								// Render Control
								// Check if html doc exists
                                /*
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}*/
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    



                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="alert-status-colors"> <!-- Navigation ID for Table of Contents -->

                                <h2 class="article-title ipstyleguide">Status and Alert Colors</h2>
                                
								<?php
                                $ui = "alertcolors"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>                                
                            	<br /><br />
                                <h4 class="ipstyleguide">Example of alert colors inside WhatsUp Gold.</h4>    
						    	<img src="markup/ui-spec/MapAlertColors.png" width="728" height="800" alt=""/>
                            </div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="alert-status-colors"> <!-- Navigation ID for Table of Contents -->

                                <h2 class="article-title ipstyleguide">Dark Shades</h2>
                                
                                <p class="ipstyleguide">When text needs to be colored consider using these darker shades. When used against a white background WCAG AA contrast compliance can be achieved for text.</p>
                                
								<?php
                                $ui = "colors-darkalertshades"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>                                
                            	<br /><br />
                            </div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
    
    
					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="chartsgraphs"> <!-- Navigation ID for Table of Contents -->

                                <h2 class="article-title ipstyleguide">Colors for Charts and Graphs</h2>
                                
								<?php
                                $ui = "colors-charts-graphs"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>                                
                            	<br /><br />
                            	<div>
                                <h4 class="ipstyleguide">Dashboard chart UI framework inside WhatsUp Gold</h4>   
                                
                                <img src="markup/ui-spec/ChartColors.png" width="572" height="282" alt="Chart Colors"/>
								<h4 class="ipstyleguide">Fiddle Example</h4>
                                <a href="http://jsfiddle.net/ce6djdg9/7/">http://jsfiddle.net/ce6djdg9/7/</a>
                                </div>
                                <br />                            
                          </div>			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                                     
                    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    

					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                  
                    			<h2 class="article-title ipstyleguide">Stepped Color Chart Pattern</h2>
<h3 class="ipstyleguide">Charts and graphs with highly complex data may require colors with almost infinite values.</h3>                            
                            <p class="ipstyleguide">In this example the color hue from the palette is stepped programmatically with <strong>10% white</strong> to provide 100 color variations. Red swatches are omitted and should only be used if data results represent errors.</p>
                        </div>
			      		<div class="col-lg-4"></div>
                    </div>        
                            
    
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">        
                            
                            
<?php
function shadeColor ($color, $percent) {

  $color = Str_Replace("#",Null,$color);

  $r = Hexdec(Substr($color,0,2));
  $g = Hexdec(Substr($color,2,2));
  $b = Hexdec(Substr($color,4,2));

  $r = (Int)($r*(100+$percent)/100);
  $g = (Int)($g*(100+$percent)/100);
  $b = (Int)($b*(100+$percent)/100);

  $r = Trim(Dechex(($r<255)?$r:255));  
  $g = Trim(Dechex(($g<255)?$g:255));  
  $b = Trim(Dechex(($b<255)?$b:255));

  $r = ((Strlen($r)==1)?"0{$r}":$r);
  $g = ((Strlen($g)==1)?"0{$g}":$g);
  $b = ((Strlen($b)==1)?"0{$b}":$b);

  return (String)("#{$r}{$g}{$b}");
}

function buildColorColumn($swatch) {
for ($x = 0; $x <= 9; $x++) {
$stepX = $x * 10;
$stepValue = '+'.$stepX;
$stepColor = shadeColor($swatch, $stepValue);
echo '<li class="verticalSwatch" style="background-color: '.$stepColor.';"><span>'.$stepColor.'</span></li>'; // #999999
}
}

function buildColorPattern($swatch) {
$stepX = 0;
$stepValue = '+'.$stepX;
$stepColor = shadeColor($swatch, $stepValue);
echo '<li class="verticalSwatch" style="background-color: '.$stepColor.';"><span>'.$stepColor.'</span></li>'; // #999999
}


$arr = array('f26d00','58a018','007b89','0f61a5','5f4dad','c4308c','e55791','7f583d','4f5051',);
foreach ($arr as & $value) {
echo '<div class="swatchColumn">';
echo '<ul>';
	$thisColor = '#'.$value;
	buildColorColumn($thisColor);
echo '</ul>';
echo '</div>';
}
?>

<div style="max-width: 906px; clear: both;">				
<h3 class="ipstyleguide">Repeating Sequence</h3>
<p class="ipstyleguide">This color sequence is intended to provide visual contrast between colors.</p>
</div>

<?php
$pattern = array('007b89','f26d00','58a018','5f4dad','c4308c','7f583d','084da0','e55791','4f5051');
foreach ($pattern as & $value) {
echo '<div class="swatchColumn">';
echo '<ul>';
	$thisColor = '#'.$value;
	buildColorPattern($thisColor);
echo '</ul>';
echo '</div>';
}
?>

<div style="max-width: 906px; clear: both;">
<p class="ipstyleguide">To support open source chart frameworks that require 100 colors, repeat the sequence of nine colors with an additional 10% shade of white programmatically added for each repeat of the sequence.</p>
</div>
<canvas id="myCanvas" width="906" height="200" style="border:1px solid #ccc; background-color: #fff;"></canvas>
                            <div style="max-width: 906px; clear: both; margin-top:10px;"><p class="ipstyleguide"><i><strong>Please note:</strong> the best designed charts and graphs do not rely on color alone to effectively show distinction between dozens of different categories or results.
Subtle variations of color will likely not be visually discernible to users, especially for users with forms of color blindness. Instead, effort should be made to match the data with an appropriate visualization that quickly communicates the main points of the story.</i></p>
</div>


<?php
echo "<script>";
echo       "var canvas = document.getElementById('myCanvas');";

			$p = 0;
			for ($x = 0; $x <= 10; $x++) {
			//echo '<br />x = '.$x.' - ';
			
			foreach ($pattern as & $value) {
			
			$p = $p + 9;
			//echo $p.', ';
			
			$chartheight = '-'.rand(45, 150);
			
			echo "var context = canvas.getContext('2d');";
      		echo "context.beginPath();";
			echo "context.rect(".$p.", 200, 8, ".$chartheight.");";
			$percent = $x * 10;
			$getColor = shadeColor ($value, $percent);
      		echo "context.fillStyle = '".$getColor."';";
      		echo "context.fill();";
			
			}
			}	
			
echo "</script>";
?>
</div>

							
								             
                  		</div><!-- end clm 10 --> 
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                    
					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="strokesfillcolors"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Colors for Strokes and Fills</h2>
                                
								<?php
                                $ui = "colors-strokesfills"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>                                
                            	<br /><br />
                            </div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->   
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    
                    

                    <div>&nbsp;</div>
                    <div>&nbsp;</div>


                    
				</div><!-- end container-fluid -->