<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Iconography</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-5">
                                    
                  				<h3 class="ipstyleguide">This is a guide for icons that can be used for features, commands, labels and content within the Ipswitch Family of products.</h3>
                                
                                <p class="ipstyleguide">Ipswitch uses a monotone <b>"flat font-icon style"</b> for most icons that make up the user interface in our products. Two icon-font families are available for UX Designers and Developers: Font Awesome, and the custom Ipswitch Font Icon Set. The style of these icons are intended to be minimal, non-distracting and easy to read.</p>

								<p class="ipstyleguide">In addition, Ipswitch also has a set of highly styled icons to represent content in our products, especially for representing items such as network devices and abstract protocols and concepts in WhatsUp Gold. The icon style of this set is intended to add visual interest in our products while also conveying more complex concepts and ideas. The style utilizes multiple flat colors, 3D perspective for some icons and includes simple flat highlighting and shadows.</p>
                            </div>
			      			<div class="col-lg-5"></div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                   
                    
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
							<li><a href="#font-awesome">Font Awesome</a></li>
							<li><a href="#ipswitch-flat-iconography">Ipswitch Flat Iconography</a></li>
							<li><a href="#ipswitch-highly-styled">Ipswitch Highly Styled Icon Set</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    <div class="row" id="#font-awesome"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                    			<h2 class="article-title ipstyleguide">Font Awesome</h2>
                        </div>
			      		<div class="col-lg-1"></div>
                    </div>  
                    <div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                  
			      			<p class="ipstyleguide">Font Awesome is our primary icon set for use across all Ipswitch web based products. This style of iconography is often referred and described as a flat icon style.</p>
                            
                            <p class="ipstyleguide"><strong>The Font Awesome icon set was designed to display and be pixel perfect at 14 pixels or .875em and when scaled in increments of 2x.</strong></p>
                            
                            <table class="fa-sampleset">
                            	<tr>
                                <td>14px</td>
                                	<td class="fa-14pxicon">
                  						<span class="fa fa-binoculars"></span>
                  						<span class="fa fa-envelope"></span>
                  						<span class="fa fa-power-off"></span>
                  						<span class="fa fa-refresh"></span>
                  						<span class="fa fa-clock-o"></span>
                                	</td>
                                </tr>
                                <tr>
                                <td>28px </td>
                                	<td class="fa-28pxicon">
                  						<span class="fa fa-binoculars"></span>
                  						<span class="fa fa-envelope"></span>
                  						<span class="fa fa-power-off"></span>
                  						<span class="fa fa-refresh"></span>
                  						<span class="fa fa-clock-o"></span>
                                	</td>
                                </tr>
                                <tr>
                                	<td>56px </td>
                                	<td class="fa-56pxicon">
                  						<span class="fa fa-binoculars"></span>
                  						<span class="fa fa-envelope"></span>
                  						<span class="fa fa-power-off"></span>
                  						<span class="fa fa-refresh"></span>
                  						<span class="fa fa-clock-o"></span>
                                	</td>
                                </tr>
                            </table>
                            
                            <p class="ipstyleguide">A full list of all Font Awesome icons along with their css and unicode values can be found at 
                            <a href="http://fontawesome.io/cheatsheet/">www.fontawesome.io <span class="fa fa-external-link"></span>.</a></p>
                            
                        </div>
			      		<div class="col-lg-5 download-font">
                        	<div>
                        	<a href="http://fontawesome.io/"><span class="fa fa-download"></span><span>Font Awesome</span></a>
                        	</div>
                        </div>
			      		<div class="col-lg-1"></div>
                    </div>
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                
                	<div class="row" id="ipswitch-flat-iconography"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                               	<h2 class="article-title ipstyleguide">Ipswitch Flat Iconography</h2>
                        </div>
			      		<div class="col-lg-1"></div>
                    </div>    
                	<div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                        <p class="ipstyleguide">The Ipswitch Font-Icon set is intended to be an addendum to Font Awesome. 
                                It includes a set of custom icons made internally to fulfill special needs and requests when a Font Awesome icon equivalent is unsuitable or doesn't exist.</p>
								
                        </div>
			      		<div class="col-lg-5 download-font">
                            <a href="markup/ui-source/webfontkit-20170612-100459.zip"><span class="fa fa-download"></span><span>Ipswitch Icon Set</span></a>
                        </div>
			      		<div class="col-lg-1"></div>
                     </div>   
    
    
    
    
                	<div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                                <?php
                                $ui = "ipswitchicons"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="example-box">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                            <div id="code">                                
                    			<?php getContent($ui); ?>
			      			</div>			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
        
                    <div class="row" id="ipswitch-highly-styled"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                               	<h2 class="article-title ipstyleguide">Ipswitch Highly Styled Icon Set</h2>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                            <p class="ipstyleguide">In addition to the flat style of icons used in our products, we also have an additional icon set that is more highly stylized to represent content and some functionality. These icons  can mostly be found within WhatsUp Gold and WS_FTP Web Transfer.</p>
                            <p class="ipstyleguide">The format of these icons are SVG based to support infinite scaling and displays with high resolutions and pixel densities.</pp>
<p class="ipstyleguide">&nbsp;</p>

<table class="highlystyleicontable">
	<tr>
    	<td><img src="markup/ui-source/I_DatabaseServer.svg" width="64" height="64" alt=""/><br /><br />Database Server</td>
        <td><img src="markup/ui-source/I_MobileLaptop.svg" width="64" height="64" alt=""/><br /><br />Mobile Laptop</td>
        <td><img src="markup/ui-source/I_RouterWireless.svg" width="64" height="64" alt=""/><br /><br />Router Wireless</td>
        <td><img src="markup/ui-source/I_ServerGeneric.svg" width="64" height="64" alt=""/><br /><br />Server Generic</td>
    </tr>
    <tr>
    	<td><img src="markup/ui-source/I_InterfaceOverview.svg" width="64" height="64" alt=""/><br /><br />Interface Overview</td>
        <td><img src="markup/ui-source/I_InterfaceError.svg" width="64" height="64" alt=""/><br /><br />Interface Error</td>
        <td><img src="markup/ui-source/I_InterfaceTraffic.svg" width="64" height="64" alt=""/><br /><br />Interface Traffic</td>
        <td><img src="markup/ui-source/I_InterfaceUtilization.svg" width="64" height="64" alt=""/><br /><br />Interface Utilization</td>
    </tr>
    <tr>
    	<td><img src="markup/ui-source/I_DNSLookup.svg" width="64" height="64" alt=""/><br /><br />DNS Lookup</td>
        <td><img src="markup/ui-source/I_ActionLog.svg" width="64" height="64" alt=""/><br /><br />Action Log</td>
        <td><img src="markup/ui-source/I_WebAlarm.svg" width="64" height="64" alt=""/><br /><br />Web Alarm</td>
        <td><img src="markup/ui-source/I_VMWareAction.svg" width="64" height="64" alt=""/><br /><br />VMWare Action</td>
    </tr>
</table> 	
                            <p class="ipstyleguide">&nbsp;</p>

                        <h3  class="ipstyleguide">Design Intent</h3>

                        <p class="ipstyleguide">The prominent colors in the icon style are white and dark gray. Bright blue is used as the primary accent color for defining details or calling out a specific feature of the icon. Blue is also a color that is easily discernible for users with forms of color-blindness. Additional colors are used for secondary accents.</p>
   
<p class="ipstyleguide"><b>The style of these icons have the following design considerations:</b></p>
<ul>
<li>Icons are designed to be high contrast, utilizing a dark outline to allow users to quickly discern shapes at a number of magnifications.</li>
<li>The icon style is intended to have long shelf life and not date quickly. The shading style is somewhat flat. Some sets of icons are designed with a 3D Perspective and utilize subtle highlights and flat shadows to provide additional visual interest.</li>
<li>Potentially 1 out of 10 of our users live with some form of color blindness. The icon style uses colors that are friendly to users with this deficiency.</li>
<li>The style is intended to be clean and simple. Color should be used carefully chosen. The icon style is intended to minimize visual noise and help avoid UI that looks like fruit loops.</li>
</ul>

<p class="ipstyleguide"><b>Here are a number of wiki pages that list where icons are used within WhatsUp Gold.</b></p>
                            
                            
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/pages/viewpage.action?pageId=43254145">Device Icons (Role)</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Sub-Navigation+Icons">Sub-Navigation Icons</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Action+Icons">Action Icons</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Monitor+Icons">Monitor Icons</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Task+Library+Icons">Task Library Icons</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Overlay+Icons">Overlay Icons</a></p>
<p class="ipstyleguide"><a href="http://wiki.ipswitch.com/display/NMUX/Miscellaneous+Icons">Miscellaneous Icons</a></p>

<p class="ipstyleguide">&nbsp;</p>
<p class="ipstyleguide">&nbsp;</p>
<p class="ipstyleguide">&nbsp;</p>
    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
					                
                    
					 
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                    
</div><!-- end container-fluid -->