<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Typography</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-6">
                  				<h3 class="ipstyleguide">Open Sans is the main font used in the Ipswitch family of products.</h3>
                                <p class="ipstyleguide">Open Sans is an open source, sans-serif font chosen for its clean, modern look, legibility and support for localization.</p>
                                <p class="ipstyleguide">You can learn more and see additional samples by visiting <a href="https://fonts.google.com/specimen/Open+Sans">Google.</a></p>
                  			</div>
                                <div class="col-lg-4">    
                               	 	<div class="opensanssample">
                                		<span style="font-family:'opensans-light-italic';">File Transfer</span>
                                        <span style="font-family:'opensans-bold';">Managed Network</span>
                                        <span style="font-family:'opensans-italic';">Server</span>
                                        <span style="font-family:'opensans-semibold';">Monitor</span>
                                        <span style="font-family:'opensans-bold-italic';">Reports</span>
                                        <span style="font-family:'opensans-light';">Security</span>
                                        <span style="font-family:'opensans-regular';">0123456789</span>
                                	</div>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
							<li><a href="#font-styles">Font Styles</a></li>
							<li><a href="#font-sizes">Font Sizes</a></li>
							<li><a href="#characters">Characters</a></li>
							<li><a href="#download">Download</a></li>
							<li><a href="#supportingcode">Supporting Code</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                
                	<div class="row" id="font-styles"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                    				<h2 class="article-title ipstyleguide">Font Style</h2>
                        </div>
			      		<div class="col-lg-4"></div>
                    </div>
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-3">              
                                    
                                	<p class="ipstyleguide">Opens Sans comes with a full set of styles.</p>
                        </div>
                        <div class="col-lg-7">       	
                            		<table class="example-box">
                                    <tr>
                  						<td><span class="font-style-example font-example-light">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">LIGHT</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-style-example font-example-light-italic">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">LIGHT ITALIC</p>
                            			</td>                            
                               		 </tr>
                  					<tr>
                  						<td><span class="font-style-example font-example-regular">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">REGULAR</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-style-example font-example-italic">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">ITALIC</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-style-example font-example-semibold">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">SEMIBOLD</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-style-example font-example-bold">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">BOLD</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-style-example font-example-bold-italic">Quantum Mechanics</span></td>
                                		<td>
                            				<p class="ipstyleguide">BOLD ITALIC</p>
                            			</td>                            
                               		 </tr>
                               		 </table>      			
                  		</div>
			      		<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
    
    
    
    
    
    
                    <div class="row" id="font-sizes"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                    				<h2 class="article-title ipstyleguide">Font Sizes</h2>
                        </div>
    			      	<div class="col-lg-4"></div>
                	</div>                
                    <div class="row">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-3">
                            	<p class="ipstyleguide">A standard set of sizes have been defined for specific areas of the user interface.</p>
                        </div>
						<div class="col-lg-7">
                        			<div class="example-box">
                            		<table>
                                    <tr>
                  						<td><span class="font-size-example font-size-huge">H1 - Open Sans Regular</span></td>
                                		<td>
                            				<p class="ipstyleguide">22px | 1.375em | @font-size-huge</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-size-example icon-size-large">H2 - Open Sans Regular</span></td>
                                		<td>
                            				<p class="ipstyleguide">18px | 1.125em | @icon-size-large</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-size-xample icon-size-medium">Label - Open Sans Bold</span></td>
                                		<td>
                            				<p class="ipstyleguide">14px | .875em | @icon-size-medium</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-size-example font-size-base">Text - Open Sans Regular</span></td>
                                		<td>
                            				<p class="ipstyleguide">13px | .8125em | @font-size-base</p>
                            			</td>                            
                               		 </tr>
                                     <tr>
                  						<td><span class="font-size-example font-size-base">Small Text - Open Sans Regular</span></td>
                                		<td>
                            				<p class="ipstyleguide">10px | .625em | @font-size-tiny</p>
                            			</td>                            
                               		 </tr>
                               		 </table>
                                     </div>    			
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    
					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="characters"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Characters</h2>
                            </div>
			    
                  		</div>                        
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
                    
                    
                	<div class="row">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-3">
                            	<p class="ipstyleguide">Open Sans contains all latin, cyrillic and greek character types.</p>
                        </div>
						<div class="col-lg-7">
                        	<div class="example-box characterset">
                        		<span>A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*</span>
                            </div>
                        </div>        
			      		<div class="col-lg-1"></div>
                     </div>   
                                 
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                        
                        
                    <div class="row" id="ipswitch-flat-iconography"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                               	<h2 class="article-title ipstyleguide">Download</h2>
                        </div>
			      		<div class="col-lg-1"></div>
                    </div>    
                	<div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                            <p class="ipstyleguide">More information about Open Sans is available from <a href="https://fonts.google.com/specimen/Open+Sans">Google</a>.</p><p>The font is also available from our style guide to download.</p>
								
                        </div>
			      		<div class="col-lg-5 download-font">
                            <a href="markup/ui-source/Open_Sans.zip"><span class="fa fa-download"></span><span>Open Sans</span></a>
                        </div>
			      		<div class="col-lg-1"></div>
                     </div>
                        
                        
                     <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="supportingcode">
                    			<h2 class="article-title ipstyleguide">Supporting Code</h2>
                                
                    			<?php getContent('typography'); ?>
                            	<br /><br />
                            </div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                             
                    
                                       
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                        
                        
                    <div class="row">
			      		<div class="col-lg-12">&nbsp;</div>
                    </div>
                        
                        
                        
                        
</div><!-- end container-fluid -->