<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Voice and Tone</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-5">
                                    
                  				<h3 class="ipstyleguide">About Voice and Tone.</h3>
                                
                                <p class="ipstyleguide">This project was an effort by the UX team in Summer 2015, in reaction to the need to have a consistent Voice & Tone defined as a basis for the coordinated UX style across the products ahead of a formal Brand update performed later in the year and early 2016. This project provided that foundation early, and also fed into the brand update effort.</p>

								<p class="ipstyleguide">Through the Voice and Tone Project, the Ipswitch User Experience Team is helping shape the design and look of our products and how we engage and speak to our customers. Our voice and tone should be informed by our core values, “who we are” as an organization and how we want to be perceived by our customers. Many industry-leading companies such as Apple, Google, Mailchimp and Dropbox have defined their unique voice and tone to express an honest representation of their organization, services and products. These companies have effectively used voice and tone to help position their presence in the marketplace and attract and maintain loyal customers.</p>
                            <p class="ipstyleguide">This page outlines the project along with rules and examples for using Voice and Tone in our products and user experiences.</p>
                            </div>
			      			<div class="col-lg-5"></div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                   
                    
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
							<li><a href="#howto">How to User Voice and Tone</a></li>
							<li><a href="#examples">Examples</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
    

                    <div class="row" id="#howto"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                    		<h2 class="article-title ipstyleguide">How to User Voice and Tone</h2>

                            <h3 class="ipstyleguide">When formulating communication with our customers, ensure the voice and tone of the messages speak to the following ideas and statements about who we are as a company.</h3>
                            
                            <p class="ipstyleguide">How we speak to our customers should directly reflect our core values, <b>“Transparency, Honesty, and Integrity.”</b></p>
                            
<p class="ipstyleguide">We are building <b>"a one company", "a one Ipswitch"</b>. We have respect for our employees and our customers. We are customer focused. We roll up our sleeves and get it done. We are human and believe in community engagement and social responsibility.</p>

<p class="ipstyleguide">Customers should see us as <b>knowledgeable, trusted, professional and committed</b>. We are a company that listens and champions the people we serve.</p>
                            
<p class="ipstyleguide">We represent the next generation of innovators and thought leaders that care about our industry and are committed to delivering <b>leading edge, rock solid productivity tools</b>.</p>
                            
                            <p class="ipstyleguide">IT Professionals often work in strained under-budget environments and are looking for affordable, simple solutions that just work. They don’t want to be oversold and are seeking value. Ipswitch is a value player in the market and we solve problems affordably.</p>

                           <p class="ipstyleguide"> Ipswich gets it, and customers should know Ipswitch cares about getting it!</p>
                            
                            
                       
                            
                        </div>
			      		<div class="col-lg-5 download-font"></div>
			      		<div class="col-lg-1"></div>
                    </div>  
                
                
                <div class="row" id="#examples"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                			<h2 class="ipstyleguide">Examples of Voice and Tone</h2>
                		</div>
			      		<div class="col-lg-5 download-font"></div>
			      		<div class="col-lg-1"></div>
                    </div>
                
    
					<div class="row" id="examples">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            	<h4 class="ipstyleguide">Messages in our products should be direct and to the point.</h4>
                                <p class="ipstyleguide">Avoid messages that attempt to be overly clever. Avoid humour.</p>
                        </div>
						<div class="col-lg-5">
                        			<div class="example-box-clear">
								  		<img src="markup/ui-spec/VTToastMessage.png" width="273" height="47" alt=""/>
                                    </div>    			
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    <div class="row">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            	<h4 class="ipstyleguide">When alerts or errors occur, message should try to utilize an apologetic and empathetic tone that is both helpful and friendly, but never condescending.</h4>
<p class="ipstyleguide">In this example, we are providing an opportunity to receive feedback and show that we listen and want to make our products better for our users.</p>
                        </div>
					  <div class="col-lg-5">
                        			<div class="example-box-clear">
								   		<img src="markup/ui-spec/VTWarningPopup.png" width="309" height="225" alt=""/>
                                    </div>    			
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                     
                     <div class="row">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            	<h4 class="ipstyleguide">If there is a delay, or time is required for a process to finish before a user can perform another task, consider providing helpful and engaging information and tips.</h4>
                        </div>
					   <div class="col-lg-5">
                        			<div class="example-box-clear">
								    <img src="markup/ui-spec/VTSpinnerWaiting.png" width="333" height="59" alt=""/> </div>    			
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    <div class="row">
                    	<div class="col-lg-1"></div>
			      		<div class="col-lg-10"><br /><br /><br />
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                     
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                  
    
    
</div><!-- end container-fluid -->









