<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">                                
                                <h3 class="ipstyleguide">To maintain consistency across our products, a series of rules and examples have been provided for the use of capitalization. </h3>
                                
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
                            <li><a href="#title-case">Title Case</a></li>
                            <li class="page-nav-sub"><a href="#dialog-header">Titles in Dialog Header</a></li>
                            <li class="page-nav-sub"><a href="#dashboard-titles">Dashboard Titles</a></li>
                            <li class="page-nav-sub"><a href="#report-titles">Report Titles</a></li>
                            <li class="page-nav-sub"><a href="#column-titles">Column Titles in Data Grids and Data Lists</a></li>
                            <li class="page-nav-sub"><a href="#tab-titles">Tab Titles</a></li>
                            <li class="page-nav-sub"><a href="#button-text">Button Text</a></li>
                            <li class="page-nav-sub"><a href="#action-links">Action Links</a></li>
                            <li class="page-nav-sub"><a href="#group-titles">Group and Category Titles</a></li>
                            <li class="page-nav-sub"><a href="#menu-titles">Menu Titles and Menu Items</a></li>
                            <li><a href="#ipswitch-brand-colors">Sentence Case</a></li>
                            <li class="page-nav-sub"><a href="#ipswitch-brand-colors">Form Labels</a></li>
                            <li class="page-nav-sub"><a href="#ipswitch-brand-colors">Checkbox and Radio Button Labels</a></li>
                            
                    
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    

                    <div class="row" id="ipswitch-brand-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
		      			  <div id="title-case">
                    			<h2 class="article-title ipstyleguide">Title Case</h2>
                                
                              <p class="ipstyleguide">Rule: Capitalize the first letter of all words in between, with the exception of articles <i>(a, an, and the)</i>; coordinating conjunctions <i>(and, but, for, nor, or, so, and yet)</i>; and prepositions of four letters or fewer <i>(at, for, with, into, etc.)</i>. With an exception that if any of these words appear in the last of the string, they should be capitalized. For example:</p> 
                              
                                <p><strong>Save As<br />
                                    Save as Template</strong></p>
                              
                            </div>
                        </div>    
			      		<div class="col-lg-4"></div>
		        	</div><!-- end row -->           
                              
                              
                    <div class="row" id="ipswitch-brand-colors"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
		      			  <div id="title-case">
                    			<h2 class="article-title ipstyleguide">Title Case</h2>                                
                                <br />
                                <h3 id="dialog-header" class="ipstyleguide">Titles in Dialog Header</h3>
                                <table class="ipstyleguidetable">
                                    <tbody>
                                        <tr>
                                            <td>WhatsUp Gold</td>
                                            <td><img src="markup/ui-spec/TitleCaseWUG.png" alt=""/></td>
                                        </tr>
                                        <tr>
                                            <td>MOVEit Automation</td>
                                            <td><img src="markup/ui-spec/TitleCaseMOVEitAutomation.png" alt=""/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                        
                                                              
                              
                                <h3 id="dashboard-titles" class="ipstyleguide">Dashboard Titles</h3>
                                <table class="ipstyleguidetable">
                                    <tbody>
                                        <tr>
                                            <td>WhatsUp Gold</td>
                                            <td><img src="markup/ui-spec/WUGDashboardTitle.png" alt=""/></td>
                                        </tr>
                                        <tr>
                                            <td>Ipswitch Analytics</td>
                                            <td><img src="markup/ui-spec/IpswitchAnalyticsTitle.png" alt=""/></td>
                                        </tr>
                                    </tbody>
                                </table>    
                                <p>&nbsp;</p>
                              
                                <h3 id="report-titles" class="ipstyleguide">Report Titles</h3>
                                <table class="ipstyleguidetable">
                                    <tbody>
                                        <tr>
                                        <td>WhatsUp Gold</p>
                                        <td><img src="markup/ui-spec/ReportTitle1.png" alt=""/></td>
                                    </tr>
                                    <tr>
                                        <td>Ipswitch Analytics</td>
                                        <td><img src="markup/ui-spec/ReportTitle3.png" alt=""/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                        
                            
                                <h3 id="column-titles" class="ipstyleguide">Column Titles in Data Grids and Data Lists</h3>
                                <p class="ipstyleguide">WhatsUp Gold</p>
                                <p class="ipstyleguide"><img src="markup/ui-spec/ColumnTitle1.png" alt=""/></p>
                                <p class="ipstyleguide">Ipswitch Analytics</p>
                                <p class="ipstyleguide"><img src="markup/ui-spec/ColumnTitle2.png" alt=""/></p>

                        
                        
                        
                                <h3 id="tab-titles" class="ipstyleguide">Tab Titles</h3>
                                <table class="ipstyleguidetable">
                                    <tbody>
                                        <tr>
                                            <td>WhatsUp Gold</td>
                                            <td><img src="markup/ui-spec/TabTitle1.png" alt=""/></td>
                                        </tr>
                                        <tr>
                                            <td>Ipswitch Analytics</td>
                                            <td><img src="markup/ui-spec/TabTitle2.png" alt=""/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                                     
                                <h3 id="button-text" class="ipstyleguide">Button Text</h3>
							     <table class="ipstyleguidetable">
                                     <tbody>
                                     <tr>
                                         <td>Ipswitch Analytics</td>
                                         <td><img src="markup/ui-spec/ButtonText1.png" alt=""/></td>
                                     </tr>
                                     <tr>
                                         <td>"Save as Template" versus "Save Template As", in Ipswitch Analytics<br />
                                            Note: if an article appears at the end of a string, it should be capitalized.
                                        </td>
                                         <td><img src="markup/ui-spec/ButtonText2.png" alt=""/></td>
                                     </tr>
                                     <tr>
                                         <td>"OK/Cancel" in WUG 2017<br />
                                                "OK" should be fully capitalized.</td>
                                         <td><img src="markup/ui-spec/ButtonText3.png" alt=""/></td>
                                     </tr>
                                     <tr>
                                         <td>"Save", "Save and Close"</td>
                                         <td><img src="markup/ui-spec/ButtonText4.png" alt=""/></td>
                                     </tr>
                                     <tr>
                                         <td>Toolbar Buttons in WUG 2017</td>
                                         <td><img src="markup/ui-spec/ButtonText5.png" alt=""/></td>
                                     </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                        
                                <h3 id="action-links" class="ipstyleguide">Action Links</h3>
							     <table class="ipstyleguidetable">
                                     <tbody>
                                     <tr>
                                        <td>Link host title in MOVEit Automation</td>
                                        <td><img src="markup/ui-spec/ActionLinks1.png" alt=""/></td>
                                     </tr>
                                    <tr>
                                        <td>Link to UI Control</td>
                                        <td><img src="markup/ui-spec/ActionLinks2.png" alt=""/></td>
                                     </tr>
                                         <tr>
                                        <td>"Select All" in MOVEit Automation</td>
                                        <td><img src="markup/ui-spec/ActionLinks3.png" alt=""/></td>
                                     </tr>
                                         <tr>
                                        <td>Agent links in Ipswitch Analytics</td>
                                        <td><img src="markup/ui-spec/ActionLinks4.png" alt=""/></td>
                                     </tr>
                                    </tbody>
                                </table>     
                              
                                                            
                          </div>		    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
    
    
    
    
    
    
    
    
</div>