<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-6">
                  
                  				<h3 class="ipstyleguide">Implement format consistently when displaying date and times. </h3>
                                    
                                <h3 class="ipstyleguide">Use the best practices and international standards that are outlined in this guide.</h3>
                  
                                
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Content</span></li>
                            <li><a href="#timestamp">Timestamps Guidelines</a></li>
                            <li><a href="#absolutetimestamp">Absolute and Relative Timestamps</a></li>
                            <li><a href="#customizingdatetime">Customizing Date and Time (User Preferences)</a></li>
                            <li><a href="#durations">Durations</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  


                    <div class="row" id="timestamp"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                            <h2 class="article-title ipstyleguide">Timestamp Guidelines</h2>
                              
                              <p class="ipstyleguide">Users can become quickly confused and errors can occur when multiple date and time formats are inconsistently used.</p>
                                
                              <p class="ipstyleguide">The recommended international format for displaying both date and time is <a class="ipstyleguide" href="http://www.iso.org/iso/home/standards/iso8601.htm">ISO 8601</a>. This should be the default format that should be used throughout all Ipswitch products.</p>
                              
                              <h3 class="ipstyleguide">Example</h3>
                              <p class="ipstyleguide"><strong>Jul 12, 2016 15:17:56</strong></p>
                            
                            <p class="ipstyleguide"><img src="markup/ui-spec/TimeStampISO8601.png" width="612" height="194" /></p>
                      
                            
                              <p class="ipstyleguide"><span class="ipstyleguidenote">Note: More about ISO 8601 can be found at, <a class="ipstyleguide" href="http://www.iso.org/iso/home/standards/iso8601.htm">http://www.iso.org/iso/home/standards/iso8601.htm</a>.</span></p>
                              
                              <p class="ipstyleguide"><span class="ipstyleguidenote">Discussion on how the Timestamp Guidelines were formulated can be found at <a class="ipstyleguide" href="http://wiki.ipswitch.com/display/NMUX/READY%3A+Timestamp+Inconsistencies">wiki.ipswitch.com</a>.</span></p> 
                                                                                  
                        </div>    
			      		<div class="col-lg-3"></div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row --> 

    
                    <div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-10">
    
                        <h3 class="ipstyleguide">Guidelines</h3>
                            
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">

                            <p class="ipstyleguide"><strong>For all applications (except Central)</strong></p>
<p class="ipstyleguide">Default Timestamp is: Greenwich Mean Time (UTC + 00:00)</p>
<p class="ipstyleguide">User can change Time zone and Time format under 'User Preferences'. After changing, the information bubble would appear as below </p>                         
                            
                        </div>
			      		<div class="col-lg-5">
                                <img src="markup/ui-spec/AnalyticsTimeStamp.png" width="491" height="558" />
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                              
                            
                    <div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-12"><p class="ipstyleguide">&nbsp;</p></div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
                        <div class="col-lg-5">
                            
                            <p class="ipstyleguide"><strong>For MOVEit Automation (Central), the default time appears as server time. User is NOT allowed to switch to any other time zone or time format.</strong></p>
                            <p class="ipstyleguide">Example: Server Time and Server Time Zone is CDT</p>
                            
                            
                        </div>
			      		<div class="col-lg-5">
                                <img src="markup/ui-spec/MOVEitAutomationTimeStamp.png" width="484" height="206" />
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->

    
    
                    <div class="row" id="absolutetimestamp"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                            <h2 class="article-title ipstyleguide">Absolute and Relative Timestamps</h2>
                            
                            <p class="ipstylguide">Guidelines about using Absolute and Telative Timestamps are from an excerpt found at <span class="ipstyleguidenote"><a href="http://uxmovement.com/content/absolute-vs-relative-timestamps-when-to-use-which/">http://uxmovement.com/content/absolute-vs-relative-timestamps-when-to-use-which/</a>.</span></p>
                            
                            <h3 class="article-title ipstyleguide">When to Use Absolute Timestamps</h3>
                              
                            <p class="ipstyleguide">There are times users need to look back on past content to retrieve information. Without absolute timestamps, users can't get a target specifc period to find the information</p>
                            
                            <h3 class="article-title ipstyleguide">When to Use Relative Timestamps</h3>

                            <p class="ipstyleguide">Accuracy isn't important with relative timestamps, but immediacy is. When users want to know how long ago a site published a post, they prefer time units in written form. This way they don't have to mentally calculate dates and times and count back from the present day.</p>
                            
                            <p class="ipstyleguide">Not only that, but users don't have to convert time zones with relative timestamps. Content published an hour ago or five hours ago makes no difference to users who only need a general sense of recency.</p>
                            
                        </div>    
			      		<div class="col-lg-3"></div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10"><h3 class="article-title ipstyleguide">Where to Use</h3>

                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            
                            <p class="ipstyleguide">Use for <strong>File Transfers, File Storage, Messaging, Timestamps</strong> or where time is important.</p>
 
                            <p class="ipstyleguide">Though relative Timestamps can be used for license, keys etc, this would require additional signifiers like dotted lines and tooltips to specify the relative dates.</p>
                            
                            
                            <p class="ipstyleguide"><strong>Example: Absolute Time</strong></p>
                            <p class="ipstyleguide">Jul 21, 2016 00:00:00 - Jul 22, 2016 23:59:59<br />
                                (Date format for List/ Data grid tooltip applies)</p>
                            
                        </div>
                        <div class="col-lg-5">
                            <img src="markup/ui-spec/ExpireDates.png" width="209" height="265" />
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    

                     <div class="row" id="customizingdatetime"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                            <h2 class="article-title ipstyleguide">Customizing Date and Time (User Preferences)</h2>
                            
                            <p class="ipstyleguide">Customers may wish to customize the date and time format often available in the User Preferences of a product.</p>
                            
                            <p class="ipstyleguide">Customization must be at system (development) level and not user level. Users should not be allowed to change this format.</p>
                              
                            <p class="ipstyleguide">Customized timestamps appearing as text/tooltip/time range could follow any format but must be displayed consistently throughout the application.</p>
                            
                            <p class="ipstyleguide">If there are development circumstances that prevent the use of the ISO 8601 date and time standard, please be consistent in displaying one single format.</p>
                            
                           
                         </div>    
			      		<div class="col-lg-3">
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
                    <div class="row" id="customizingdatetime"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                            <h3 class="ipstyleguide">Suggested Formats:</h3>
                        </div>    
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->     
    
    
                    <div class="row" id="customizingdatetime"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            <p class="ipstyleguide"><strong>Day, DD Month (abbr.) YYYY HH:MM:SS</strong></p>
                            <p class="ipstyleguide"><strong>Day, Month (abbr.) DD YYYY HH:MM:SS</strong></p>
                            <p class="ipstyleguide"><strong>Month (abbr.) DD, YYYY HH:MM:SS</strong></p>

<p class="ipstyleguide">Changes for Date and Time should all appear under one section.</p>
<p class="ipstyleguide">Customization of numeric format is to aid readability while processing or sorting timestamps.</p>

<p class="ipstyleguide">However, textual format should not be made customizable as:</p>
<p class="ipstyleguide">1. This appears in tooltips, time interval and as plain text and different time formats (mix of numbers and text) may make the text appear convoluted.</p>
                            <p class="ipstyleguide">2. Given a language, we found that there is certain format users are used to following. By following a rigid time format and restricting the customizability from the user, we would be creating a consistant pattern across products.</p>                 
                            
                        </div>    
			      		<div class="col-lg-5"><img src="markup/ui-spec/TimePreferences-01.png" width="440" height="422" />
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row --> 


    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->   
    
    
                    <div class="row" id="durations"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                            <h2 class="article-title ipstyleguide">Durations</h2>
                            
                            <p class="ipstyleguide">Confusion should be avoided between the H/M/S parameters as 10:08 can be read as 10 hours and 8 minutes when it means 10 minutes 8 seconds.</p>
                            
                            <p class="ipstyleguide">Some applications (WUG, Central) use a more verbose format (in words of Nh:Nm:Ns). Analytics uses a pivot (ms) but for reports that run for a long time, ms is very high.</p>
                            
                            <h3 class="ipstyleguide">Suggested Rules:</h3>
                            
                        </div>    
			      		<div class="col-lg-3">
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row" id=""> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            <p class="ipstyleguide">Use MM:SS when H does not appear in any case. Use HH:MM:SS otherwise.</p>
                        </div>    
			      		<div class="col-lg-6">
                              <img src="markup/ui-spec/Duration1.png" width="180" height="267" />
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row" id="durations"> <!-- Navigation ID for Table of Contents -->
                        <div class="col-lg-12"><p class="ipstyleguide">&nbsp;</p></div>
		        	</div><!-- end row -->
    
    
                    <div class="row" id=""> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            <p class="ipstyleguide">Specify format in table/grid header to avoid confusion</p>
                            <p class="ipstyleguide">By default, when the column is narrow the format will appear as a tooltip (on hover) and on expansion will reveal the complete header.</p>
                        </div>    
			      		<div class="col-lg-6">
                              <img src="markup/ui-spec/Duration2.png" width="451" height="145" />
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row" id=""> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                            <p class="ipstyleguide">By default, when the column is narrow the format will appear as a tooltip (on hover) and on expansion will reveal the complete header.</p>
                        </div>    
			      		<div class="col-lg-5">
                              <img src="markup/ui-spec/DurationTooltip.png" width="482" height="182" />
                        </div>
                        <div class="col-lg-1"></div>
		        	</div><!-- end row -->

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->   
        
                    
    
    
    
    
    

</div>