/* LESS Document */

// Primary Buttons
@primaryButtonDefault: @ipswitch-brand;
@primaryButtonHover: @ipswitch-brand-alt;
@primaryButtonText: @white-space;

// Secondary Buttons
@secondaryButtonText: @dark-grey;
@secondaryButtonStroke: @mid-grey;
@secondaryButtonFillDefault: @white-space;
@secondaryButtonFillHover: @light-grey;
@secondaryButtonFillActivePressed: @cool-mid-grey;
@secondaryButtonTextDisabled: @mid-grey;
@secondaryButtonStrokeDisabled: @mid-grey;
@secondaryButtonFillDisabled: @white-space;

// Button sizes
@baseButtonHeight: 32px;
@baseButtonFontSize: @font-size-large;
@baseButtonVerticalPadding: ((@baseButtonHeight - @baseButtonFontSize - (@commonUIBorderWeight * 2)) / 2);
@baseButtonHorizontalPadding: @defaultPadding;

@smallButtonHeight: 28px;
@smallButtonFontSize: @font-size-base;
@smallButtonVerticalPadding: ((@smallButtonHeight - @smallButtonFontSize - (@commonUIBorderWeight * 2)) / 2);
@smallButtonHorizontalPadding: @defaultPadding;