/* LESS Document */

// Ipswitch Brand Colors
@ipswitch-brand:#007b89;
@ipswitch-brand-alt:#219ca5;

// UI Border and Fills
@dark-grey:#4f5051;
@dark-mid-grey:#868e93;
@mid-grey:#afb8bc;
@cool-mid-grey:#cad5d8;
@light-grey:#e2e7e8;
@warm-light-grey:#eff2f2;
@snow:#f7f8f9;
@light-blue-grey:#e0f2f5;
@mid-blue-grey:#d3e7ea;
@white-space: #ffffff;

// Additional Alert and Chart Colors
@ipswitch-red:#f0554c;
@dark-red: #ce3a3a;
@dark-orange: #f26d00
@vibrant-orange:#ff9700;
@ipswitch-orange:#fabb17;
@vibrant-yellow:#edd943;
@vibrant-green:#a4b734;
@vibrant-mid-green:#7d9d2e;
@vibrant-blue:#08a3bc;
@blue-marguerite: #5f4dad;
@med-red-violet: #c4308c;
@dark-pink: #e55791;

