/* LESS Document */

/* Base font */
@font-family-base: 'Open Sans', @font-family-sans-serif;

/* Font sizes */
@font-size-tiny: 10px;
@font-size-base: 13px;
@font-size-large: 14px;
@font-size-xlarge: 18px;
@font-size-huge: 22px;


/* Font weights */
@font-weight-normal: 400;
@font-weight-semibold: 600;
@font-weight-bold: 700;

/* Paragraph Text */
@baseLineHeight: 1.5em;
@baseParagraphSpacing: 20px;
