<div class="container-fluid">
	<div class="row">
                    <div class="jumbotron ipswitchjumbotron">
						<div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-7">
    
                            <div class="ipswitchtitlecontainer">    
                            <span class="ipswitchtitle">Ipswitch UI Style Guide</span> <span class="version">v1.0</span>
                            </div>
    
                            <h2 class="ipstyleguide">Semantic markup for the Ipswitch family of products.</h2>
                                    
                            </div>
                            <div class="col-lg-4"></div>
		        		</div><!-- end row -->                    
					</div><!-- end jumbotron -->
	</div><!-- end row -->
	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                        
                        <h3 class="ipstyleguide">The UI Style Guide contains a cohesive library of UI patterns and modular components built around style and code based standards to be used in the Ipswitch family of products.</h3>
                        
                        </div>
        			    <div class="col-lg-1"></div>
	</div><!-- end row -->                             
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10"> 
    
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#contentlinks">Who Should Use this Guide</a></li>
							<li><a href="#contentlinks">About the Style Guide</a></li>
							<li><a href="#dismissible-alerts">Future Enhancements and Updates</a></li>
						</ul>
                  
                        </div>
        			    <div class="col-lg-1"></div>
	</div><!-- end row -->
    
 
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7"> 
                        <h2 class="ipstyleguide">Who Should Use this Guide</h2>    
                        <h3 class="ipstyleguide">The UI Style Guide is intended for:</h3>
                            
                        <ul>
                        <li>Front-end developers to transform front-end code bases into well-described pattern libraries</li>
                        <li>UX Designers to design, test and communicate styling and functionality of UI components and features</li>
                        <li>QE/QA teams to validate design and consistency across products before release</li>
                        <li>Anyone else who is interested in the design used in the Ipswitch family of products</li>
                        </ul>
                            
                        <p class="ipstyleguide">The UI Style Guide is not intended for use for the Ipswitch web site or marketing related materials.</p>
                            
                        </div>
                        <div class="col-lg-3"></div>
        			    <div class="col-lg-1"></div>

	</div><!-- end row -->
    
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
    </div><!-- end row -->
    
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                        <h2 class="ipstyleguide">About the Style Guide</h2>    
                            
                        <h3 class="ipstyleguide">The Ipswitch UI Style Guide is built upon the Bootstrap framework used in a number of Ipswitch products.</h3>
                            
                        <p class="ipstyleguide">Most of the essential Bootstrap components and referencing documentation have been incorporated directly into this guide. The CSS that drives the style for these components comes from the UI Commons Project that defines the CSS for many Ipswitch products.</p>
                            
                        <p class="ipstyleguide">To keep the style guide from becoming bloated, some less frequently used components from Bootstrap were not included in the style guide. For a full list of Bootstrap components, please visit <a href="http://getbootstrap.com/components/">getbootstrap.com</a>. Additional components can be added into the guide upon request from the UX Team.</p>
                            
                        <p>In addition, there are some custom components that exist in the products that have yet to be incorporated into the guide.</p>
                            
                        <p class="ipstyleguide">Although the Ipswitch UI Style Guide references Bootstrap classes, please use this as a style guide for all web-based Ipswitch products.</p>
                            
                        <p class="ipstyleguide">Additional technologies that make up the style guide and processes for Dev teams to update the guide can be found on the Ipswitch internal wiki.</p>                            
                            
                        </div>
                        <div class="col-lg-3"></div>
        			    <div class="col-lg-1"></div>
	</div><!-- end row -->
    
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                        <h2 class="ipstyleguide">Future Enhancements and Updates</h2>    
                            
                        <p class="ipstyleguide">This style guide will continue to be developed and updated as new content becomes available. It will also potentially be versioned for future major releases.</p>    
                        <p class="ipstyleguide">A list of documented updates and future improvements can be found on the Ipswitch internal wiki.</p>                            
                            
                        </div>
        			     <div class="col-lg-3"></div>
        			     <div class="col-lg-1"></div>
	</div><!-- end row -->
    
    
    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
    </div><!-- end row -->    
    
    
</div> <!-- end container-fluid -->
            
        
        
        
        
        
        
        
        
        
        
        
        