/* alerts-with-links.css */

.alert-danger .alert-link {
    color: #ac1e1e;
}

.alert-warning .alert-link {
    color: #d05300;
}

.alert-success .alert-link {
    color: #496800;
}

.alert-info .alert-link {
    color: #323233;
}

