/* alerts.css */

/* list-group-contextualclasses.css */
/* WCAG AAA */


.alert {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}

.alert-icon {
    display:inline-block;
    vertical-align: middle;
}

.alert-message {
    display:inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
}

.alert-success {
    background-color: #edf4c9; /* less wcagaa-green     */
    color: #4f5051; /* less dark-grey     */
    border-color: #a4b734;
}

.alert-success-colorblindmode {
    background-color: #dcf4f4; /* less wcagaaa-blue  */
    color: #4f5051; /* less dark-grey     */
    border-color: #8BD0D8; /* less vibrant-blue-light */
}


.alert-info {
    background-color: #f7f8f9; /* less wcagaa-grey     */
    color: #4f5051; /* less dark-grey     */
    border-color: #afb8bc;
}

.alert-info-icon {
    color: #696c6d; /* less dark-orange */
    font-size: 18px;
}


.alert-warning {
    background-color: #fff4b6; /* less wcagaa-yellow     */
    color: #4f5051; /* less dark-grey     */
    border-color: #fabb17;
}

.alert-warning-icon {
    color: #f26d00; /* less dark-orange */
    font-size: 18px;
}

.alert-danger {
    background-color: #fff0f0; /* less wcagaaa-red     */
    color: #4f5051; /* dark grey */
    border-color: #FFA399; /* less alert-red-light */
}

.alert-danger-icon {
    color: #ed573e; /* less dark-orange */
    font-size: 18px;
}