/* button-sign-in.css */

.login-button {
    width: 100%;
    height: 38px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background-color: #f26d00;
    border-color: #f26d00;
    -webkit-box-shadow: 0 2px 0 0 #4f5051;
    box-shadow: 0 2px 0 0 #4f5051;
    border-radius: 3px;
    
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    
}

.login-button:hover {
    color: #ffffff;
    background-color: #ff9700;
    border-color: #ff9700;
}

