/* buttons.css */
/* this code needs to be added into UI commons */
/* font-weight should be normal, not bold */

.btn {
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 13px;
}

/* All shadow treatments should be turned off */
.btn:active, .btn.active {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
}


.btn-primary:hover, .btn-primary.hover {
    color: #ffffff;
    background-color: #219ca5;
    border-color: #219ca5;
}



/* CSS to force hover state in examples */
.btn-default:hover, .btn-default.hover {
    color: #4f5051;
    background-color: #e2e7e8;
    border-color: #afb8bc;
}


/* needed for focused dropdown state */
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #4f5051;
    background-color: #cad5d8;
    border-color: #afb8bc;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


.btn-lg, .btn-group-lg > .btn {
    padding: 12px 16px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 3px;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 15px;

}








