/* colors.css */

.alert-red { background-color:#ed573e; }
.alert-red-light { background-color:#FFA399; }
.dark-red { background-color: #ce2e19; }
.dark-orange { background-color:#f26d00; }
.vibrant-orange { background-color:#ff9700; }
.ipswitch-orange { background-color:#fabb17; }
.vibrant-yellow { background-color:#edd943; }
.vibrant-yellow-light { background-color:#fff4b6; }
.vibrant-green { background-color:#8ec449; }
.vibrant-mid-green { background-color:#58a018; }
.dark-green { background-color:#318406; }
.vibrant-blue { background-color:#08a3bc;}
.vibrant-blue-light { background-color:#8BD0D8; }
.ipswitch-brand { background-color:#007b89; }
.ipswitch-brand-alt { background-color:#219ca5; }
.blue-marguerite { background-color: #5f4dad; }
.med-red-violet { background-color: #c4308c; }
.dark-pink { background-color: #e55791; }
.saddle-brown { background-color: #7f583d; }
.dark-grey { background-color: #4f5051; }
.dark-blue { background-color: #0f61a5; }
.earth-grey { background-color:#696c6d; }
.dark-mid-grey { background-color:#868e93; }
.mid-grey{ background-color:#afb8bc; }
.cool-mid-grey { background-color:#cad5d8; }
.light-grey { background-color:#e2e7e8; }
.warm-light-grey { background-color:#eff2f2; }
.snow { background-color:#f7f8f9; }
.light-blue-grey { background-color:#dcf4f4; } /* was #e0f2f5 */
.mid-blue-grey { background-color:#d3e7ea; }
.white-space { background-color: #ffffff; }



/* WCAG Contrast Compatible background colors */

.wcagaa-red { background-color: #ffd7d7; }
.wcagaa-yellow { background-color: #fff4b6; }
.wcagaa-green { background-color: #d2e2a1; }
.wcagaa-blue { background-color: #cbeef1; }
.wcagaa-grey { background-color: #e2e7e8; }
.wcagaaa-red { background-color: #fff0f0; }
.wcagaaa-yellow { background-color: #fff7d2; }
.wcagaaa-green { background-color: #edf4c9; }
.wcagaaa-blue { background-color: #dcf4f4; }
.wcagaaa-grey { background-color: #f7f8f9; }

