

/* this code added to ensure header displays at correct height */
/* this code should be added back into the UI commons CSS to ensure it is available for all products, not just application specific */
.modal-header .ipsmica-editor-title {
    font-size: 22px;
    margin:0;
}

label {
    font-size: 14px;
}