


/* this code added to ensure header displays at correct height */
.modal-header .ipsmica-editor-title {
    font-size: 22px;
    margin:0;
}


fieldset.controlgroup {
    background-color:#eff2f2;
    border: 1px solid #eff2f2;
    border-radius: 3px;
    padding: 10px;
}

legend.controlgroup {
    position: relative;
    top: 20px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4f5051;
}

