/* this code added to ensure header displays at correct height */
/* code should be added back in to UI commons */
.modal-header .ipsmica-editor-title {
    font-size: 22px;
    margin:0;
}


.nav-tabs li {
    width: 25%;
    text-align: center;
}

.nav-tabs li a {
    padding: 5px 10px;
    font-weight: 400 !important;
    font-size: 16px;
}


.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    color: #007b89;
    font-weight: 400 !important;
}