/* dropdownsplitbutton.css */

button.dropdown-toggle.btn-primary {
    border-left-color: #77aeb1;
}

button.dropdown-toggle.btn-primary:hover {
    border-left-color: #77aeb1;
}

button.dropdown-toggle.btn-primary:active {
    border-left-color: #77aeb1;
}

button.dropdown-toggle.btn-primary:focus {
    border-left-color: #77aeb1;
}