/* form_radio.css */

input[type=radio   ]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label {
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
  font-size: 13px;
    font-weight: 400;
}

input[type=radio   ]:not(old) + label > span {
  display          : inline-block;
  width            : 14px;
  height           : 14px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 1px solid rgb(192,192,192);
  border-radius    : 0.5em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span {
  border-color     :    rgb(33,156,165);
  background-image :    -moz-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :     -ms-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :      -o-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image : -webkit-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :         linear-gradient(rgb(33,156,165),rgb(33,156,165));
}

input[type=radio   ]:not(old):hover + label > span {
  border-color     :    rgb(33,156,165);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);    
    
}

input[type=radio   ]:not(old):focus + label > span {
  border-color     :    rgb(0,123,137);
  background-image :    -moz-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :     -ms-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :      -o-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image : -webkit-linear-gradient(rgb(33,156,165),rgb(33,156,165));
  background-image :         linear-gradient(rgb(33,156,165),rgb(33,156,165));
}


input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 6px;
  height           : 6px;
  margin           : 3px;
  border           : none;
  border-radius    : 0.5em;
  background       : rgb(255,255,255);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}
