/* form_inputreadonly.html */

.form-control[readonly], form-control {
    border-color: #f7f8f9; /* less snow */
    color: #4f5051; /* less dark-grey */
}


.form-control[readonly], .form-control {
    background-color: #f7f8f9; /* less snow */
    opacity: 1;
}
