/* form_disabledinput.html */

.form-control[disabled], fieldset[disabled] .form-control {
    border-color: #e2e7e8; /* less light-grey */
    color: #9fa8ad; /* less dark-mid-grey */
}


.form-control[disabled], fieldset[disabled] .form-control {
    background-color: #f7f8f9; /* less snow */
    opacity: 1;
}
