
/* include css back into Ui Commons */
/* form_validationstates.css */

.has-warning .form-control {
    border-color: #ff9700;
}

.has-warning .form-control:focus {
    border-color: #f26d00;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f26d00;
}



.has-error .form-control {
    border-color:#f0554c;
}

.has-error .form-control:focus {
    border-color:#ce3a3a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0554c;
}



.has-info .form-control {
    border-color: #868e93;
}

.has-info .form-control:focus {
    border-color: #4f5051;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #868e93;
}




.has-success .form-control {
    border-color: #08a3bc;
}

.has-success .form-control:focus {
    border-color: #007b89;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #08a3bc;
}