.input-prepend .add-on {
    display: inline;
}

.input-prepend .form-control {
    display: inline;
    width: 200px;
}

.input-append .add-on {
    display: inline;
}

.input-append .form-control {
    display: inline;
    width: 200px;
}
