/* form_checkboxradio.css */
/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2016
 * @version 1.5.5
 *
 * An extended checkbox plugin for Bootstrap 3 that allows three states and additional styles.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */



.cbx, .cbx-container {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.cbx {
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    position: relative;
}

.cbx, .cbx-container, .cbx-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cbx-label {
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;    
    font-size: 13px;
}

.cbx-label.disabled {
    cursor: not-allowed;
    opacity: .65;
}

.cbx-native input {
    position: absolute;
    margin: 5px;
}

label + .cbx-container, .cbx-container + label, .cbx-container + .cbx-container {
    margin-left: 5px;
}

label .cbx {
    margin: 0 5px;
}

label + .cbx-block, .cbx-block + label, .cbx-block + .cbx-block, label .cbx-block {
    margin-left: 0;
    margin-right: 0;
}

.cbx-xs {
    width: 14px;
    height: 14px;
    font-size: 10px;
}

.cbx-sm {
    width: 20px;
    height: 20px;
    font-size: 13px;
}

.cbx-md {
    width: 24px;
    height: 24px;
    font-size: 15px;
}

.cbx-lg {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.cbx-xl {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    font-size: 24px;
}

.cbx-icon {
    position: absolute;
    margin: -4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cbx-icon-null {
    background-color: #333;
}

.cbx-xs .cbx-icon-null {
    padding: 4px;
    margin: 2px;
}

.cbx-sm .cbx-icon-null {
    padding: 5px;
    margin: 3px;
}

.cbx-md .cbx-icon-null {
    padding: 6px;
    margin: 4px;
}

.cbx-lg .cbx-icon-null {
    padding: 8px;
    margin: 5px;
}

.cbx-xl .cbx-icon-null {
    padding: 10px;
    margin: 6px;
}

.cbx-disabled .cbx-icon-null {
    background-color: #aaa;
}

.cbx-active {
    border: 1px solid #afb8bc;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #333;
}

.cbx-active:hover, .cbx-active:focus {
    border-color: #219ca5;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);
}

.cbx-disabled {
    color: #ddd;
    background: #f7f8f9;
    border: 1px solid #d8d8d8;
    cursor: not-allowed;
}


.cbx-block {
    display: block;
    text-align: left;
}

.cbx-block + .cbx-block {
    margin: 5px 0 0 0;
}

/* added by Rob */
.cbxshowactive {
    background: #219ca5;
    border-color: #219ca5;
    color: #fff;
}



/* for style guide */

.cbx-active-hovered, .cbx-active-focused {
    border-color: #219ca5;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33,156,165, .6);
}

.cbx-active-activated {
    background: #219ca5;
    border-color: #219ca5;
}

.cbx-active-activated .glyphicon {
    color: #fff;
}


.cbx-active-indeterminate {
    background: #219ca5;
    border-color: #219ca5;
}

.cbx-active-indeterminate .glyphicon {
    color: #fff;
}

.cbx-active-activedisabled {
    background: rgba(33,156,165, .3);
    border: 1px solid rgba(33,156,165, 0);
}

.cbx-active-activedisabled .glyphicon {
    color: #fff;
}















