.radio label, .checkbox label {
    
    margin-bottom: 5px;
    
}

.form-horizontal .control-label {

        margin-bottom: 5px;
    
}

.form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
}