

/* ipswitchicons.css */
@font-face {
    font-family: 'ipswitchiconsregular';
    src: url('../../fonts/ipswitchicons-regular.eot');
    src:url('../../fonts/ipswitchicons-regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/ipswitchicons-regular.woff') format('woff'),
        url('../../fonts/ipswitchicons-regular.ttf') format('truetype'),
        url('../../fonts/ipswitchicons-regular.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

