
/* ensure these values are added to UI Commons */


a:link, a:visited, a:active {
    color: #007b89;
    text-decoration:none;
}

a:hover {
    color: #219ca5;
    text-decoration:underline;
}

/* for style guide display example, do not add to UI Commons */
a.hovered {
    color: #219ca5;
    text-decoration:underline;
}