/* list-group-contextualclasses.css */
/* WCAG AAA */

.list-group-item-success {
    background-color: #edf4c9; /* less wcagaa-green     */
    color: #318406;
}


.list-group-item-info {
    background-color: #f7f8f9; /* less wcagaa-grey     */
    color: #4f5051;
}


.list-group-item-warning {
    background-color: #fff7d2; /* less wcagaa-yellow     */
    color: #f26d00;
}

.list-group-item-danger {
    background-color: #fff0f0; /* less wcagaa-red     */
    color: #ce3a3a;
}
