/* list-group-linkeditems.css */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: #007b89;
    
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    background: #f7f8f9;
}