/* This should be added back into UI Commons, currently it is specific to MOVEit Automation */

.mica__list .mica__list__nav {
    margin-bottom: 20px;
}

.ips-nav-largelinks {
    border: none;
}

.ips-nav-largelinks > li:not(:last-child) {
    margin-right: 30px;
}

.ips-nav-largelinks > li {
    display: inline-block;
}

.ips-nav-largelinks > li > a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #007b89;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.ips-nav-largelinks > li.active {
    border-bottom: solid 2px #4f5051;
    font-weight: 700;
}


.ips-nav-largelinks > li.active > a, .ips-nav-largelinks > li.active > a:hover, .ips-nav-largelinks > li.active > a:focus {
    color: #4f5051;
    background-color: transparent;
    border: none;
}


.ips-nav-largelinks > li > a:hover {
    color: #219ca5;
    background-color: #fff;
    border: none;
}





