/* page_header.css */


/* check this margin definition with UI Commons */
.ipsmica_list_summary_title {
    font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #4c5254;
    margin-top: 18px;
    margin-bottom: 9px;
}

.ipsmica_list_summary_count {
    font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8d9294;
    margin-left: 10px;
}

.page-header h1 {
   font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #4c5254; 
}

.page-header h1 small {
    font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8d9294;
    margin-left: 5px;
}

