
/* CSS to include back into UI commons */

/* pagination.css */
.pagination {
    margin: 0;
    padding: 5px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #afb8bc;
    background-color: #ffffff;
    /*border-color: #afb8bc;*/
    cursor: not-allowed;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #4f5051;
    background-color: #cad5d8;
    border-color: #afb8bc;
    cursor: default;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #4f5051;
    background-color: #cad5d8;
    border-color: #afb8bc;
}

a:active, a:hover {
    outline: 0;
}


.mica__list__header {
    height: 60px;
    padding: 10px;
    background-color: #f3f4f5;
    border: 1px solid #c2cacc;
    border-radius: 3px;
}