/* progressbar-basic-example.html */

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eff2f2;
    border-radius: 3px;
    
    -webkit-box-shadow: none;
    box-shadow: none;
    
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);*/
    
    border: 1px solid #afb8bc;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    color: #fff;
    text-align: center;
    background-color: #08a3bc;
    
    /*
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    */
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}





