/* progressbar-contextual.css */



.progress-bar-success {
    background-color: #58a018;
}

.progress-bar-info {
    background-color: #afb8bc;
}


.progress-bar-warning {
    background-color: #ff9700;
}


.progress-bar-danger {
    background-color: #f0554c;
}
