/* sorting.css */

.mica__sortcontainer {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mica__sortcontainer .ipsmica_sort_buttons .btn .ipsmica_sort_indicator {
    font-size: 14px;
    margin-left: 5px;
    width: 11px;
}

.ipsmica_sort_buttons {
    margin-left: 5px;
}