/* spinner-small.css */

.inline-loader {
	background-color: rgba(255,255,255,0);
	border:2px solid rgba(0,163,188,1.0);
	opacity:.9;
	border-top:2px solid rgba(202,213,216,1.0);
	border-left:2px solid rgba(202,213,216,1.0);
	border-radius:50px;
	width:13px;
	height:13px;
	/*margin:0 auto;*/
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}
 
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}


