/* spinner-wuglet.css */

.inline-loader-large {
background-color: rgba(255,255,255,0);
border: 3px solid rgba(134,142,147,1.0);
opacity:.9;
border-top: 3px solid rgba(202,213,216,1.0);
border-left: 3px solid rgba(202,213,216,1.0);
border-radius:50px;
width:32px;
height:32px;
margin:0 auto;
-moz-animation:spin 1s infinite linear;
-webkit-animation:spin 1s infinite linear;
}

@-moz-keyframes spin {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}

