/* toolbar-horizontal.css */
.btn-default fa {
    size: 14px;
}

.btn-toolbar-horizon {
    border-left: none;
    border-right: none;
}


.btn-toolbar-horizon-left {
    border-right: none;
}

.btn-toolbar-horizon-right {
    border-left: none;
}