/* toolbar-vertical.css */
.btn-toolbar-vertical-top {
    border-bottom: none;
}

.btn-toolbar-vertical {
    border-top: none;
    border-bottom: none;
}

.btn-toolbar-vertical-bottom {
    border-top: none;
}


.btn-group-vertical > .btn-lg, .btn-group-vertical > .btn-group-lg, .btn-group-vertical > .btn-group > .btn-lg > .fa {
    font-size: 22px;
}

/*
.btn-group-vertical > .btn-lg, .btn-group-vertical > .btn-group-lg, .btn-group-vertical > .btn-group > .btn-lg > .fa {
    font-size: 36px;
}*/