/* toolbar-vertical-large.css */



.btn-lg.btn-toolbar-vertical {
    padding: 12px 8px;
}

.btn-lg.btn-toolbar-vertical-top {
    padding: 12px 8px;
}

.btn-lg.btn-toolbar-vertical-bottom {
    padding: 12px 8px;
}

