

@font-face {
    font-family: 'opensans-light';
    src: url('../../fonts/OpenSans-Light.eot');
    src: url('../../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Light.woff') format('woff'),
         url('../../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-light-italic';
    src: url('../../fonts/OpenSans-LightItalic.eot');
    src: url('../../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-LightItalic.woff') format('woff'),
         url('../../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-regular';
    src: url('../../fonts/OpenSans-Regular.eot');
    src: url('../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Regular.woff') format('woff'),
         url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-italic';
    src: url('../../fonts/OpenSans-Italic.eot');
    src: url('../../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Italic.woff') format('woff'),
         url('../../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-bold';
    src: url('../../fonts/OpenSans-Bold.eot');
    src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Bold.woff') format('woff'),
         url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url('../../fonts/OpenSans-BoldItalic.eot');
    src: url('../../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-BoldItalic.woff') format('woff'),
         url('../../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'opensans-semibold';
    src: url('../../fonts/OpenSans-Semibold.eot');
    src: url('../../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



