<div class="palette-format">
<table>
  <tbody>
    <tr>  
        <th>Danger/Error</th>
        <th>Warning</th>
        <th>Success</th>
        <th>Active</th>
        <th>Information</th>
    </tr>    
    <tr>
		<td class="colorchip-small light-label alert-red">
			<span class="lessstyle">less alert-red</span>
			<span class="hexstyle">#ed573e</span>
			<span class="rgbstyle">rgb 237,87,62</span>
            <p>Intended Use: WUG - Device Down</p>
		</td>
        <td class="colorchip-small light-label vibrant-orange">
			<span class="lessstyle">less vibrant-orange</span>
			<span class="hexstyle">#ff9700</span>
			<span class="rgbstyle">rgb 250,151,0</span>	
            <p>Intended Use: WUG - Maintenance Mode</p>
			<p>Warning (with white icons)</p>
		</td>        
        <td class="colorchip-small light-label vibrant-mid-green">
			<span class="lessstyle">less vibrant-mid-green</span>
			<span class="hexstyle">#58a018</span>
			<span class="rgbstyle">rgb 88,60,124</span>
			<p>Intended Use: use with white text or icons or where stronger contrast is required</p>
		</td>
        <td class="colorchip-small light-label vibrant-blue">
			<span class="lessstyle">less vibrant-blue</span>
			<span class="hexstyle">#08a3bc</span>
			<span class="rgbstyle">rgb 8,163,188</span>	
			<p>Intended Use: WUG - Device Up (chosen for Color Blind users)</p><p>Ipswitch Teal is too dark to be used as an alert or status color. This Vibrant blue includes a slight green hue to compliment the Ipswitch Teal.</p>
		</td>
        <td class="colorchip-small light-label dark-mid-grey">
			<span class="lessstyle">less dark-mid-grey</span>
			<span class="hexstyle">#868e93</span>
			<span class="rgbstyle">rgb 134,142,147</span>
			<p>Intended Use: WUG - Unkown, or not-monitored Status, neutral or unavailable</p>
		</td>
	</tr>
      
      
	<tr>
       <td class="colorchip-small dark-label alert-red-light">
			<span class="lessstyle">less alert-red-light</span>
			<span class="hexstyle">#FFA399</span>
			<span class="rgbstyle">rgb 255,163,153</span>
			<p>Intended Use: WUG - Device Down for at least 2 min</p>
       </td>
	   <td class="colorchip-small dark-label ipswitch-orange">
			<span class="lessstyle">less ipswitch-orange</span>
			<span class="hexstyle">#fabb17</span>
			<span class="rgbstyle">rgb 250,187,23</span>
			<p>Intended Use: alternate (with dark text or icons)</p>
		</td>
        <td class="colorchip-small light-label vibrant-green">
			<span class="lessstyle">less vibrant-green</span>
			<span class="hexstyle">#8ec449</span>
			<span class="rgbstyle">rgb 142,196,73</span>
			<p>Intended Use: use with dark text or icons</p>
		</td>
		<td class="colorchip-small dark-label vibrant-blue-light">
			<span class="lessstyle">less vibrant-blue-light</span>
			<span class="hexstyle">#8BD0D8</span>
			<span class="rgbstyle">rgb 139,208,216</span>	
			<p>Intended Use: WUG - Device Up for at least 2 min</p>
		</td>
		<td class="colorchip-small dark-label mid-grey">
			<span class="lessstyle">less mid-grey</span>
			<span class="hexstyle">#afb8bc</span>
			<span class="rgbstyle">rgb 175,184,188</span>
		</td>
	</tr>
    <tr>
        <td class="colorchip-small dark-label wcagaa-red">
			<span class="lessstyle">less wcagaa-red</span>
            <span class="hexstyle">#ffd7d7</span>
			<span class="rgbstyle">rgb 255,215,215</span>
			<p>Intended Use: WCAG AA contrast compatible when used with dark-grey text</p>        
        </td>
        <td class="colorchip-small dark-label wcagaa-yellow">
			<span class="lessstyle">less wcagaa-yellow</span>
			<span class="hexstyle">#fff4b6</span>
			<span class="rgbstyle">rgb 255,244,182</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>
		</td>
        <td class="colorchip-small dark-label wcagaa-green">
			<span class="lessstyle">less wcagaa-green</span>
            <span class="hexstyle">#d2e2a1</span>
			<span class="rgbstyle">rgb 210,226,161</span>
			<p>Intended Use: WCAG AA contrast compatible when used with dark-grey text</p>
        </td>
        <td class="colorchip-small dark-label wcagaa-blue">
			<span class="lessstyle">less wcagaa-blue</span>
            <span class="hexstyle">#cbeef1</span>
			<span class="rgbstyle">rgb 203,238,241</span>
			<p>Intended Use: WCAG AA contrast compatible when used with dark-grey text</p>
        </td>
        <td class="colorchip-small dark-label wcagaa-grey">
			<span class="lessstyle">less wcagaa-grey</span>
            <span class="hexstyle">#e2e7e8</span>
			<span class="rgbstyle">rgb 226,231,232</span>
			<p>Intended Use: WCAG AA contrast compatible when used with dark-grey text</p>
        </td>
    </tr>
    <tr>
        <td class="colorchip-small dark-label wcagaaa-red">
			<span class="lessstyle">less wcagaaa-red</span>
			<span class="hexstyle">#fff0f0</span>
			<span class="rgbstyle">rgb 255,240,240</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>
        </td>
        <td class="colorchip-small dark-label wcagaaa-yellow">
			<span class="lessstyle">less wcagaaa-yellow</span>
			<span class="hexstyle">#fff7d2</span>
			<span class="rgbstyle">rgb 255,247,210</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>
		</td>
        <td class="colorchip-small dark-label wcagaaa-green">
			<span class="lessstyle">less wcagaaa-green</span>
			<span class="hexstyle">#edf4c9</span>
			<span class="rgbstyle">rgb 237,244,201</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>
        </td>
        <td class="colorchip-small dark-label wcagaaa-blue">
			<span class="lessstyle">less wcagaaa-blue</span>
			<span class="hexstyle">#dcf4f4</span>
			<span class="rgbstyle">rgb 220,244,244</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>
        </td>
        <td class="colorchip-small dark-label wcagaaa-grey">
			<span class="lessstyle">less wcagaaa-grey</span>
			<span class="hexstyle">#f7f8f9</span>
			<span class="rgbstyle">rgb 247,248,249</span>
			<p>Intended Use: WCAG AAA contrast compatible when used with dark-grey text</p>        
        </td>
    </tr>  
  </tbody>
</table>
</div>