<!-- alerts.html -->

<div class="bs-example" data-example-id="simple-alerts">
    <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div>
    
    <div class="alert alert-success-colorblindmode" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. (Accessible version for colorblind users.)</div>
    
    <div class="alert alert-info" role="alert"><div class="alert-icon"><span class="fa fa-exclamation-circle alert-info-icon"></span></div>&nbsp;&nbsp;<strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
    
    <div class="alert alert-warning" role="alert"><div class="alert-icon"><span class="fa fa-exclamation-circle alert-warning-icon"></span></div>&nbsp;&nbsp;<div class="alert-message"><strong>Warning!</strong> The following change to your system could effect performance.</div></div>
    
    
    <div class="alert alert-danger" role="alert"><div class="alert-icon"><span class="fa fa-warning alert-danger-icon"></span></div>&nbsp;&nbsp;<div class="alert-message"><strong>Error!</strong> The system has encountered an unexpected error.</div></div>
</div>