<!-- buttons.html -->
    <table class="table">
        <tr>
          <th></th>
          <th>Normal</th>
          <th>Hover</th>
          <th>Active</th>
          <th>Disabled</th>
        </tr>
        <tr>
          <th>Default</th>
          <td><button type="button" class="btn btn-default">Button</button></td>
          <td><button type="button" class="btn btn-default hover">Button</button></td>
          <td><button type="button" class="btn btn-default active">Button</button></td>
          <td><button type="button" class="btn btn-default disabled">Button</button></td>
        </tr>
        <tr>
          <th>Default Small</th>
          <td><button type="button" class="btn btn-sm btn-default">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-default hover">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-default active">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-default disabled">Button</button></td>
        </tr>
        
        <tr>
          <th>Primary</th>
          <td><button type="button" class="btn btn-primary">Button</button></td>
          <td><button type="button" class="btn btn-primary hover">Button</button></td>
          <td><button type="button" class="btn btn-primary active">Button</button></td>
          <td><button type="button" class="btn btn-primary disabled">Button</button></td>
        </tr>
        <tr>
          <th>Primary Small</th>
          <td><button type="button" class="btn btn-sm btn-primary">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-primary hover">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-primary active">Button</button></td>
          <td><button type="button" class="btn btn-sm btn-primary disabled">Button</button></td>
        </tr>
      </table>
