<!-- colors-graphs-charts.html -->
<div class="palette-format">
<table>
  <tbody>
    <tr>
		<td class="colorchip light-label dark-red">
			<span class="hexstyle">#ce3a3a</span>
			<span class="rgbstyle">rgb 206,58,58</span>
			<span class="lessstyle">less dark-red</span>
		</td>
		<td class="colorchip light-label ipswitch-red">
			<span class="hexstyle">#f0554c</span>
			<span class="rgbstyle">rgb 240,85,76</span>
			<span class="lessstyle">less ipswitch-red</span>
		</td>
		<td class="colorchip light-label dark-orange">
			<span class="hexstyle">#f26d00</span>
			<span class="rgbstyle">rgb 242,109,0</span>	
			<span class="lessstyle">less dark-orange</span>
		</td>
		<td class="colorchip dark-label vibrant-orange">
			<span class="hexstyle">#ff9700</span>
			<span class="rgbstyle">rgb 250,151,0</span>
			<span class="lessstyle">less vibrant-orange </span>
		</td>
		<td class="colorchip dark-label ipswitch-orange">
			<span class="hexstyle">#fabb17</span>
			<span class="rgbstyle">rgb 250,187,23</span>
			<span class="lessstyle">less ipswitch-orange</span>
		</td>
    </tr>
    <tr>
		<td class="colorchip dark-label vibrant-yellow">
			<span class="hexstyle">#edd943</span>
			<span class="rgbstyle">rgb 237,217,67</span>
			<span class="lessstyle">less vibrant-yellow</span>
		</td>
		<td class="colorchip dark-label vibrant-green">
			<span class="hexstyle">#8ec449</span>
			<span class="rgbstyle">rgb 142,196,173</span>	
			<span class="lessstyle"> vibrant-green</span>
		</td>
		<td class="colorchip light-label vibrant-mid-green">
			<span class="hexstyle">#58a018</span>
			<span class="rgbstyle">rgb 88,160,24</span>
			<span class="lessstyle">less vibrant-mid-green</span>
		</td>
		<td class="colorchip light-label vibrant-blue">
			<span class="hexstyle">#08a3bc</span>
			<span class="rgbstyle">rgb 8,163,188</span>
			<span class="lessstyle">less vibrant-blue</span>
		</td>
		<td class="colorchip light-label ipswitch-brand-alt">
			<span class="hexstyle">#219ca5</span>
			<span class="rgbstyle">rgb 33,156,165</span>
			<span class="lessstyle">less ipswitch-brand-alt</span>
		</td>
    </tr>
    <tr>
		<td class="colorchip light-label ipswitch-brand">
			<span class="hexstyle">#007b89</span>
			<span class="rgbstyle">rgb 0,123,137</span>
			<span class="lessstyle">less ipswitch-brand</span>
		</td>
        <td class="colorchip light-label dark-blue">
			<span class="hexstyle">#0f61a5</span>
			<span class="rgbstyle">rgb 15,97,165</span>
			<span class="lessstyle">less dark-blue</span>
		</td>
		<td class="colorchip light-label blue-marguerite">
			<span class="hexstyle">#0f61a5</span>
			<span class="rgbstyle">rgb 95,77,137</span>	
			<span class="lessstyle">less blue-marguerite</span>
		</td>
		<td class="colorchip light-label med-red-violet">
			<span class="hexstyle">#c4308c</span>
			<span class="rgbstyle">rgb 196,48,140</span>
			<span class="lessstyle">less med-red-violet</span>
		</td>
		<td class="colorchip light-label dark-pink">
			<span class="hexstyle">#e55791</span>
			<span class="rgbstyle">rgb 229,87,145</span>
			<span class="lessstyle">less dark-pink</span>
		</td>
    </tr>
    <tr>
        <td class="colorchip light-label saddle-brown">
			<span class="hexstyle">#7f583d</span>
			<span class="rgbstyle">rgb 127,88,61</span>
			<span class="lessstyle">less saddle-brown</span>
		</td>
        <td class="colorchip light-label dark-grey">
			<span class="hexstyle">#4f5051</span>
			<span class="rgbstyle">rgb 79,80,81</span>
			<span class="lessstyle">less dark-grey</span>
		</td>
		<td class="colorchip light-label dark-mid-grey">
			<span class="hexstyle">#868e93</span>
			<span class="rgbstyle">rgb 134,142,147</span>
			<span class="lessstyle">less dark-mid-grey</span>
		</td>
		<td class="colorchip dark-label mid-grey">
			<span class="hexstyle">#afb8bc</span>
			<span class="rgbstyle">rgb 175,184,188</span>	
			<span class="lessstyle">less mid-grey</span>
		</td>
		<td></td>
    </tr>
  </tbody>
</table>
</div>