<!-- colors-strokesfills.html -->
<div class="palette-format">
<table>
  <tbody>
    <tr>
		<td class="colorchip-small light-label" style="background: #4f5051;">
			<span class="hexstyle">#4f5051</span>
			<span class="rgbstyle">rgb 79,80,81</span>
			<span class="lessstyle">less dark-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Navigation background, dialog header background, text, chart color</p>
		</td>
	</tr>
	<tr>
		<td class="colorchip-small light-label" style="background: #696c6d;">
			<span class="hexstyle">#696c6d</span>
			<span class="rgbstyle">rgb 105,108,109</span>
			<span class="lessstyle">less earth-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Navigation hover state, normal state for glyph icons</p>
		</td>
	</tr>
	<tr>	
		<td class="colorchip-small light-label" style="background: #868e93;">
			<span class="hexstyle">#868e93</span>
			<span class="rgbstyle">rgb 134,142,147</span>	
			<span class="lessstyle">less dark-mid-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Alert color, chart color</p>
		</td>
	</tr>
      
    <tr>	
		<td class="colorchip-small light-label" style="background: #9fa8ad;">
			<span class="hexstyle">#9fa8ad</span>
			<span class="rgbstyle">rgb 159,168,173</span>	
			<span class="lessstyle">less disabled-text-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Disabled text on light grey input field</p>
		</td>
	</tr>      
      
	<tr>	
		<td class="colorchip-small dark-label" style="background: #afb8bc;">
			<span class="hexstyle">#afb8bc</span>
			<span class="rgbstyle">rgb 175,184,188</span>
			<span class="lessstyle">less mid-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Button stroke, chart color, hinted text against white</p>
		</td>
	</tr>
	<tr>
		<td style="background: #cad5d8;" class="colorchip-small dark-label">
			<span class="hexstyle">#cad5d8</span>
			<span class="rgbstyle">rgb 202,213,216</span>
			<span class="lessstyle">less cool-mid-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Panel border, button active/pressed fill</p>
		</td>
    </tr>
    <tr>
		<td style="background: #e2e7e8;" class="colorchip-small dark-label">
			<span class="hexstyle">#e2e7e8</span>
			<span class="rgbstyle">rgb 226,231,232</span>
			<span class="lessstyle">less light-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Row border, button fill hover, disabled border</p>
		</td>
	</tr>
	<tr>
		<td style="background: #eff2f2;" class="colorchip-small dark-label">
			<span class="hexstyle">#eff2f2</span>
			<span class="rgbstyle">rgb 239,242,242</span>	
			<span class="lessstyle">less warm-light-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Toolbar Fill</p>
		</td>
	</tr>
	<tr>
		<td style="background: #f7f8f9;" class="colorchip-small dark-label">
			<span class="hexstyle">#f7f8f9</span>
			<span class="rgbstyle">rgb 247,248,249</span>	
			<span class="lessstyle">less snow</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Grid row hover, disabled fill</p>
		</td>
	</tr>
    <tr>	
		<td style="background: #ffffff;" class="colorchip-small dark-label borderequired">
			<span class="hexstyle">#ffffff</span>
			<span class="rgbstyle">rgb 255,255,255</span>
			<span class="lessstyle">less white-space</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Dialog fill, normal button fill state.</p>
		</td>
	</tr>
	<tr>	
		<td style="background: #e0f2f5;" class="colorchip-small dark-label">
			<span class="hexstyle">#e0f2f5</span>
			<span class="rgbstyle">rgb 224,242,245</span>
			<span class="lessstyle">less light-blue-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Row selection</p>
		</td>
	</tr>
	<tr>	
		<td style="background: #d3e7ea;" class="colorchip-small dark-label">
			<span class="hexstyle">#d3e7ea</span>
			<span class="rgbstyle">rgb 211,231,234</span>
			<span class="lessstyle">less mid-blue-grey</span>
		</td>
		<td style="background: #fff;">
			<p>Intended Use: Header Selection</p><p>This color swatch might not be needed and might eventually be removed.</p>
		</td>
	</tr>
		
  </tbody>
</table>
</div>