<!-- colors-darkadditionalshades.html -->
<div class="palette-format">
<table>
  <tbody>   
    <tr>
		<td class="colorchip light-label dark-red">
			<span class="lessstyle">less dark-red</span>
			<span class="hexstyle">#ce2e19</span>
			<span class="rgbstyle">rgb 206,46,25</span>
		</td>
        <td class="colorchip light-label dark-orange">
			<span class="lessstyle">less dark-orange</span>
			<span class="hexstyle">#f26d00</span>
			<span class="rgbstyle">rgb 242,109,0</span>	
		</td>        
        <td class="colorchip light-label dark-green">
			<span class="lessstyle">less dark-green</span>
			<span class="hexstyle">#318406</span>
			<span class="rgbstyle">rgb 49,132,6</span>
		</td>
        <td class="colorchip light-label dark-blue">
			<span class="lessstyle">less dark-blue</span>
			<span class="hexstyle">#0f61a5</span>
			<span class="rgbstyle">rgb 15,97,165</span>	
		</td>
        <td class="colorchip light-label dark-grey">
			<span class="lessstyle">less dark-grey</span>
			<span class="hexstyle">#4f5051</span>
			<span class="rgbstyle">rgb 79,80,81</span>
		</td>
	</tr>
  </tbody>
</table>
</div>