<!-- colors-uipalette.html -->
<div class="palette-format">
<table class="ipcolorpalette">
  <tbody>   
    <tr>
		<td class="colorchip light-label dark-red">
			<span class="lessstyle">less dark-red</span>
			<span class="hexstyle">#ce2e19</span>
			<span class="rgbstyle">rgb 206,46,25</span>
		</td>
        <td class="colorchip light-label alert-red">
			<span class="lessstyle">less alert-red</span>
			<span class="hexstyle">#ed573e</span>
			<span class="rgbstyle">rgb 237,87,62</span>
		</td>
        <td class="colorchip light-label dark-orange">
			<span class="lessstyle">less dark-orange</span>
			<span class="hexstyle">#f26d00</span>
			<span class="rgbstyle">rgb 242,109,0</span>	
		</td>
        <td class="colorchip light-label vibrant-orange">
			<span class="lessstyle">less vibrant-orange</span>
			<span class="hexstyle">#ff9700</span>
			<span class="rgbstyle">rgb 250,151,0</span>	
		</td>
        <td class="colorchip dark-label vibrant-yellow">
			<span class="lessstyle">less vibrant-yellow</span>
			<span class="hexstyle">#edd943</span>
			<span class="rgbstyle">rgb 237,217,67</span>	
		</td>
        <td class="colorchip light-label dark-green">
			<span class="lessstyle">less dark-green</span>
			<span class="hexstyle">#318406</span>
			<span class="rgbstyle">rgb 49,132,6</span>
		</td>
        
        </tr>
        <tr>
        <td class="colorchip light-label vibrant-mid-green">
			<span class="lessstyle">less vibrant-mid-green</span>
			<span class="hexstyle">#58a018</span>
			<span class="rgbstyle">rgb 88,160,24</span>
		</td>    
        <td class="colorchip light-label vibrant-green">
			<span class="lessstyle">less vibrant-green</span>
			<span class="hexstyle">#8ec449</span>
			<span class="rgbstyle">rgb 142,196,73</span>
		</td>
        <td class="colorchip light-label vibrant-blue">
			<span class="lessstyle">less vibrant-blue</span>
			<span class="hexstyle">#08a3bc</span>
			<span class="rgbstyle">rgb 8,163,188</span>	
		</td>
        <td class="colorchip light-label ipswitch-brand-alt">
			<span class="lessstyle">less ipswitch-brand-alt</span>
			<span class="hexstyle">#219ca5</span>
			<span class="rgbstyle">rgb 33,156,165</span>	
		</td>
        <td class="colorchip light-label ipswitch-brand">
			<span class="lessstyle">less ipswitch-brand</span>
			<span class="hexstyle">#007b89</span>
			<span class="rgbstyle">rgb 0,123,137</span>	
		</td>    
        <td class="colorchip light-label dark-blue">
			<span class="lessstyle">less dark-blue</span>
			<span class="hexstyle">#0f61a5</span>
			<span class="rgbstyle">rgb 15,97,165</span>	
		</td>
        </tr>
        <tr>
        <td class="colorchip light-label blue-marguerite">
			<span class="lessstyle">less blue-marguerite</span>
			<span class="hexstyle">#5f4dad</span>
			<span class="rgbstyle">rgb 95,77,137</span>	
		</td>
        <td class="colorchip light-label med-red-violet">
			<span class="lessstyle">less med-red-violet</span>
			<span class="hexstyle">#c4308c</span>
			<span class="rgbstyle">rgb 196,48,140</span>	
		</td>
        <td class="colorchip light-label dark-pink">
			<span class="lessstyle">less dark-pink</span>
			<span class="hexstyle">#e55791</span>
			<span class="rgbstyle">rgb 196,48,140</span>	
		</td>    
        <td class="colorchip light-label dark-grey">
			<span class="lessstyle">less dark-grey</span>
			<span class="hexstyle">#4f5051</span>
			<span class="rgbstyle">rgb 79,80,81</span>
		</td>
        <td class="colorchip light-label dark-mid-grey">
			<span class="lessstyle">less dark-mid-grey</span>
			<span class="hexstyle">#868e93</span>
			<span class="rgbstyle">rgb 134,142,147</span>
		</td>
        <td class="colorchip light-label mid-grey">
			<span class="lessstyle">less mid-grey</span>
			<span class="hexstyle">#afb8bc</span>
			<span class="rgbstyle">rgb 175,184,188</span>
		</td>
        </tr>
        <tr>
        <td class="colorchip dark-label cool-mid-grey">
			<span class="lessstyle">less cool-mid-grey</span>
			<span class="hexstyle">#cad5d8</span>
			<span class="rgbstyle">rgb 202,213,216</span>
		</td>    
        <td class="colorchip dark-label light-grey">
			<span class="lessstyle">less light-grey</span>
			<span class="hexstyle">#e2e7e8</span>
			<span class="rgbstyle">rgb 226,231,232</span>
		</td>
        <td class="colorchip dark-label white-space borderequired">
			<span class="lessstyle">less white-space</span>
			<span class="hexstyle">#ffffff</span>
			<span class="rgbstyle">rgb 255,255,255</span>
		</td>    
	</tr>
  </tbody>
</table>
</div>



