<div class="ui-grid-render-container ui-grid-render-container-body" style="margin-left: 0px; margin-right: 0px;">
    <div class="ui-grid-header">
        <!-- theader -->
        <div class="ui-grid-top-panel">
            <div class="ui-grid-header-viewport">
                <div class="ui-grid-header-canvas">
                    <div class="ui-grid-header-cell-wrapper">
                        <div role="row" class="ui-grid-header-cell-row">

                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0004 grid-header">
                                <div role="columnheader">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus">
                                    	<span class="ui-grid-header-cell-label ng-binding">Task Name</span>
                                    		<span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    		<div ui-grid-filter=""></div>
                                </div>
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0005 grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope sortable">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">State</span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0006 grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope sortable">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">Last Run </span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0007 grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope sortable">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">Result</span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0008 grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope sortable">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">Files</span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-0009 grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope sortable">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">Size</span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-coluiGrid-000B grid-header">
                               
                                <div class="ui-grid-column-resizer left" col="col"></div>
                                
                                <div role="columnheader" class="ng-scope">
                                    <div role="button" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"><span class="ui-grid-header-cell-label ng-binding">Actions</span> <span class="ui-grid-invisible"><i class="ui-grid-icon-blank"></i> <sub>1</sub></span></div>
                                    
                                    <div ui-grid-filter=""></div>
                                </div>
                               
                                <div class="ui-grid-column-resizer right"></div>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>