<div class="modal-content" uib-modal-transclude="" style="width: 500px;">
    
    
<form>
    <ipsmica-modal-header class="ng-isolate-scope">
    <div class="modal-header">
      <div class="modal-title">
        <h3 class="ipsmica-editor-title ng-scope ng-binding" translate="" translate-values="titleValues">Dialog title</h3>
      </div>

      <div class="modal-controls">
        <a class="header-control ng-scope" href="#">
          <i class="fa ips-icon-help ng-scope" title="Help"></i>
        </a>
        <a href="" class="header-control">
          <i class="fa ips-icon-close ng-scope" title="Close"></i>
        </a>
      </div>
    </div>
    </ipsmica-modal-header>


        
  <div class="modal-body">
    <ipsmica-form-control>  
        <div class=", form-group ipsmica-form-control ng-scope">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Menu 1</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 3</a></li>
            </ul>        
        </div>
    </ipsmica-form-control>
      
      
    <div>
      <ipsmica-form-control>
        <div class=", form-group ipsmica-form-control ng-scope">
            
            <label ng-class="{'sr-only':!(true)}" class="control-label" for="field_name">Friendly Name</label>
            <input id="field_name" type="text" name="name" placeholder="Name" ng-model="data.name" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength" ipsmica-unique-name="ipsmica-unique-name" host-type="data.type" ng-model-options="{ debounce:{'default':200,'blur':0} }" required="required" ng-pattern="/^[^'|]*$/i" ng-minlength="0" ng-maxlength="1000" style="">

            <div class="help-block"><span class="text-muted"></span></div>
            <!-- ngIf: (ngModelController.$dirty && ngModelController.$invalid) || (form && form.$submitted && ngModelController.$invalid) -->

        </div>
    </ipsmica-form-control>
        
    <ipsmica-form-control>
        <div class=", form-group ipsmica-form-control ng-scope" ng-class="{'has-error':(ngModelController.$dirty &amp;&amp; ngModelController.$invalid) || (form &amp;&amp; form.$submitted &amp;&amp; ngModelController.$invalid)}">
            
            <label ng-class="{'sr-only':!(true)}" class="control-label" for="field_desc">Description</label>
            <textarea class="form-control" id="field_desc" rows="2"></textarea>
        </div>
    </ipsmica-form-control>
    </div>

    <ipsmica-task-group-selector ips-object="data" ng-model="data.groups" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" style=""><!-- ngIf: isVisible() --></ipsmica-task-group-selector>

    <ipsmica-form-control model="data" property="unc" rule="unc">
        <div class=", form-group ipsmica-form-control ng-scope" ng-class="{'has-error':(ngModelController.$dirty &amp;&amp; ngModelController.$invalid) || (form &amp;&amp; form.$submitted &amp;&amp; ngModelController.$invalid)}">
    
            <label ng-class="{'sr-only':!(true)}" class="control-label" for="field_unc">Resource UNC</label>
    
            <div class="input-group">
                <input id="field_unc" type="text" name="unc" placeholder="UNC Path" ng-model="data.unc" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="required" style="">

                <span class="input-group-btn">
                    <button id="btn_browse" class="btn btn-default ng-scope" type="button" ng-click="browseShares(data)" translate="Browse" ng-disabled="">Browse</button>
                </span>
            </div>
            <div class="help-block"><span class="text-muted"></span></div>
            <!-- ngIf: (ngModelController.$dirty && ngModelController.$invalid) || (form && form.$submitted && ngModelController.$invalid) -->

        </div>
    </ipsmica-form-control>

    
  </div>
  <!-- ngInclude: 'templates/editors/controls.html' --><div class="modal-footer ng-scope" ng-include="'templates/editors/controls.html'"><button id="dlgbtn_save" type="button" class="btn btn-primary ng-scope ng-binding" ng-disabled="edithost.$disabled" ng-click="save(edithost, data)" translate="">Add Host</button>
<a id="dlgbtn_cancel" href="" class="btn btn-footer-cancel ng-scope" ng-click="cancel(edithost)" ng-disabled="edithost.$disabled" translate="">Cancel</a>
</div>
</form>
</div>