<div class="modal-content" uib-modal-transclude="" style="width: 500px;">
    
<form>
    <ipsmica-modal-header>
    <div class="modal-header">
      <div class="modal-title">
        <h3 class="ipsmica-editor-title">Dialog Title</h3>
      </div>

      <div class="modal-controls">
        <a class="header-control" href="#">
          <i class="fa ips-icon-help" title="Help"></i>
        </a>
        <a href="" class="header-control">
          <i class="fa ips-icon-close " title="Close"></i>
        </a>
      </div>
    </div>
    </ipsmica-modal-header>

        
        
  <div class="modal-body">
    <div>
        
    <ipsmica-form-control>
        <div class=", form-group ipsmica-form-control">
    
            <label class="control-label" for="domain_controller">Domain Controller or LDAP Server</label>
    
            <div class="input-group">
                <input id="field_unc" type="text" name="unc" placeholder="UNC Path" class="form-control">

                <span class="input-group-btn">
                    <button id="btn_browse" class="btn btn-default" type="button">Test</button>
                </span>
            </div>
            <div class="help-block"><span class="text-muted"></span></div>
        </div>
    </ipsmica-form-control>    
        
    <ipsmica-form-control>
        <div class=", form-group ipsmica-form-control">
            <label class="control-label" for="field_name">Server port:</label>
            <div class="form-inline">
                <input id="field_name" type="text" name="name" placeholder="389" class="form-control" size="20px">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="" style=""></input>
                        <span>Secure</span>
                    </label>
                </div>
            </div>
            
            <div class="help-block"><span class="text-muted"></span></div>
        </div>
        
    </ipsmica-form-control>
        
    <ipsmica-form-control model="data" property="desc" rule="desc">
        <div class=", form-group ipsmica-form-control">
            
            <label class="control-label" for="field_desc">Description</label>
            <textarea class="form-control" id="field_desc" rows="2"></textarea>
        </div>
    </ipsmica-form-control>
    </div>
    
    
    <ipsmica-form-control>
    <fieldset class="controlgroup">
      <legend class="controlgroup">Group 1</legend>
        
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="" style=""></input>
                    <span>Use MOVEit Central Run-As credentials</span>
            </label>
            </div>
    
            <label class="control-label" for="field_unc">Logon Domain</label>
            <input type="text" placeholder="Your Domain" class="form-control">    
    
    </fieldset>
    </ipsmica-form-control>
    
    
    <ipsmica-form-control>
    <fieldset class="controlgroup">
      <legend class="controlgroup">Group 2</legend>
    
            <label class="control-label" for="field_unc">Authorize DNS</label>
            <input type="text" placeholder="" class="form-control">
    
    </fieldset>
    </ipsmica-form-control>
    
    
  </div>
<div class="modal-footer"><button type="button" class="btn btn-primary">Add Host</button>
<a href="" class="btn btn-footer-cancel">Cancel</a>
</div>
</form>
    
</div>