<!-- form_default.html -->
<form style="width: 400px;">
  <fieldset>
    <legend>Legend</legend>
    <label class="control-label">Label name</label>
    <input type="text" class="form-control" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
      
    
    <div class="checkbox">
    <label>
          <input type="checkbox">
          <span>Use File Notifications</span>
    </label>
    </div>
      

    <select class="form-control btn btn-default" type="button" style="width: 150px;">
        <option value="" translate="" class="" selected="selected">None</option>
        <option label="D:" value="string:D:">D:</option>
        <option label="E:" value="string:E:">E:</option>
        <option label="F:" value="string:F:">F:</option>
        <option label="G:" value="string:G:">G:</option>
        <option label="H:" value="string:H:">H:</option>
        <option label="I:" value="string:I:">I:</option>
        <option label="J:" value="string:J:">J:</option>
        <option label="K:" value="string:K:">K:</option>
        <option label="L:" value="string:L:">L:</option>
        <option label="M:" value="string:M:">M:</option>
        <option label="N:" value="string:N:">N:</option>
        <option label="O:" value="string:O:">O:</option>
        <option label="P:" value="string:P:">P:</option>
        <option label="Q:" value="string:Q:">Q:</option>
        <option label="R:" value="string:R:">R:</option>
        <option label="S:" value="string:S:">S:</option>
        <option label="T:" value="string:T:">T:</option>
        <option label="U:" value="string:U:">U:</option>
        <option label="V:" value="string:V:">V:</option>
        <option label="W:" value="string:W:">W:</option>
        <option label="X:" value="string:X:">X:</option>
        <option label="Y:" value="string:Y:">Y:</option>
        <option label="Z:" value="string:Z:">Z:</option>
      </select>
    </fieldset>
</form>

