<!-- form_validationstates.html -->
<div class="control-group warning">
  <label class="control-label" for="inputWarning">Input with warning</label>
  <div class="controls has-warning">
    <input class="form-control" type="text" id="inputWarning" style="max-width: 500px">
    <span class="help-inline">Something may have gone wrong</span>
  </div>
</div>
 
<div class="control-group error">
  <label class="control-label" for="inputError">Input with error</label>
  <div class="controls has-error">
    <input class="form-control" type="text" id="inputError" style="max-width: 500px">
    <span class="help-inline">Please correct the error</span>
  </div>
</div>
 
<div class="control-group info">
  <label class="control-label" for="inputInfo">Input with info</label>
  <div class="controls has-info">
    <input class="form-control" type="text" id="inputInfo" style="max-width: 500px">
    <span class="help-inline">Username is already taken</span>
  </div>
</div>
 
<div class="control-group success">
  <label class="control-label" for="inputSuccess">Input with success</label>
  <div class="controls has-success">
    <input class="form-control" type="text" id="inputSuccess" style="max-width: 500px">
    <span class="help-inline">Woohoo!</span>
  </div>
</div>