<!-- form_inputbuttoninsteadoftext2.html-->
<div class="input-group" style="width: 400px;">
        <input type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="" required="required" style="">

        <span class="input-group-btn">
            <button class="btn btn-default ng-scope" type="button" ng-disabled="">Search</button>
            <button class="btn btn-default ng-scope" type="button" ng-disabled="">Options</button>
        </span>
</div>