<!-- form_checkboxradio.html -->
<!-- https://github.com/kartik-v/bootstrap-checkbox-x -->

<div class="cbx-container cbx-block" >    
    <div class="cbx cbx-xs cbx-active">
        <span class="cbx-icon"></span>
    </div>
    <label class="cbx-label" for="check-1g">Default</label>
</div>
    

<div class="cbx-container cbx-block">    
    <div class="cbx cbx-xs cbx-active cbx-active-hovered">
        <span class="cbx-icon"></span>
    </div>
    <label class="cbx-label" for="check-2g">Hover/Focus</label>
</div>

<div class="cbx-container cbx-block">    
    <div class="cbx cbx-xs cbx-active cbx-active-activated">
        <span class="cbx-icon"><i class="glyphicon glyphicon-ok"></i></span>
    </div>
    <label class="cbx-label" for="check-3g">Active</label>
</div>

<div class="cbx-container cbx-block">    
    <div class="cbx cbx-xs cbx-active cbx-active-indeterminate">
        <span class="cbx-icon"><i class="glyphicon glyphicon-minus"></i></span>
    </div>
    <label class="cbx-label" for="check-3g">Indeterminate</label>
</div>

<div class="cbx-container cbx-block">    
    <div class="cbx cbx-xs cbx-disabled cbx-active-activedisabled" disabled>
        <span class="cbx-icon"><i class="glyphicon glyphicon-ok"></i></span>
    </div>
    <label class="cbx-label disabled" for="check-3g">Active Disabled</label>
</div>

<div class="cbx-container cbx-block" >    
    <div class="cbx cbx-xs cbx-disabled" disabled>
        <span class="cbx-icon"></span>
    </div>
    <label class="cbx-label disabled" for="check-3g">Disabled</label>
</div> 
    
    

<div>
<p>&nbsp;</p>
    <p><strong>Triple Check Box State</strong></p>
<input id="check-1i" value="1" data-toggle="checkbox-x" data-size="xs" data-inline="false">
</div>
    



