<!-- form_inputbuttoninsteadoftext.html-->
<div class="input-group" style="width: 400px;">
        <input type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="UNC Path" required="required" style="">

        <span class="input-group-btn">
            <button class="btn btn-default ng-scope" type="button" ng-disabled="">Browse</button>
        </span>
</div>