<!-- form_combined.html -->
<div class="input-prepend input-append">
  <span class="add-on">$</span>
  <input class="span2" id="appendedPrependedInput" type="text">
  <span class="add-on">.00</span>
</div>


<div class="input-group">
        <input id="field_unc" type="text" name="unc" placeholder="UNC Path" ng-model="data.unc" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="required" style="">

        <span class="input-group-btn">
            <button id="btn_browse" class="btn btn-default ng-scope" type="button" ng-click="browseShares(data)" translate="Browse" ng-disabled="">Browse</button>
        </span>
</div>