<!-- form_inputbuttondropdown.html-->
<div class="input-group" style="width: 400px;">
        <input type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="" required="required" style="">

        <span class="input-group-btn">
            <button class="btn dropdown-toggle btn-default ng-scope" data-toggle="dropdown">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
                ...
            </ul>
        </span>
</div>

