<!-- form_horizontal.html -->
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Input Field Label 1</label>
    <div class="controls">
      <input type="text" class="form-control" id="inputEmail" placeholder="Input Field 1" style="width: 300px;">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Input Field Label 2</label>
    <div class="controls">
      <input type="password" class="form-control" id="inputPassword" placeholder="Input Field 2" style="width: 300px;">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    
        <div class="checkbox">
        <label>
              <input type="checkbox">
              <span>Use File Notifications</span>
        </label>
        </div>
        
        <select class="form-control btn btn-default" style="width: 150px;">
            <option value="" selected="selected">None</option>
            <option label="D:" value="string:D:">D:</option>
            <option label="E:" value="string:E:">E:</option>
            <option label="F:" value="string:F:">F:</option>
            <option label="G:" value="string:G:">G:</option>
            <option label="H:" value="string:H:">H:</option>
            <option label="I:" value="string:I:">I:</option>
            <option label="J:" value="string:J:">J:</option>
            <option label="K:" value="string:K:">K:</option>
            <option label="L:" value="string:L:">L:</option>
            <option label="M:" value="string:M:">M:</option>
            <option label="N:" value="string:N:">N:</option>
            <option label="O:" value="string:O:">O:</option>
            <option label="P:" value="string:P:">P:</option>
            <option label="Q:" value="string:Q:">Q:</option>
            <option label="R:" value="string:R:">R:</option>
            <option label="S:" value="string:S:">S:</option>
            <option label="T:" value="string:T:">T:</option>
            <option label="U:" value="string:U:">U:</option>
            <option label="V:" value="string:V:">V:</option>
            <option label="W:" value="string:W:">W:</option>
            <option label="X:" value="string:X:">X:</option>
            <option label="Y:" value="string:Y:">Y:</option>
            <option label="Z:" value="string:Z:">Z:</option>
        </select>
    </div>
  </div>
</form>