  <!-- form_extendinput.html -->
  <div class="input-prepend" style="width: 400px;">
      <span class="add-on">@</span>
      <input class="form-control span2" id="prependedInput" type="text" placeholder="Username">
    </div>
    <div>&nbsp;</div>
    <div class="input-append" style="width: 400px;">
      <input class="form-control span2" id="appendedInput" type="text">
      <span class="add-on">.00</span>
    </div>
