
    <div class="container">
      <h1>Ipswitch Icons Used Alone</h1>
      <ul class="list-unstyled">
        <li><i class="ips-icon ips-icon-uplevel"></i>Uplevel</li>
        <li><i class="ips-icon ips-icon-search"></i>Search</li>
        <li><i class="ips-icon ips-icon-user"></i>User</li>
      </ul>

      <h1>Ipswitch Icons Mixed with Font Awesome Icons</h1>
      <ul class="list-unstyled">
        <li><i class="fa fa-fw ips-icon-hide"></i>Ipswitch Hide</li>
        <li><i class="fa fa-fw fa-trash"></i>Font Awesome Trash</li>
        <li><i class="fa fa-fw ips-icon-monitor"></i>Ipswitch Monitor</li>
        <li><i class="fa fa-fw fa-support"></i>Font Awesome Support</li>
      </ul>
    </div>
