<div class="palette-format">
<table>
  <tbody>
    <tr>
		<td style="background: #016a77;" class="colorchip light-label">
			<span class="hexstyle">#016a77</span>
			<span class="rgbstyle">rgb 2,107,120</span>
		</td>
		<td style="background: #4cc4d1;" class="colorchip dark-label">
			<span class="hexstyle">#4cc4d1</span>
			<span class="rgbstyle">rgb 76,196,209</span>	
		</td>
		<td style="background: #a1cf73;" class="colorchip dark-label">
			<span class="hexstyle">#a1cf73</span>
			<span class="rgbstyle">rgb 162,208,116</span>
		</td>
		<td style="background: #fabb17;" class="colorchip dark-label">
			<span class="hexstyle">#fabb17</span>
			<span class="rgbstyle">rgb 250,187,24</span>
		</td>
    </tr>
    <tr>


		<td style="background: #f0554c;" class="colorchip light-label">
			<span class="hexstyle">#f0554c</span>
			<span class="rgbstyle">rgb 241,86,76</span>
		</td>
		<td style="background: #404041;" class="colorchip light-label">
			<span class="hexstyle">#404041</span>
			<span class="rgbstyle">65,64,66</span>	
		</td>
		<td style="background: #a7a9ab;" class="colorchip light-label">
			<span class="hexstyle">#a7a9ab</span>
			<span class="rgbstyle">rgb 167,169,172</span>
		</td>
		<td style="background: #d1d2d4;" class="colorchip dark-label">
			<span class="hexstyle">#d1d2d4</span>
			<span class="rgbstyle">rgb 209,211,212</span>
		</td>
    </tr>
  </tbody>
</table>
</div>