<!-- ipswitchicons.html -->
<table class="iconTable">
    <tbody>
        <tr>
            <th colspan="3">Icon, Unicode (0xe___), ID Name</th>
        </tr>
        <tr>
            <td><span class="ipswitchicon iconstyle">&#8192;&#xe800;</span><span>800</span><span>icon-uplevel</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe831;</span><span>831</span><span>icon-i_deviceip</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe803;</span><span>803</span><span>icon-help</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe804;</span><span>804</span><span>icon-search</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe844;</span><span>844</span><span>filter-exclude</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe807;</span><span>807</span><span>icon-folder</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe808;</span><span>808 <span>icon-check-empty</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe843;</span><span>843</span><span>filter-include</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe80b;</span><span>80b</span><span>icon-check-active</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe80c;</span><span>80c <span>icon-radio-empty</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe842;</span><span>842 case-sensitive</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe80f;</span><span>80f</span><span>icon-radio-active</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe810;</span><span>810</span><span>icon-actions</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe846;</span><span>846</span><span>doc-export</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe813;</span><span>813</span><span>icon-devicerole</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe814;</span><span>814</span><span>icon-hide</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe848;</span><span>848</span><span>play</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe817;</span><span>817</span><span>icon-fitall</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe818;</span><span>818</span><span>icon-newscan</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe850;</span><span>850</span><span>stop</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe81b;</span><span>81b</span><span>icon-texture</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe81c;</span><span>81c</span><span>icon-trash</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe852;</span><span>852</span><span>play-all</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe81f;</span><span>81f</span><span>icon-hiddendevices</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe820;</span><span>820</span><span>icon-pan</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe854;</span><span>854</span><span>settings-configure-list</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe823;</span><span>823</span><span>icon-gridhide</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe824;</span><span>824</span><span>icon-gridpartialopendown</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe856;</span><span>856</span><span>operating-system</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe827;</span><span>827</span><span>icon-zoomminuscircle</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe828;</span><span>828</span><span>icon-i_customlayout</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe858;</span><span>858</span><span>annotation-rectangle</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe845;</span><span>845</span><span>chart-donut</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe82c;</span><span>82c</span> <span>icon-i_library</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe860;</span><span>860</span><span>annotation-polygon</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe82f;</span><span>82f</span><span>icon-i_monitoring</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe830;</span><span>830</span><span>icon-close</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe862;</span><span>862</span><span>annotation-cloud</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe833;</span><span>833</span><span>icon-i_information</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe834;</span><span>834</span><span>icon-i_doublechevron</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe864;</span><span>864</span><span>send-to-back</span></td>
            <td><span class="iconstyle" style="font-family:ipswitchiconsregular;">&#xe837;</span><span>837</span><span>icon-droplistmenu</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe838;</span><span>838</span><span>icon-report</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe802;</span><span>802</span><span>icon-user</span></td>
            <td><span class="iconstyle" style="font-family:ipswitchiconsregular;">&#xe839;</span><span>839</span><span>icon-connected</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe801;</span><span>801</span><span>icon-pencil</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe806;</span><span>806</span><span>icon-folder-outline</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe83A;</span><span>83a</span><span>icon-disconnected</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe805;</span><span>805</span><span>icon-filter</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe80a;</span><span>80a</span><span>icon-check-check</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe840;</span><span>840</span><span>search-wildcard</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe809;</span><span>809</span><span>icon-check-fill</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe80e;</span><span>80e</span><span>icon-radio-dot</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe841;</span><span>841</span><span>search-string</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe80d;</span><span>80d</span><span>icon-radio-fill</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe812;</span><span>812</span><span>icon-credentials</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe847;</span><span>847</span><span>doc-import</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe811;</span><span>811</span><span>icon-arrange</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe816;</span><span>816</span><span>icon-monitor</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe849;</span><span>849</span><span>pause</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe815;</span><span>815</span><span>icon-show</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe81a;</span><span>81a</span><span>icon-schedule</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe851;</span><span>851</span><span>reset</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe819;</span><span>819</span><span>icon-overlays</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe81e;</span><span>81e</span><span>icon-scanoptions</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe853;</span><span>853</span><span>pause-all</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe81d;</span><span>81d</span><span>icon-displayoptions</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe822;</span><span>822</span><span>icon-gridfullscreen</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe855;</span><span>855</span><span>brand</span></td>
        </tr>
        <tr>
            <td><span class="iconstyle ipswitchicon">&#xe821;</span><span>821</span><span>icon-marqueeselect</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe826;</span><span>826</span><span>icon-zoompluscircle</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe857;</span><span>857</span><span>annotation-line</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe825;</span><span>825</span><span>icon-gridpartialopenup</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe82a;</span><span>82a</span><span>icon-i_groupdevice</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe859;</span><span>859</span><span>annotation-circle</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe829;</span><span>829</span><span>icon-i_autolayout</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe82e;</span><span>82e</span><span>icon-i_status</span></td>
            <td><span class="iconstyle ipswitchicon">&#xe861;</span><span>861</span><span>annotation-text</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe82d;</span><span>82d</span><span>icon-i_properties</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe832;</span><span>832</span><span>icon-i_newview</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe863;</span><span>863</span><span>bring-to-front</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe865;</span><span>865</span><span>access-point</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe866;</span><span>866</span><span>autonomous-access-point</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe867;</span><span>867</span><span>wireless-controller</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe868;</span><span>868</span><span>grouped-rows</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe869;</span><span>869</span><span>server</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe870;</span><span>870</span><span>monitor-report</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe871;</span><span>871</span><span>user-group</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe872;</span><span>872</span><span>state-change</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe873;</span><span>873</span><span>wug-map</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe874;</span><span>874</span><span>telnet</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe875;</span><span>875</span><span>ssh</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe876;</span><span>876</span><span>traceroute</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe877;</span><span>877</span><span>traceroute-layer-two</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe878;</span><span>878</span><span>ping</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe879;</span><span>879</span><span>poll-now</span></td>
        </tr>
        <tr>
          <td><span class="iconstyle ipswitchicon">&#xe880;</span><span>880</span><span>maintenance-mode</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe881;</span><span>881</span><span>clone</span></td>
          <td><span class="iconstyle ipswitchicon">&#xe882;</span><span>882</span><span>remote-desktop</span></td>
        </tr>        
    </tbody>
</table>




