<div class="palette-format">
<table>
  <tbody>
    <tr>
		<td style="background: #016a77;" class="colorchip light-label">
			<span class="hexstyle">#016a77</span>
			<span class="rgbstyle">rgb 2,107,120</span>
		</td>
		<td>
		
		<h3 class="ipstyleguide">Ipswitch Teal for use in Branding and Marketing</h3>
		<p>The Ipswitch Teal, defined in the branding guidelines, utilizes a very dark hue and tone. The color is used in logos, print and marketing materials.</p>

		<p>Although the color generally works well for branding and marketing 
		purposes, the color might not be readily discernable on older 
		monitors and screens or to users with low vision deficiencies.</p>
		
		</td>
    </tr>
    <tr>
		<td style="background: #007b89;" class="colorchip light-label">
			<span class="hexstyle">#f007b89</span>
			<span class="rgbstyle">rgb 0,123,137</span>
		</td>
		<td>
		
		<h3 class="ipstyleguide">Ipswitch Teal used in our Products</h3>
		
		<p>In order for the Ipswitch teal to be noticed as an action color in the user 
interface of our products, such as when distinguishing links from dark text 
and for use in primary buttons, the tone of the Ipswitch teal is lightened 
slightly to appear more interactive and vibrant. This color is derived from the teal gradient used in the branding graphics on the Ipswitch 
Ipswitch web site.<p>

<p>Please note: this color should be used only in the user interface of our products 
and not in any marketing materials.</p>
		
		
		</td>
    </tr>
  </tbody>
</table>
</div>