
<!-- linkscontent.html -->
    <table class="table">
        <tr>
          <th>Normal</th>
          <th>Hover</th>
          <th>Active</th>
          <th>Visited</th>
        </tr>
        <tr>
            <td><p><a href="#">Cheese Ipsum</a></p></td>
            <td><p><a id="linkhoverexample" href="#">Cheese Ipsum</a></p></td>
            <td><p><a href="#">Cheese Ipsum</a></p></td>
            <td><p><a href="#">Cheese Ipsum</a></p></td>
        </tr>
    </table>    


<p>I love cheese, especially <a href="#">cheesy grin brie</a>. Cheesecake taleggio st. agur blue cheese st. agur blue cheese camembert de normandie cheesecake fromage frais blue castello. <a href="#">Paneer feta rubber cheese</a> st. agur blue cheese cauliflower cheese melted cheese emmental smelly cheese. Cheese triangles when the cheese comes out everybody's happy st. agur blue cheese.</p>


<!-- Forcing hover for style guide purposes above -->
<script>
    	$( "#linkhoverexample" ).last().addClass( "hovered" );
</script>