<!-- list-group-badges.html -->
<ul class="list-group">
    <li class="list-group-item"><span class="badge">14</span> Cras justo odio</li>
    <li class="list-group-item"><span class="badge">2</span> Dapibus ac facilisis in </li>
    <li class="list-group-item"><span class="badge">1</span> Morbi leo risus </li>
</ul>