<!-- navigationlinks.html -->
<ipsmica-task-subnav>
<div class="mica__list__nav">
  <ul class="nav ips-nav-largelinks">
    <li id="tasklist" class=" active"><a href="#"><span>Task List</span></a></li>
    <li id="taskruns" class=""><a href="#"><span>Task Run</span></a></li>
    <li id="taskruns" class=""><a href="#"><span>File Activity</span></a></li>   
  </ul>
</div>
</ipsmica-task-subnav>