
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <img id="app_logo_image" src="images/logo_image.svg" alt="Logo"/>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a ui-sref="">Navigation1</a>
            </li>
            <li>
              <a ui-sref="">Navigation2</a>
            </li>
            <li>
              <a ui-sref="">Navigation3</a>
            </li>
            <li>
              <a ui-sref="">Navigation4</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-user-opts" class="user_menu dropdown">
              <a data-toggle="dropdown"><i class="ips-icon ips-icon-user"></i>username&nbsp;
                <div class="menu-chevron"><i class="fa fa-chevron-down"></i></div>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li id="link1"><a>Link 1</a></li>
                <li id="link2"><a>Link 2</a></li>
                <li class="divider"></li>
                <li id="link3"><a>Link 3</a></li>
              </ul>
            </li>
            <li id="nav-help" class="dropdown help_menu">
              <a data-toggle="dropdown">help&nbsp;
                <div class="menu-chevron"><i class="fa fa-chevron-down"></i></div>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li id="Help1"><a>Help 1</a></li>
                <li id="Help2"><a>Help 2</a></li>
                <li class="divider"></li>
                <li id="Help3"><a>Help 3</a></li>
                <li id="Help4"><a>Help 4</a></li>
                <li class="divider"></li>
                <li id="Help5"><a>Help 5</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2>Tabs</h2>
      <ul class="nav nav-tabs" style="margin-bottom:50px;">
        <li class="active"><a href="#">Active Tab</a></li>
        <li><a href="#">Inactive Tab</a></li>
        <li><a href="#">Inactive Tab</a></li>
      </ul>

      <h2>Large Links (direct)</h2>
      <ul class="nav ips-nav-largelinks" style="margin-bottom:50px;">
        <li class="active"><a href="#">Active Nav Link</a></li>
        <li><a href="#">Inactive Nav Link</a></li>
        <li><a href="#">Inactive Nav Link</a></li>
      </ul>

      <h2>Large Links (wrapping tabs)</h2>
      <div class="ips-navtabs-largelinks" style="margin-bottom:50px;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Active Tab</a></li>
          <li><a href="#">Inactive Tab</a></li>
          <li><a href="#">Inactive Tab</a></li>
        </ul>
      </div>

      <h2>Pills</h2>
      <ul class="nav nav-pills" style="margin-bottom:50px;">
        <li class="active"><a href="#">Active Pill</a></li>
        <li><a href="#">Inactive Pill</a></li>
        <li><a href="#">Inactive Pill</a></li>
      </ul>

      <h2>Stacked Pills</h2>
      <ul class="nav nav-pills nav-stacked" style="max-width:150px;margin-bottom:50px;">
        <li class="active"><a href="#">Active Pill</a></li>
        <li><a href="#">Inactive Pill</a></li>
        <li><a href="#">Inactive Pill</a></li>
      </ul>
    </div>
    <div class="loginFooter">
      <span>&copy; 2016 Ipswitch Inc. All Rights Reserved.</span>
      <a href="http://www.ipswitch.com/">www.ipswitch.com</a>
    </div>
