<!-- page_title.html -->
<div class="mica__list__summary__stats ng-isolate-scope" label="hosts.label" pageobj="hostsCtrl">
  <span class="ipsmica_list_summary_title">Example page header</span>
</div>

<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>