<!-- page_header_counter.html -->
<div class="mica__list__summary__stats ng-isolate-scope" label="hosts.label" pageobj="hostsCtrl">
  <span class="ipsmica_list_summary_title">Hosts<span class="ipsmica_list_summary_count">(1 to 10 of 14)</span></span>
  
</div>