<!-- progressbar-stacked.html -->

<div class="progress">
    <div class="progress-bar progress-bar-success" style="width:35%"> <span class="sr-only">35% Complete (success)</span> </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width:20%"> <span class="sr-only">20% Complete (warning)</span> </div>
    <div class="progress-bar progress-bar-danger" style="width:10%"> <span class="sr-only">10% Complete (danger)</span> </div>
</div>