<!-- sorting.html -->
<div class="mica__sortcontainer">
  <span class="">Sort by</span>

  <div class="ipsmica_sort_buttons btn-group">
    <button class="btn btn-default active" >
      <span class="">Name</span>
      <i class="ipsmica_sort_indicator fa fa-long-arrow-down"></i>
    </button>
      
      
    <button class="btn btn-default">
      <span class="">Type</span><i class="ipsmica_sort_indicator fa"></i>
    </button>
  </div>

</div>