<!-- spinner-small.html -->

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Status</th>
                <th>Date</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ACH Accounts Receivables</th>
                <td><div class="inline-loader"></div></td>
                <td>2016-05-19, 09:36</td>
                <td>0kb</td>
            </tr>
        </tbody>
    </table>
</div>