<!-- toolbar-horizontal.html -->
<div class="btn-toolbar" role="toolbar">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default btn-toolbar-horizon-left fa fa-bold"></button>
		<button type="button" class="btn btn-default btn-toolbar-horizon fa fa-italic"></button>
		<button type="button" class="btn btn-default btn-toolbar-horizon fa fa-underline"></button>
		<button type="button" class="btn btn-default btn-toolbar-horizon fa fa-align-left"></button>
		<button type="button" class="btn btn-default btn-toolbar-horizon fa fa-align-center"></button>
		<button type="button" class="btn btn-default btn-toolbar-horizon-right fa fa-align-right"></button>
	</div>
</div>


