<!-- toolbar-vertical.html -->
    <div class="btn-group-vertical" role="group">
		<button type="button" class="btn btn-default btn-toolbar-vertical-top fa fa-calendar"></button>
		<button type="button" class="btn btn-default btn-toolbar-vertical fa fa-comment"></button>
		<button type="button" class="btn btn-default btn-toolbar-vertical fa fa-cog"></button>
		<button type="button" class="btn btn-default btn-toolbar-vertical-bottom fa fa-arrows"></button>
	</div>
