<!-- toolbarcontainer.html -->
<div class="mica__list__header">
    
    
<!-- sorting.html -->
<div style="float: left;">
<div class="mica__sortcontainer ng-isolate-scope">
  <span class="ng-scope">Sort by</span>

  <div class="ipsmica_sort_buttons btn-group">
    <button class="btn btn-default active" >
      <span class="ng-scope ng-binding">Name</span>
      <i class="ipsmica_sort_indicator fa fa-long-arrow-down"></i>
    </button>
      
      
    <button class="btn btn-default">
      <span class="ng-scope ng-binding">Type</span><i class="ipsmica_sort_indicator fa"></i>
    </button>
  </div>

</div>    
</div>    
    
    
    
<!-- Pagination.html -->
<div style="float: right;">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&#60;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&#62;</span>
      </a>
    </li>
  </ul>
</nav>
</div>




</div>