<!-- toolbar-vertical-large.html -->
    <div class="btn-group-vertical btn-group-lg" role="group">
        <button type="button" class="btn btn-default btn-lg btn-toolbar-vertical-top fa"><span class="ipswitchicon">&#xe826;</span></button>
		<button type="button" class="btn btn-default btn-lg btn-toolbar-vertical ipswitchicon iconstyle"><span class="ipswitchicon">&#xe827;</span></button>
		<button type="button" class="btn btn-default btn-lg btn-toolbar-vertical ipswitchicon iconstyle"><span class="ipswitchicon">&#xe820;</span></button>
		<button type="button" class="btn btn-default btn-lg btn-toolbar-vertical-bottom ipswitchicon iconstyle"><span class="ipswitchicon">&#xe821;</span></button>
	</div>
