<div class="btn-toolbar" role="toolbar" aria-label="...">
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default">1</button>
		<button type="button" class="btn btn-default">2</button>
		<button type="button" class="btn btn-default">3</button>
	</div>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default">1</button>
		<button type="button" class="btn btn-default">2</button>
	</div>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default">1</button>
		<button type="button" class="btn btn-default">2</button>
		<button type="button" class="btn btn-default">3</button>
	</div>
</div>