<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['.alert','.alert-success','.alert-link'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>





<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</h3>
                  
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#contentlinks">Examples</a></li>
							<li><a href="#dismissible-alerts">Dismissible Alerts</a></li>
							<li><a href="#alerts-with-links">Links in alerts</a></li>
							<li><a href="#toast-alerts">Toast Alerts</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="contentlinks"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Examples</h2>
                                
                                <p class="ipstyleguide">Wrap any text and an optional dismiss button in .alert and one of the four contextual classes (e.g., .alert-success) for basic alert messages.</p>
                                
                                <p class="ipstyleguide"><strong>Special note:</strong> background and text colors text inside alerts have been chosen for accessibility and to pass WCAG 2.0 AAA contrast ratios, <a href="http://webaim.org/resources/contrastchecker/">http://webaim.org/resources/contrastchecker/</a>.</p>
                                
                                
                                <div class="bs-callout bs-callout-info" id="callout-alerts-no-default">
                                    <h4>No default class</h4>
                                    <p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>
                                </div>
                                     
                                
                                
                                <?php
                                
                                $ui = "alerts"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="dismissible-alerts"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Dismissible Alerts</h2>
                                
                                <p class="ipstyleguide">Build on any alert by adding an optional .alert-dismissible and close button.</p>
                                
                                <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                                    <h4>Requires JavaScript alert plugin</h4> <p>For fully functioning, dismissible alerts, you must use the <a href="../javascript/#alerts">alerts JavaScript plugin</a>.</p>
                                </div>
                                     
                                
                                
                                <?php
                                
                                $ui = "alerts-dismissible"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="alerts-with-links"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Links in Alerts</h2>
                                
                                <p class="ipstyleguide">Use the .alert-link utility class to quickly provide matching colored links within any alert.</p>
                              
                                
                                
                                <?php
                                
                                $ui = "alerts-with-links"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="toast-alerts"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Toast Alerts</h2>
                                
                                <p class="ipstyleguide">Coming soon!</p>
                              
                                
                           
			      			</div>

							<div id="code">                                
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
    
    
</div><!-- End container-fluid -->