<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<div class="btn-group">','<div class="btn-toolbar">','.btn-group','.btn','.dropdown','position: relative;','.dropdown-header','role="separator"','.divider','.disabled','<li>','.btn-lg', '.btn-sm','.btn-xs','.btn-block','.login-button','.btn-primary'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Button Types</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Buttons should communicate the action that will occur when the user clicks or touches them.</h3>
                  
                  				<p class="ipstyleguide">We have two different button styles.</p>
                  
                                <p class="ipstyleguide"><span class="ipstyleguideemphasis">Default Button Style</span> - For most situations the Default Button Style should be used. The style is intended to be neutral and non-distracting against the rest of the UI. The rounded corners are intended to ensure the component is easily recognizeable as a button.</p>
                  
                                <p class="ipstyleguide"><span class="ipstyleguideemphasis">Primary Button Style</span> - The Primary Button Style should be used sparingly. It is intended to draw special attention to a required action, where the user cannot proceed to another task unless a specific action is taken. Such use cases would include the confirmation action in dialogs. It can also be used in more marketing related actions such as a Sign Up button in a web application.
				  				</p>
                                
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#button-style">Button Style</a></li>
							<li><a href="#styling">Styling Specification</a></li>
							<li><a href="#buttonsizes">Sizes</a></li>
                            <li><a href="#button-block-level">Button Block-Level</a></li>
                            <li><a href="#button-login">Log In/Sign In Button</a></li>
							<li><a href="#buttongroups">Button Groups</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                
                
                
                	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="button-style"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Button Style</h2>
                                
                                <?php

                                $ui = "buttons"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
            
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">			      	
			      			<div id="styling"> <!-- Navigation ID for Table of Contents -->
                    		<h2 class="article-title ipstyleguide">Styling Specification</h2>
    						<img src="markup/ui-spec/buttons.png" width="643" height="630" />
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
		        	
		        	
		        	
		          <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
		        	
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="buttonsizes"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Sizes</h2>
                                
                                
                                <p class="ipstyleguide">Larger or smaller buttons, add .btn-lg, .btn-sm, or .btn-xs for additional sizes.</p>
                                
                                <?php
                                
                                $ui = "button-sizes"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="button-block-level"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Button Block-Level</h2>
                                
                                
                                <p class="ipstyleguide">Create block level buttons—those that span the full width of a parent— by adding .btn-block.</p>
                                
                                <p class="ipstyleguide">For extra emphasis, please use the .btn-primary class sparringly for block level buttons.</p>
                                
                                <?php
                                
                                $ui = "button-block"; // define UI topic

                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="button-login"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Log In/Sign In Button</h2>
                                
                                
                                <p class="ipstyleguide">For "Log In" or "Sign In" pages, use this specific style .login-button.</p>
                                
                                <?php
                                
                                $ui = "button-sign-in"; // define UI topic

                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
		        	
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="buttongroups"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Button Groups</h2>
                                
                                <h3 class="ipstyleguide">Basic Example</h3>
                                
                                <p class="ipstyleguide">Wrap a series of buttons with .btn in .btn-group.</p>
                                
                                <?php
                                
                                $ui = "buttongroup"; // define UI topic

                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Toolbar Button</h3>
                                
                                <p class="ipstyleguide">Combine sets of &#60;div class="btn-group"&#62; into a &#60;div class="btn-toolbar"&#62; for more complex components.</p>

                                
                                <?php
                                
                                $ui = "toolbarbutton"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Button Nesting</h3>
                                
                                <p class="ipstyleguide">Place a .btn-group within another .btn-group when you want dropdown menus mixed with a series of buttons.</p>
                                
                                <?php
                                
                                $ui = "button-nesting"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->

			


		        	
		        	

					<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->


                    
</div><!-- end container-fluid -->