
<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Dialog styling includes visual hierarchy to easily isolated groups of tasks and controls.</h3>
                  
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#simplepanel">Simple Panel</a></li>
							<li><a href="#modal-dialog">Modal Dialog</a></li>
							<li><a href="#dialog-group">Grouped Tasks</a></li>
							<li><a href="#dialog-tabs">Dialog Tabs</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="dialog_examples"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Simple Panel</h2>
                                
                                <?php

                                $ui = "dialog_example"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample-noborder">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="modal-dialog"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Modal Dialog</h2>
                                
                                <p class="ipstyleguide">Modal dialogs behave similarly to a pop-up dialog, appearing and positioned in front of related content. However the user cannot interact with content behind the modal dialog until a specific task is completed or the task is dismissed.</p>
                                
                                <p class="ipstyleguide">Content within the browser window behind the modal dialog is darkened to draw focus to the modal dialog.</p>
                                
                                <p class="ipstyleguide"><i>Under construction.</i></p>
                                
                                <?php
                                
                                $ui = "dialog_modal"; // define UI topic 

								// Render Control
								// Check if html doc exists
                                
                                /*
								$htmlpath = 'markup/ui-html/dialog_modal.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample-noborder">';
        							include($htmlpath);
        							echo '</div>';
      							}*/
                                
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php //getContent('dialog_modal'); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="dialog-group"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Grouped Tasks</h2>
                                
                                <p class="ipstyleguide">There are times input controls need to be grouped. Traditionally the style would be to wrap the group of controls inside a border box. Instead, our style guide uses a subtle background fill to create better visual hierarchy and lower the visual noise of additional horizontal and vertical lines that can overwhelm complex dialogs.</p>                                
                                                                
                                <?php
                                
                                $ui = "dialog_group"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample-noborder">';
        							include($htmlpath);
        							echo '</div>';
      							}
                                
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="dialog-tabs"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Dialog Tabs</h2>
                                
                                <p class="ipstyleguide"><i>Under construction</i></p>                                
                                                                
                                <?php
                                
                                $ui = "dialog_tabs"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists                                
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample-noborder">';
        							include($htmlpath);
        							echo '</div>';
      							}
                                
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
    
    
    
       
</div>