<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<div class="btn-group">','<div class="btn-toolbar">','.btn-group','.btn','.dropdown','position: relative;','.dropdown-header','role="separator"','.divider','.disabled','<li>'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Dropdowns</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Dropdown components provide menus with additional options.</h3>        
                                
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#dropdown">Dropdowns</a></li>
							<li><a href="#buttondropdown">Button dropdowns</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                
                
		        	
                    <span id="dropdown"></span>
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Dropdowns</h2>
                                
                                
                                <h3 class="ipstyleguide">Toggleable, contextual menu for displaying lists of links. Made interactive with the dropdown <a href="http://getbootstrap.com/javascript/#dropdowns">JavaScript plugin</a>.</h3>
                                
                                
                                <p class="ipstyleguide"><strong>Example:</strong></p>
                                
                                <p class="ipstyleguide">Wrap the dropdown's trigger and the dropdown menu within .dropdown, or another element that declares position: relative;. Then add the menu's HTML.</p>
                                
                                <?php
                                
                                $ui = "dropdown"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>

                                <?php 
                                $ui = "buttons"; // needed in order to get button styling for drop down
                                getContent($ui); // display html, css, less code 

                                ?>

                            </div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Dropdown with Header</h3>
                                
                                <p class="ipstyleguide">Add a header to label sections of actions in any dropdown menu (.dropdown-header).</p>
                                
                                <?php
                                
                                $ui = "dropdown-with-header"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Divider</h3>
                                
                                <p class="ipstyleguide">Add a divider to separate series of links in a dropdown menu (role="separator", .divider).</p>
                                
                                <?php
                                
                                $ui = "dropdown-with-divider"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Disabled Menu Items</h3>
                                
                                <p class="ipstyleguide">Add .disabled to a &#60;li&#62; in the dropdown to disable the link.</p>
                                
                                <?php
                                
                                $ui = "dropdown-with-header"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    

    
                    <span id="buttondropdown"></span>
    
    
                        <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Button Dropdowns</h2>
                                
                                <h3 class="ipstyleguide">Use any button to trigger a dropdown menu by placing it within a .btn-group and providing the proper menu markup.</h3>
                                
                                
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                   
    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Single Button Dropdowns</h3>
                                
                                <p>Turn a button into a dropdown toggle with some basic markup changes. </p>
                                
                                <?php
                                
                                $ui = "dropdown-singlebutton"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                   
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Split Button Dropdown</h3>
                                
                                <p>Create split button dropdowns with the same markup changes, only with a separate button.</p>
                                
                                <?php
                                
                                $ui = "dropdownsplitbutton"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Sizing</h3>
                                
                                <p>Button dropdowns work with buttons of all sizes.</p>
                                
                                <?php
                                
                                $ui = "dropdown-sizing"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  


                    
    
    
    
				    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
    
    

		        	
		        	

                    
</div><!-- end container-fluid -->