<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<table>','.table'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">A Grid List is a type of view commonly used to display data in our products.</h3>
                                
                                <p class="ipstyleguide">A Grid List consists of a repeated pattern of cells arrayed in a vertical and horizontal layout and are best used on similar data types. They help improve the visual comprehension of the content they contain.</p>
                                
                                <p class="ipstyleguide"><span class="ipstyleguidenote">Note: As a component type, Grid List should not be confused with responsive grid systems used to define the layout structure of columns and rows in most modern UI frameworks.</span></p>

                                <p class="ipstyleguide"><span class="ipstyleguidenote">Since a number of different technologies are used across the Ipswitch family of products, static styling specifications are provided below instead of example HTML and CSS code.</span></p>
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#datagrid">Data Grid</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="datagrid"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Data Grid</h2>
                                
                                <h3 class="ipstyleguide">Data Grid styling as used in WUG 2017</h3>
                                <img src="markup/ui-spec/GridWug.png" width="941" height="269" />
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h3 class="ipstyleguide">Data Grid - Header Styling</h3>
                                <img src="markup/ui-spec/DataGridHeader.png" width="853" height="436" />
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h3 class="ipstyleguide">Data Grid - Row Styling</h3>
                                <img src="markup/ui-spec/DataGridRows.png" width="1116" height="194" />
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h3 class="ipstyleguide">Data Grid - Cell Error</h3>
                                <img src="markup/ui-spec/GridAlertCell.png" width="945" height="250" />
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h3 class="ipstyleguide">Data Grid - Disabled Row</h3>
                                <img src="markup/ui-spec/GridDisabledRow.png" width="1146" height="327" />
                                
			      			</div>

							
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
    
    
</div>