<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<form>','.form-inline','.inline','.form-horizontal','.control-group','.control-label','.controls'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide">Input Types</h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  
                                <h3 class="ipstyleguide">Input and text fields should be easily recognizeable, and should provide appropriate feedback when users interact with them.</h3>
                                
                                <p class="ipstyleguide">The style for our input and text fields have rounded corners of three pixels to make them recognizeable.</p>
                                                  
				  				<p class="ipstyleguide">When input and text fields are pressed or clicked, a cursor should appear and the field should change to an active or focused state.</p>
                                
                                <p class="ipstyleguide">Include either help placeholder text or content hinting if possible to improve usability.</p>
                  
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
                            <li><a href="#inputform">Input Form – Basic Example</a></li>
                            <li><a href="#optionallayouts">Optional Layouts</a></li>
                            <li><a href="#supportedformcontrols">Supported Form Controls</a></li>
                            <li class="page-nav-sub"><a href="#input">Input</a></li>
                            <li class="page-nav-sub"><a href="#textarea">Text Area</a></li>
                            <li class="page-nav-sub"><a href="#checkbox">Checkbox</a></li>
                            <li class="page-nav-sub"><a href="#radio">Radio</a></li>
                            <li class="page-nav-sub"><a href="#selects">Selects</a></li>
                            <li><a href="#extendingformcontrols">Extending Form Controls</a></li>
                            
                            <li><a href="#formactions">Form Actions - OK/Cancel</a></li>
                            <li><a href="#helptext">Help Text</a></li>
                            <li><a href="#formcontrolstates">Form Control States</a></li>
                            <li class="page-nav-sub"><a href="#disabledinputs">Disabled Input</a></li>
                            <li class="page-nav-sub"><a href="#readonlyinputs">Readonly Input</a></li>
                            <li class="page-nav-sub"><a href="#validationstates">Validation States</a></li>
                            <!--
                            <li><a href="#Buttonaddons">Button addons</a></li>
                            <li><a href="#Sizing">Sizing</a></li>
                            <li><a href="#Buttonsdropdowns">Buttons with dropdowns</a></li>
                            <li><a href="#Segmentedbuttons">Segmented buttons</a></li>
                            <li><a href="#Multiplebuttons">Multiple buttons</a></li>
                            -->
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                
                
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="inputform"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Input Form - Basic Example</h2>
                                
                                <p class="ipstyleguide">Individual form controls receive styling, but without any required base class on the &#60;form&#62; or large changes in markup. Results in stacked, left-aligned labels on top of form controls.</p>
                                
                                <?php
                                
                                $ui = "form_default"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="optionallayouts"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Optional Layouts</h2>
                                
                                <p class="ipstyleguide">Included with Bootstrap are three optional form layouts for common use cases.</p>
                                
                                <h3 class="ipstyleguide">Inline form</h3>
                                
                                <p class="ipstyleguide">Add .form-inline for left-aligned labels and inline-block controls for a compact layout.</p>
                                
                                <?php
                                
                                $ui = "form_inline"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            <!--
                            <div>
                                <h3 class="ipstyleguide">Horizontal form</h3>
                                
                                <p class="ipstyleguide">Right align labels and float them to the left to make them appear on the same line as controls. Requires the most markup changes from a default form:</p>
                                <ul>
                                    <li class="ipstyleguide">Add .form-horizontal to the form</li>
                                    <li class="ipstyleguide">Wrap labels and controls in .control-group</li>
                                    <li class="ipstyleguide">Add .control-label to the label</li>
                                    <li class="ipstyleguide">Wrap any associated controls in .controls for proper alignment</li>
                                </ul>
                               
                                <?php /*
                                
                                $ui = "form_horizontal"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							} */
								?>
                                
			      			</div>     
                            
                            <div id="code">                                
                    			<?php // getContent($ui); // display html, css, less code ?>
			      			</div>
                            -->

			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="supportedformcontrols"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Supported Form Controls</h2>
                                
                                <h3 class="ipstyleguide" id="input">Inputs</h3>
                                
                                <p class="ipstyleguide">Most common form control, text-based input fields. Includes support for all HTML5 types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.</p>
                                
                                <p class="ipstyleguide">Requires the use of a specified type at all times.</p>
                                
                                <?php
                                
                                $ui = "form_input"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            
                            <div> <!-- Navigation ID for Table of Contents -->                                
                                <h3 class="ipstyleguide" id="textarea">Text Area</h3>
                                
                                <p>Form control which supports multiple lines of text. Change rows attribute as necessary.</p>
                                
                                <?php
                                
                                $ui = "form_textarea"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            <div> <!-- Navigation ID for Table of Contents -->                                
                                <h3 class="ipstyleguide" id="checkbox">Checkboxes</h3>
                                
                                <p class="ipstyleguide">Checkboxes are for selecting one or several options in a list while radios are for selecting one option from many.</p>
                                
                                <p class="ipstyleguide"><strong>Default (stacked)</strong></p>
                                
                                <?php
                                
                                $ui = "form_checkbox"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            
                            <div> <!-- Navigation ID for Table of Contents -->                                
                                <h3 class="ipstyleguide" id="radio">Radio Buttons</h3>
                                
                        
                                
                                <?php
                                
                                $ui = "form_radio"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            
                        
                            <div>&nbsp;</div>
                            
                            
                            <div> <!-- Navigation ID for Table of Contents -->                                
                                <h3 class="ipstyleguide" id="selects">Selects</h3>
                                
                                <p class="ipstyleguide">Use the default option or specify a multiple="multiple" to show multiple options at once.</p>
                                
                                
                                <?php
                                
                                $ui = "form_select"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
   
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="extendingformcontrols"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Extending Form Controls</h2>
                                
                                <p class="ipstyleguide">Adding on top of existing browser controls, Bootstrap includes other useful form components.</p>
                                
			      			</div>
                            
                            <div> <!-- Navigation ID for Table of Contents -->
                        
                                
                                <?php
                                
                                $ui = "form_extendedinput"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
			    
                            
                            
                            <div> <!-- Navigation ID for Table of Contents -->
                                <h3 class="ipstyleguide">Buttons Instead of Text</h3>
                                
                                <p class="ipstyleguide">Instead of a &#60;span&#62; with text, use a .btn to attach a button (or two) to an input.</p>

                                
                                <?php
                                $ui = "form_inputbuttoninsteadoftext"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            <div> <!-- Navigation ID for Table of Contents -->
                                
                                
                                <?php
                                $ui = "form_inputbuttoninsteadoftext2"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            <div> <!-- Navigation ID for Table of Contents -->
                                <h3 class="ipstyleguide">Button Dropdowns</h3>
                                
                                <p class="ipstyleguide">Instead of a &#60;span&#62; with text, use a .btn to attach a button (or two) to an input.</p>

                                
                                <?php
                                $ui = "form_buttondropdown"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>                             
                            
                            
                            
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
        

    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="formactions"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Form Actions - OK/Cancel</h2>
                                
                                <p class="ipstyleguide">Individual form controls receive styling, but without any required base class on the &#60;form&#62; or large changes in markup. Results in stacked, left-aligned labels on top of form controls.</p>
                                
                                <?php
                                $ui = "form_actions"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="helptext"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Help Text</h2>
                                
                                <p class="ipstyleguide">Inline and block level support for help text that appears around form controls.</p>
                                
                                <h3 class="ipstyleguide">Inline help</h3>
                                
                                <?php
                                
                                $ui = "form_helptextinline"; // define UI topic

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            
                            <div id="helptext"> <!-- Navigation ID for Table of Contents -->
                                                                
                                <h3 class="ipstyleguide">Block Help</h3>
                                
                                <?php
                                $ui = "form_helpblock"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>                            
                            
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->        

    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="formcontrolstates"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Form Control States</h2>
                                
                                <p class="ipstyleguide">Provide feedback to users or visitors with basic feedback states on form controls and labels.</p>
                                
                                <h3 class="ipstyleguide">Input focus</h3>
                                
                                <p class="ipstyleguide">We remove the default outline styles on some form controls and apply a box-shadow in its place for :focus.</p>
                                
                                <?php
                                $ui = "form_inputfocus"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <div>&nbsp;</div>
                            
                            <div> <!-- Navigation ID for Table of Contents -->
                                                                
                                <h3 class="ipstyleguide">Invalid Inputs</h3>
                                
                                <p class="ipstyleguide">Style inputs via default browser functionality with :invalid. Specify a type, add the required attribute if the field is not optional, and (if applicable) specify a pattern.</p>
                                
                                <p class="ipstyleguide">This is not available in versions of Internet Explorer 7-9 due to lack of support for CSS pseudo selectors.</p>
                                
                                <?php
                                $ui = "form_invalidinput"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>      
                            
                            
                            <div>&nbsp;</div>
                            
                            <div id="disabledinputs"> <!-- Navigation ID for Table of Contents -->
                                                                
                                <h3 class="ipstyleguide">Disabled Input</h3>
                                
                                <p class="ipstyleguide">Add the <i>disabled</i> attribute on an input field to prevent user input and display a slightly different look.</p>
                                
                                
                                
                                <?php
                                $ui = "form_disabledinput"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                             <div>&nbsp;</div>
                            
                            <div id="readonlyinputs"> <!-- Navigation ID for Table of Contents -->
                                                                
                                <h3 class="ipstyleguide">Read-only Input</h3>
                                
                                <p class="ipstyleguide">Add the <i>readonly</i> attribute on an input field that has restricted content and when readability of that content is necessary to the intent of the form.</p>
                                
                                
                                
                                <?php
                                $ui = "form_inputreadonly"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            
                            <div>&nbsp;</div>
                            
                            <div id="validationstates"> <!-- Navigation ID for Table of Contents -->
                                                                
                                <h3 class="ipstyleguide">Validation States</h3>
                                
                                <p class="ipstyleguide">Bootstrap includes validation styles for error, warning, info, and success messages. To use, add the appropriate class to the surrounding .control-group.</p>
                                
                                
                                <?php
                                $ui = "form_validationstates"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    

    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->            
    
                    <div>&nbsp;</div>
    
    
</div><!-- end container-fluid -->