<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Hyperlinks allow users to navigate to content.</h3>
                  
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#contentlinks">Content Links</a></li>
							<li><a href="#linkswithicons">Links with Icons</a></li>
							<li><a href="#navigationlinks">Navigation Links</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="contentlinks"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Content Links</h2>
                                
                                <p class="ipstyleguide">The styling trend is to color hyperlinks but turn off the hyperunderline link by default. However on hover we should display the underline to re-inforce that the colored text is a hyperlink.</p>
                                     
                                
                                
                                <?php
                                
                                $ui = "linkscontent"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="linkswithicons"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Links with Icons</h2>
                                
                                <p class="ipstyleguide">Icons with hyperlinks should be used sparingly. Consider including an icon only when something unexpected might happen.</p>
                                
                                <p class="ipstyleguide">In this example, the icon is intended to let the user know that the link will open a new browser window.</p>
                                
                                <?php
                                
                                $ui = "linkswithicons"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
        
    
    
    
    
    
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="navigationlinks"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Navigation Links</h2>
                                
                                <p class="ipstyleguide">Navigation links are used often at the top of a web page, underneath the header or main navivation, allowing users to navigate to sub-sections within a major topic.</p>
                                
                                <?php
                                
                                $ui = "navigationlinks"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
</div><!-- End container-fluid -->