<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<div>','<ul>','.disabled','.list-group-item','.active'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                                    
                                <h3 class="ipstyleguide">List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.</h3a>
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#basicexample">Basic Example</a></li>
							<li><a href="#badges">Badges</a></li>
							<li><a href="#linkeditems">Linked Items</a></li>
							<li><a href="#buttonitems">Button Items</a></li>
							<li><a href="#disableditems">Disabled Items</a></li>
							<li><a href="#contextualclasses">Contextual Classes</a></li>
							<li><a href="#customcontent">Custom Content</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->     
    
    
    
    
    
                     <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="basicexample"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Basic Example</h2>
                                
                                <?php
                                $ui = "list-group-basic"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->   
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="basicexample"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Badges</h2>
                                
                                <p>Add the badges component to any list group item and it will automatically be positioned on the right.</p>
                                
                                <?php
                                $ui = "list-group-badges"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="linkeditems"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Linked Items</h2>
                                        
                                <p>Linkify list group items by using anchor tags instead of list items (that also means a parent &#60;div&#62; instead of an &#60;ul&#62;). No need for individual parents around each element.</p>
                                
                                <?php
                                $ui = "list-group-linkeditems"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="buttonitems"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Button Items</h2>
                                        
                                <p>List group items may be buttons instead of list items (that also means a parent &#60;div&#62; instead of an &#60;ul&#62;). No need for individual parents around each element. <strong>Don't use the standard .btn classes here.</strong></p>
                                
                                <?php
                                $ui = "list-group-buttonitems"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="disableditems"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Disabled Items</h2>
                                        
                                <p>Add .disabled to a .list-group-item to gray it out to appear disabled.</p>
                                
                                <?php
                                $ui = "list-group-disableditems"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="contextualclasses"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Contextual Classes</h2>
                                        
                                <p>Use contextual classes to style list items, default or linked. Also includes .active state.</p>
                                
                                <?php
                                $ui = "list-group-contextualclasses"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
   
    
    
    
                     <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div id="customcontent"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Custom Content</h2>
                                        
                                <p>Add nearly any HTML within, even for linked list groups like the one below.</p>
                                
                                <?php
                                $ui = "list-group-customcontent"; // define UI topic 
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
</div>