<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Page headers help users quickly and easily understand location within an app or website.</h3>
                  
                                <p>Page headers should be prominent in the page hierarchy and include enough white space to separate them from content.</p>
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#pagetitle">Page Headers</a></li>
							<li><a href="#pagetitlewithcounter">Page Headers with Counter</a></li>
							<li><a href="#pagetitleexample">Page Header Examples</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="pagetitle"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Page Headers</h2>                                
                                
                                <p class="ipstyleguide">Page headers should be prominent and easily readable and help establish the hierarchy of the page. Page headers can also include also sub headers.</p>
                                
                                <?php

                                $ui = "page_header"; // define UI topic

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="pagetitlewithcounter"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Page Header with Results Count</h2>                                
                                
                                <p class="ipstyleguide">In this example the sub title is a page counter, where the main content of the page is a list control.</p>
                                
                                <?php
                                
                                $ui = "page_header_counter"; // define UI topic

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="pagetitleexample"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Page Header Examples</h2>                                
                                
                                <h3 class="ipstyleguide">MOVEit Automation</h3>
                                
                                <img src="markup/ui-spec/MOVEitCentralPageTitle.png" width="704" height="240" />
                                <p class="ipstyleguide">&nbsp;</p>

                                <img src="markup/ui-spec/MOVEitCentralPageTitle2.png" width="705" height="267" />

                                                                <p class="ipstyleguide">&nbsp;</p>
                                <h3 class="ipstyleguide">WhatsUp Gold</h3>
                                <img src="markup/ui-spec/WUGPageTitle.png" width="679" height="318" />

                                
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->

    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
    
    
    
    
</div>