<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<span>','.sr-only','min-width','.progress-bar-striped','style-src','\'unsafe-inline\'','element.style.width','.progress'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>


<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Progress bars provide visual feedback and status of a process or action.</h3>
                                         
                                <p>Generally, we should find ways to avoid making users wait for any UI, action or process. But when framework, connectivity or database overhead cause delays, consider using one of these options.
                                
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#bootstrap-progress-bars">Bootstrap Progress Bars</a></li>
							<li><a href="#sign-in-preloaders">Sign In Preloaders</a></li>
							<li><a href="#modaloprogresspercentage">Modal Progress Status with Percentage</a></li>
							<li><a href="#popupprogress">Popup Progress Status with Percentage</a></li>
							<li><a href="#spinners">Spinners - CSS/HTML</a></li>
							<li><a href="#horizontalprogress">Horizontal Progress Bars</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->

    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="bootstrap-progress-bars"> <!-- Navigation ID for Table of Contents -->
                                
                    			<h2 class="article-title ipstyleguide">Bootstrap Progress Bars</h2>
                                
                                <p class="ipstyleguide">Wrap any text and an optional dismiss button in .alert and one of the four contextual classes (e.g., .alert-success) for basic alert messages.</p>
                                
                               <div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
                                    <h4>Cross-browser Compatibility</h4>
                                    <p>Progress bars use CSS3 transitions and animations to achieve some of their effects. These features are not supported in Internet Explorer 9 and below or older versions of Firefox. Opera 12 does not support animations.</p>
                                </div>
                                     
                                <div class="bs-callout bs-callout-info">
                                    <h4 id="callout-progress-csp">Content Security Policy (CSP) Compatibility</h4>
                                    <p>If your website has a <a href="https://developer.mozilla.org/en-US/docs/Web/Security/CSP">Content Security Policy (CSP)</a> which doesn't allow style-src 'unsafe-inline', then you won't be able to use inline <code>style</code> attributes to set progress bar widths as shown in our examples below. Alternative methods for setting the widths that are compatible with strict CSPs include using a little custom JavaScript (that sets element.style.width) or using custom CSS classes.</p>
                                </div>
                                
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->        
                                
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                    			<h3 class="article-title ipstyleguide">Basic Example</h2>
                                
                                <p class="ipstyleguide">Default progress bar.</p>
                        
                                <?php
                                
                                $ui = "progressbar-basic-example"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                            <div> <!-- Navigation ID for Table of Contents -->
                                <img src="markup/ui-spec/horizontal-progressbar.png" width="916" height="403" />                                
                            </div>
                        </div>    
			      		<div class="col-lg-1"></div>
                    </div>
    
                        
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                    			<h3 class="article-title ipstyleguide">With Label</h2>
                                
                                <p class="ipstyleguide">Remove the &#60;span&#62; with .sr-only class from within the progress bar to show a visible percentage.</p>
                        
                                <?php
                                
                                $ui = "progressbar-with-label"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                                
                                <p class="ipstyleguide">To ensure that the label text remains legible even for low percentages, consider adding a min-width to the progress bar.</p>
                        
                                <?php
                                
                                $ui = "progressbar-with-label2"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                       
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                                
                                <h3 class="ipstyleguide">Contextual Alternatives</h3>
                                
                                <p class="ipstyleguide">Progress bars use some of the same button and alert classes for consistent styles.</p>
                        
                                <?php
                                
                                $ui = "progressbar-contextual"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
                        
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                                
                                <h3 class="ipstyleguide">Striped</h3>
                                
                                <p class="ipstyleguide">Uses a gradient to create a striped effect. Not available in IE9 and below.</p>
                        
                                <?php
                                
                                $ui = "progressbar-striped"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                          
                        
                        
                        
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                                
                                <h3 class="ipstyleguide">Animated</h3>
                                
                                <p class="ipstyleguide">Add .active to .progress-bar-striped to animate the stripes right to left. Not available in IE9 and below.

                                </p>
                        
                                <?php
                                
                                $ui = "progressbar-animated"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
                        
                        
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
			      			<div>    
                                
                                <h3 class="ipstyleguide">Stacked</h3>
                                
                                <p class="ipstyleguide">Place multiple bars into the same .progress to stack them.</p>
                        
                                <?php
                                
                                $ui = "progressbar-stacked"; // define UI topic
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id="sign-in-preloaders"> <!-- Navigation ID for Table of Contents -->
                    			
                             <h2 class="article-title ipstyleguide">Sign In Preloaders</h2>                                
                                
                                <p class="ipstyleguide">With Sign In validation and delays, consider using this Preloader. This assumes that the user cannot interact with anything else on the screen while loading is occurring in the background.</p>                           
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6"></div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    

                   <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			
                                <h3 class="ipstyleguide">Horizontal preloader with logo and white background</h3>
                                
                                <p class="ipstyleguide">Use this preloader when the UI framework shows only a white background during loading of the application after sign-in.</p>                                
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6">
                                <img src="markup/ui-spec/signinpreloader.png" width="623" height="426" />                                
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-12">&nbsp;</div>
                    </div>
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                    			<h3 class="article-title ipstyleguide">Horizontal "Modal Style" Preloader</h3>                                
                               
                                
                                <p class="ipstyleguide">Use this preloader when the user cannot perform additional actions until the process is complete.
                                    In this version, a dark covers the entire screen underneath the preloader pop-up dialog, to help communicate that the UI is inactive until the process is complete.</p>
                                                            
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6">
                                <img src="markup/ui-spec/PreloaderHorizontalModal.png" width="549" height="349" />                                
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->


        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    

    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id="modaloprogresspercentage"> <!-- Navigation ID for Table of Contents -->
                             <h2 class="article-title ipstyleguide">Modal Progress Status with Percentage</h2>                                
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6"></div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                                
                                <p class="ipstyleguide">Use this loader when the user cannot perform additional actions until the process is complete.</p> 
                                
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6">
                                <img src="markup/ui-spec/modalprogressstatus.png" width="520" height="319" />          
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span>Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
    
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id="popupprogress"> <!-- Navigation ID for Table of Contents -->
                             <h2 class="article-title ipstyleguide">Popup Progress Status with Percentage</h2>                                
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6"></div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-4">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                                
                                <p class="ipstyleguide">This is an example of a popup progress loader that can be used if additional tasks or features can be taken while a task is processing in the background.</p> 
                                
			      			</div>                        
			    
                  		</div>
                        <div class="col-lg-6">
                                <img src="markup/ui-spec/Popupprogress.png" width="469" height="310" />          
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->  
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->     
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                            <div id="spinners"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Spinners - CSS/HTML</h2>
                            </div>
                        </div>    
			      		<div class="col-lg-1"></div>
                    </div>    
                                
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                                
                                <h3 class="ipstyleguide">Small Spinner</h3>
                                
                                <p class="ipstyleguide">A spinner is appropriate for describing loading processes or content inside grid rows.</p>
                                
                                <?php

                                $ui = "spinner-small"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id=""> <!-- Navigation ID for Table of Contents -->
                                
                                <h3 class="ipstyleguide">Neutral Spinner</h3>
                                
                                <p class="ipstyleguide">If multiple background process are occuring and less visual attention is needed consider using a  neutral color spinner. An example of this context would be inside WhatsUpGold, where multiple "Wuglets" within a dashboard are loading data at the same time.</p>
                                
                                <p class="ipstyleguide">In this example the Spinner is styled grey with a slower animation.</p>
                                
                                <?php

                                $ui = "spinner-wuglet"; // define UI topic 

								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row --> 
    
    
                   


</div>