<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['<table>','.table'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>

<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Tables are effective and efficient for displaying data.</h3>
                  
                                <p>The table component may not have as many robust controls, such as row and column sorting. Consider a <a href="http://localhost:8888/BBIPStyleGuide/topic.php?title=Grid%20List&category=components&topic=grid_list">Grid List</a> component if more complex interactions are required.</p>
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#table">Basic Table</a></li>
							<li><a href="#table-contextual-classes">Table - Contextual Classes</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="table"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Basic Table</h2>
                                
                                <p class="ipstyleguide">For basic styling—light padding and only horizontal dividers—add the base class .table to any &#60table&#62;. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
                                
                                <?php
                                
                                $ui = "table-basic"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="table-contextual-classes"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Table Contextual Classes</h2>
                                                       
                                <table class="table table-bordered table-striped"> <colgroup> <col class="col-xs-1"> <col class="col-xs-7"> </colgroup> <thead> <tr> <th>Class</th> <th>Description</th> </tr> </thead> <tbody> <tr> <th scope="row"> <code>.active</code> </th> <td>Applies the hover color to a particular row or cell</td> </tr> <tr> <th scope="row"> <code>.success</code> </th> <td>Indicates a successful or positive action</td> </tr> <tr> <th scope="row"> <code>.info</code> </th> <td>Indicates a neutral informative change or action</td> </tr> <tr> <th scope="row"> <code>.warning</code> </th> <td>Indicates a warning that might need attention</td> </tr> <tr> <th scope="row"> <code>.danger</code> </th> <td>Indicates a dangerous or potentially negative action</td> </tr> </tbody> </table>
                                
                                
                                <?php
                                
                                $ui = "table_contextualclasses"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
        
    
    
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->

    
    
</div>