<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['.btn-group-vertical','.btn-toolbar-horizon-left','.btn-toolbar-horizon','.btn-toolbar-horizon-right'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>



<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                  				<h3 class="ipstyleguide">Toolbars consist of a series of controls, often represented by text or icons that allow users to perform actions or edits.</h3>
                  
                                <p>This control differs from the bootstrap button toolbar control in that the separating lines are removed between icons to limit visual noise.</p>
                                
                                <p>Examples of toolbars might include a series of text edit tools, or page layout controls.</p>
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->




                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#horizontal-toolbar">Horizontal Toolbars</a></li>
							<li><a href="#vertical-toolbar">Verticle Toolbars</a></li>
							<li><a href="#vertical-toolbar-large">Verticle Toolbars - Large</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    



                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="horizontal-toolbar"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Horizontal Toolbars</h2>
                                
                                <p class="ipstyleguide">Combine sets of &#60;div class="btn-group"&#62; into a &#60;div class="btn-toolbar"&#62; for more complex components.</p>
                                
                                <p>Additional classes are needed in order to style this toolbar without the inside vertical lines.</p>
                                
                                <p>
                                <strong>Left button</strong>, .btn-toolbar-horizon-left<br />
                                <strong>Middle buttons</strong>, .btn-toolbar-horizon<br />
                                <strong>Right button</strong>, .btn-toolbar-horizon-right
                                </p>
                                
                                <?php
                                
                                $ui = "toolbar-horizontal"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="vertical-toolbar"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Vertical Toolbars</h2>
                                
                                <p>Vertical toolbars should use Bootstrap's .btn-group-vertical class.</p>
                                
                                <p>Additional classes are needed in order to style this toolbar without the inside vertical lines.</p>
                                
                                <p>
                                <strong>Top button</strong>, .btn-toolbar-vertical-left<br />
                                <strong>Middle buttons</strong>, .btn-toolbar-vertical<br />
                                <strong>Bottom button</strong>, .btn-toolbar-vertical-bottom
                                </p>
                                
                                <?php
                                
                                $ui = "toolbar-vertical"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
			      			<div id="vertical-toolbar-large"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Vertical Toolbars - Large</h2>
                                
                                <?php
                                
                                $ui = "toolbar-vertical-large"; // define UI topic 
                                
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div class="htmlexample">';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
			      			</div>

							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?> 
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->


        
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->















</div>