<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
                            <h3 class="ipstyleguide">Guidelines are provided to help promote consistent use of margins, spacing and positioning of UI elements within the Ipswitch family of products.</h3>                                
                                
                            <p class="ipstyleguide">Although many of our products are data focused and screen real estate is considered a premium, effective use of white space will help users visually scan and locate content faster and improve usability.</p>    
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#page-margins">Page Margins</a></li>
							<li><a href="#dialog-margins">Dialog Margins</a></li>
							<li><a href="#vertical-spacing">Vertical Spacing</a></li>
							<li><a href="#horizontal-spacing">Horizontal Spacing</a></li>
							<li><a href="#hitsize-smallcomponents">Hit Size for Small Components</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->      
    
    
    
                	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-7">
                  
			      			<div id="page-margins"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Page Margins</h2>
                                
                                <h3 class="ipstyleguide">Maintain a 20 pixel margin along left, right, bottom and just underneath the top navigation bar.</h3> 
                                
                                <p class="ipstyleguide">This margin treatment will ensure appropriate separation between page content and the top navigation. It will also provide good separation between the browser edge for resizing and page content.</p>
                     
                                <p class="ipstyleguide"><img src="markup/ui-spec/PageMargin.png" width="909" height="388" /></p>
                                
			      			</div>
							                            
                  		</div>
                        <div class="col-lg-3"></div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
            
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                  
			      			<div id="dialog-margins"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Dialog Margins</h2>
                                
                                <h3 class="ipstyleguide">Dialog panels should also maintain a 20px margin along its edges and just underneath the title header.</h3> 
                                <p class="ipstyleguide">Use <strong>20 pixels</strong> of margin in the title header of the dialog.</p>
                                <p class="ipstyleguide">Use <strong>20 pixels</strong> of margin the dialog footer.</p>
                     
                                <p class="ipstyleguide"><span class="ipstyleguidenote">(This specification is under review and may be revised.)</span></p>
			      			</div>
							                            
                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/DialogMargins.png" width="649" height="367" /></p>
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
            
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                  
			      			<div id="vertical-spacing"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Vertical Spacing</h2>
                                
                                <h3 class="ipstyleguide">Take advantage of appropriate white space to help users understand visual separation between components.</h3> 
                                <p class="ipstyleguide">Use <strong>10 pixels</strong> between a component and its label.</p>
                                <p class="ipstyleguide">Use <strong>20 pixels</strong> of space above a component label and the previous component.</p>
                     
			      			</div>
							                            
                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/VerticalSpacingControls.png" width="644" height="353" /></p>
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
            
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
                  
			      			<div id="horizontal-spacing"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Horizontal Spacing</h2>                              
			      			</div>
							                            
                  		</div>
                        <div class="col-lg-5">
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">                                
                                <h3 class="ipstyleguide">Use 5 pixels of spacing between a series of horizontal buttons.</h3> 
                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/HorizontalSpacing-01.png" width="519" height="103" /></p>
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">                                
                                <h3 class="ipstyleguide">Use 10 pixels of spacing between labels and mixed components.</h3> 
                                <p class="ipstyleguide">When multiple labels exist next to a component, consider adding a divider and use 10 pixels on either side to improve visual distinction</p>
                                <p class="ipstyleguide">Use 10 pixels of spacing between labels and check box/radio components.</p> 

                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/HorizontalSpacing-02.png" width="519" height="123" /></p>
                                <p class="ipstyleguide"><img src="markup/ui-spec/HorizontalSpacing-03.png" width="519" height="126" /></p>
                                <p class="ipstyleguide"><img src="markup/ui-spec/HorizontalSpacing-04.png" width="519" height="149" /></p>
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
            
    
        			<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">
			      			<div id="hitsize-smallcomponents"> <!-- Navigation ID for Table of Contents -->
                    			<h2 class="article-title ipstyleguide">Hit Size for Small Components</h2>                              
			      			</div>
                  		</div>
                        <div class="col-lg-5">
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">                                
                                <h3 class="ipstyleguide">Windows 8 recommends an absolute minimum hit area size of 7mm (38x38) to support touch devices.</h3>
                            <h3 class="ipstyleguide">However since the majority of our target users have traditional non-touch desktop and laptop devices, users want our products to maximize the vertical real estate for content, especially those users that have smaller screen resolutions.</h3>
                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/HitAreaCheckbox-01.png" width="445" height="146" /></p>                            
                                
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">                                
                                <h3 class="ipstyleguide">A slightly smaller hit area of 6mm (32x32) attempts to meet both demands for traditional laptop and Microsoft Surface like devices. This is a design compromize of being touch ready versus touch perfect.</h3>
                                <p class="ipstyleguide">For Checkbox, Radio components or any component that is smaller than 32 pixels, ensure the touch hit area is larger then the actual visible control.</p>
                  		</div>
                        <div class="col-lg-5">
                                <p class="ipstyleguide"><img src="markup/ui-spec/HitAreaCheckbox-02.png" width="455" height="92" /></p>                            
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-5">                                
                                <p class="ipstyleguide">When checkbox is used in a grid, ensure the hit area height consumes the full height 
of the cell as well as the matching width.</p>
                                <p class="ipstyleguide"><img src="markup/ui-spec/HitAreaCheckbox-03.png" width="961" height="209" /></p>
                  		</div>
                        <div class="col-lg-5">
                        </div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
    
    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
    
    
</div>