
<script type='text/javascript'>//<![CDATA[
		window.onload=function(){
		var markInstance = new Mark(document.querySelector(".container-fluid"));
		function performMark() {
			
		  // Read the keyword
		  var keyword = ['.col-md-*','.container','.container-fluid','.col-xs-*','.col-md-*','.clearfix','.col-md-offset-*','*','.col-*-offset-0','.row','.col-sm-*','.col-md-push-*','.col-md-pull-*'];
		  
		  // the new keyword inside the context
		  markInstance.mark(keyword);
		};
		
		performMark();
		
		}//]]> 

</script>


<div class="container-fluid">
					<div class="row title-row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-10">
                  				<h1 class="ipstyleguide"><?php echo $_GET['title']; ?></h1>
                  			</div>
			      			<div class="col-lg-1"></div>
		        	</div><!-- end row -->
			      	<div class="row">
			      			<div class="col-lg-1"></div>
			      			<div class="col-lg-7">
                  
<h3 class="ipstyleguide">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.</h3>                                
                                
                  
                  				
                  			</div>
			      			<div class="col-lg-4"></div>
		        	</div><!-- end row -->
                    
                    
		        	<div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  
                  		<ul class="page-nav">
							<li><span class="page-nav-title">Contents</span></li>
							<li><a href="#Stacked-to-horizontal">Stacked-to-Horizontal</a></li>
							<li><a href="#Fluid-container">Fluid Container</a></li>
							<li><a href="#Mobile_and_desktop">Mobile and Desktop</a></li>
							<li><a href="#Mobile_tablet_desktop">Mobile, Tablet, Desktop</a></li>
							<li><a href="#Column_wrapping">Column Wrapping</a></li>
							<li><a href="#Responsive_column_resets">Responsive Column Resets</a></li>
							<li><a href="#Offset_columns">Offset Columns</a></li>
							<li><a href="#Nesting_columns">Nesting Columns</a></li>
							<li><a href="#Column_ordering">Column Ordering</a></li>
							<li><a href="#Less_mixins_and_variables">Less Mixins and Variables</a></li>
						</ul>
                  
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                    
					<stylebootstrapgrids>                   
                    
                    
                    
					<div class="row" id="Stacked-to-horizontal"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Stacked-to-Horizontal</h2>
                                
                                <p>Using a single set of .col-md-* grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any .row.</p>
                                
                                <?php
                                $ui = "grid_stacked_to_horizontal"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                        
                    
					<div class="row" id="Fluid-container"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Fluid Container</h2>
                                
                                <p>Turn any fixed-width grid layout into a full-width layout by changing your outermost .container to .container-fluid.</p>
                                
                                <?php
                                $ui = "grid_fluid_container"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                        
                        
                    
                    <div class="row" id="Mobile_and_desktop"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Mobile and Desktop</h2>
                                
                                <p>Don't want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding .col-xs-* .col-md-* to your columns. See the example below for a better idea of how it all works.</p>
                                
                                <?php
                                $ui = "grid_mobile_and_desktop"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->     
                    
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                        
                        
                        
                    
                    <div class="row" id="Mobile_tablet_desktop"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Mobile, Tablet, Desktop</h2>
                                
                                <p>Build on the previous example by creating even more dynamic and powerful layouts with tablet .col-sm-* classes.</p>
                                
                                <?php
                                $ui = "grid_mobile_tablet_desktop"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->   
                    

                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                        
                        
                    
                    
                    <div class="row" id="Responsive_column_resets"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Responsive Column Resets</h2>
                                
                                <p>With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and our responsive utility classes.</p>
                                
                                <?php
                                $ui = "grid_responsive_column_resets"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            <p>&nbsp;</p>
                            <p>In addition to column clearing at responsive breakpoints, you may need to reset offsets, pushes, or pulls. See this in action in the grid example.</p>
                            <div id="code">                                
                    			<?php getContent('grid_responsive_column_resets2'); // display html, css, less code ?>
			      			</div>

			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->        

                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
                        
                        
                    
					<div class="row" id="Offsetting_columns"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Offsetting Columns</h2>
                                
                                <p>Move columns to the right using .col-md-offset-* classes. These classes increase the left margin of a column by * columns. For example, .col-md-offset-4 moves .col-md-4 over four columns.</p>
                                
                                <?php
                                $ui = "grid_offsetting_columns"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                            
                            <p>&nbsp;</p>
                            <p>You can also override offsets from lower grid tiers with .col-*-offset-0 classes.</p>
                            
							<div id="code">                                
                    			<?php getContent('grid_offsetting_columns2'); // display html, css, less code ?>
			      			</div>			    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->              
                    
                    
                        
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                        
                        
                        
                        
                    
                    
                    <div class="row" id="Nesting_columns"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Nesting Columns</h2>
                                
                                <p>To nest your content with the default grid, add a new .row and set of .col-sm-* columns within an existing .col-sm-* column. Nested rows should include a set of columns that add up to 12 or fewer (it is not required that you use all 12 available columns).</p>
                                         
                                <?php
                                $ui = "grid_nesting_columns"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                                                        	    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->    
                    
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                    
                    
                                       
                    
                    <div class="row" id="Column_ordering"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Column Ordering</h2>
                                
                                <p>Easily change the order of our built-in grid columns with .col-md-push-* and .col-md-pull-* modifier classes.</p>
                                         
                                <?php
                                $ui = "grid_column_ordering"; // define UI topic
								// Render Control
								// Check if html doc exists
								$htmlpath = 'markup/ui-html/'.$ui.'.html';
      							if (file_exists($htmlpath)) {
        							echo '<div>';
        							include($htmlpath);
        							echo '</div>';
      							}
								?>
                                
							</div>
							<div id="code">                                
                    			<?php getContent($ui); // display html, css, less code ?>
			      			</div>
                                                        	    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->     
                    
                    
                     <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->                   
                    
                    
                    <div class="row" id="Less_mixins_and_variables"> <!-- Navigation ID for Table of Contents -->
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10">
                  			<div>
                    			<h2 class="article-title ipstyleguide">Less Mixins and Variables</h2>
                                
                                <p>In addition to prebuilt grid classes for fast layouts, Bootstrap includes Less variables and mixins for quickly generating your own simple, semantic layouts.</p>
                                         
							</div>
                            <div>
                                <h3 class="ipstyleguide">Variables</h3>
                                <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
                            </div>
							<div id="code">                                
                    			<?php getContent('grid_less_mixin'); // display html, css, less code ?>
			      			</div>
                            
                            <p>&nbsp;</p>
                            
                            <div>
                                <h3 class="ipstyleguide">Mixins</h3>
                                <p>Mixins are used in conjunction with the grid variables to generate semantic CSS for individual grid columns.</p>
                            </div>
							<div id="code">                                
                    			<?php getContent('grid_mixin'); // display html, css, less code ?>
			      			</div>
                            
                            <p>&nbsp;</p>
                            
                            <div>
                                <h3 class="ipstyleguide">Example Usage</h3>
                                <p>You can modify the variables to your own custom values, or just use the mixins with their default values. Here's an example of using the default settings to create a two-column layout with a gap between.</p>
                            </div>
							<div id="code">                                
                    			<?php getContent('grid_mixin_example'); // display html, css, less code ?>
			      			</div>                                                        	    
                  		</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->     
                    
                    
                    <div class="row">
			      		<div class="col-lg-1"></div>
			      		<div class="col-lg-10 storydivider">
                    	<a href="#top" class="back-to-top"><span class="fa fa-chevron-up"></span> Back to top</a>
                        <hr />
                    	</div>
			      		<div class="col-lg-1"></div>
		        	</div><!-- end row -->
                    
                    
					</stylebootstrapgrids>                   
<p>&nbsp;</p>
<p>&nbsp;</p>             
</div><!-- end container-fluid -->



